<!--Section: Features v.1-->
<section class="mt-5">

    <!--Section heading-->
    <h5 class="h5 mb-5 font-weight-bold font_custom text-center" id="title">Utility:</h5>

    <!-- Grid row -->
    <div class="row font_custom">
      <div class="col-3">
        <div class="row d-flex justify-content-center">
            <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect (click)="goTo('utility_centrale')">CENTRALE</button>
        </div>
        <div class="row d-flex justify-content-center">
            <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect (click)="goTo('utility_piano')">PIANO</button>
        </div>
        <div class="row d-flex justify-content-center">
            <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect (click)="goTo('utility_professione')">PROFESSIONE</button>
        </div>
        <div class="row d-flex justify-content-center">
            <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect (click)="goTo('utility_tipoCliente')">TIPO CLIENTE</button>
        </div>
        <div class="row d-flex justify-content-center">
            <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect (click)="goTo('utility_tipoIntervento')">TIPOLOGIA INTERVENTO</button>
        </div>
        <div class="row d-flex justify-content-center">
            <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect (click)="goTo('utility_disdetta')">DISDETTA CONTRATTO</button>
        </div>
      </div>
      <div class="col-6">

      </div>
      <div class="col-3">
        <div class="row d-flex justify-content-center">
            <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect (click)="goTo('utility_tipoLocale')">TIPO LOCALE</button>
        </div>
        <div class="row d-flex justify-content-center">
            <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect (click)="goTo('utility_numeri')">NUMERI</button>
        </div>
        <div class="row d-flex justify-content-center">
            <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect (click)="goTo('utility_iva')">IVA</button>
        </div>
        <div class="row d-flex justify-content-center">
            <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect (click)="goTo('utility_statoCivile')">STATO CIVILE</button>
        </div>
        <div class="row d-flex justify-content-center">
            <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect (click)="goTo('utility_servizio')">SERVIZIO</button>
        </div>
        <div class="row d-flex justify-content-center">
          <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect (click)="goTo('utility_calendarscolor')"><mdb-icon far icon="calendar-alt"></mdb-icon>  CALENDAR COLORS</button>
        </div>
      </div>
    </div>
  </section>
  <!--Section: Features v.1-->
