.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}

.font_custom{
	font-family: "Tahoma";
    font-weight: 400;
    font-style: normal;
}

@media (min-width: 1366px){

  #title{
    font-size:
     40px;
  }

  mdb-card.card {
    height: 345px!important;
  }
}

@media (min-width: 1920px){
  #title{
    font-size:
     50px;
  }

  mdb-card.card {
    height: 345px!important;
  }

}




.btn[class*=btn-outline-] {
  font-weight: 900;
  min-width: 205px;
}



.card .card-body h1, .card .card-body h2, .card .card-body h3, .card .card-body h4, .card .card-body h5, .card .card-body h6 {
  font-weight: 900;
}

.md-form.md-outline .prefix ~ input, .md-form.md-outline .prefix ~ textarea {
  font-weight: 900;
}

.md-form.md-outline .prefix ~ label {
  font-weight: 900;
  font-size: small;
}

.btn-primary {
  background-color: #3f729b!important;
  color: #fff;
}
