<section class="text-center mt-3">
  <div class="card-deck font_custom">
      <!-- Card -->
      <mdb-card>
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <div class="row" id="card_row">
                  <div class="col-2" id="icon_column">
                    <div class="row d-flex justify-content-center">
                        <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="BACK" placement="right" mdbWavesEffect><mdb-icon fas icon="arrow-left" (click)="goTo('clientiAddImpianto',undefined,undefined)"></mdb-icon></a>
                    </div>
                  </div>
            <div class="col-11" id="component_column">
               <div class="row">
                 <div class="col-6 mt-2">
                        <h4> {{ titolo }} </h4>
                 </div>
                 <div class="col-6">
                    <!-- <button mdbBtn id="save" type="button" *ngIf="save" color="success" outline="true" size="sm" mdbWavesEffect>SALVA</button>
                    <button mdbBtn id="edit" type="button" *ngIf="edit" color="warning" outline="true" size="sm" mdbWavesEffect>EDIT</button>
                    <button mdbBtn id="delete"  type="button" *ngIf="delete" color="danger" outline="true" size="sm" mdbWavesEffect>ELIMINA</button> -->
                 </div>
               </div>
            <!--Text-->
            <mdb-card-text>
        <!-- seconda parte GENERALE-->
        <div class="row text-center mt-1" id="contenitore">
          <table mdbTableEditor  class="table table-striped z-depth-1" small="true" [itemsPerPage]="visibleItems" #table="mdbEditor" (rowHighlight)="highlightedRow = $event">
            <thead>
            <tr>
              <th  *ngFor="let head of headElements; let i = index" scope="col">{{head}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of table.performSearch(this.searchText); let i = index" (click)="goTo('clientiAddIntervento', item, i)">
              <td>{{item.dataInterventoString}}</td>
              <td>{{item.riepilogoAB}}</td>
              <td>{{item.tipoIntervento}}</td>
              <td>{{item.costoIntervento}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="7">
                <div class="d-flex flex-center">
                  <span>Visualizzando da {{table.paginationInfo.firstItem}} a {{table.paginationInfo.lastItem}} di {{table.paginationInfo.allItems}} risultati</span>
                  <div class="flex-1"></div>
                  <mdb-icon fas icon="angle-left" size="sm" (click)="table.prevPage()" class="p-2"
                            [ngClass]="{'disabled text-muted': table.disablePrevious()}" id="prev" mdbWavesEffect></mdb-icon>
                  <mdb-icon fas icon="angle-right" size="sm" (click)="table.nextPage()" class="p-2"
                            [ngClass]="{'disabled text-muted': table.disableNext()}" id="post" mdbWavesEffect></mdb-icon>
                  <mdb-icon class="mr-1 ml-2" id="plus" fas icon="plus" (click)="goTo('clientiAddIntervento',undefined,undefined)"></mdb-icon>
                </div>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
        <div class="row">
          <div class="col-9"></div>
          <div class="col-3">
              <!-- <button mdbBtn type="button" outline="true" size="sm" color="primary" (click)="goTo('clientiAddIntervento')" mdbWavesEffect><mdb-icon id="addImpianto" fas icon="plus" class="mr-1" ></mdb-icon>ADD</button> -->
          </div>
        </div>
        </mdb-card-text>
        </div>
        </div>
        </mdb-card-body>
      </mdb-card>
    </div>
</section>
