.tr-color-selected{
  background-color: hsla(196, 77%, 55%, 0.3) !important;
  transition: all .2s ease-in;
}
td {
  vertical-align: middle !important;
  font-size: 13px;
  font-weight: 900;
}

.font_custom{
	font-family: "Tahoma";
    font-weight: 400;
    font-style: normal;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}


@media (min-width: 1366px){
  mdb-card.card {
    height: 530px !important;
  }
  .md-form.md-outline.form-sm .form-control.form-control-sm {
    padding: 0.25rem 0.625rem;
    font-size: 0.8rem;
  }

  div#contenitore {
    margin-top: 7px!important;
  }
}

@media (min-width: 1920px){
  mdb-card.card {
    height: 825px !important;
  }

  div#contenitore {
    padding-top: 124px;
  }

}

.btn[class*=btn-outline-] {
  font-weight: 900;
}

#card_row{
  height: 100%!important;
}

.card .card-body h1, .card .card-body h2, .card .card-body h3, .card .card-body h4, .card .card-body h5, .card .card-body h6 {
  font-weight: 900;
  color: #3f729b;
}

div#icon_column {
  max-width: 8%;
  border-right-color: #3f729b;
  border-right-style: solid;
  border-right-width: thin;
  align-self: center;
}

mdb-icon.fas {
  background-color: #3f729b;
}


mdb-icon#prev, mdb-icon#post, mdb-icon#addImpianto {
  background-color: white;
}

.col-2{
  padding-left: 1px!important;
  padding-right: 1px!important;
}


.btn-default {
  background-color: #3f729b!important;
  color: #fff;
}

.table th, .table td {
  padding: 0rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}


