<section class="text-center mt-3">

    <div class="card-deck font_custom">
        <!-- Card -->
        <mdb-card>
          <!--Card content-->
          <mdb-card-body>
            <!--Title-->
            <div class="row" id="card_row">
                <div class="col-2" id="icon_column">
                  <div class="row d-flex justify-content-center">
                      <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="GENERALE" placement="right" mdbWavesEffect><mdb-icon fas icon="home" (click)="goTo('clientiAnagrafica')"></mdb-icon></a>
                  </div>
                  <div class="row d-flex justify-content-center">
                      <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="ANAGRAFICA" placement="right" mdbWavesEffect><mdb-icon fas icon="info" (click)="goTo('clienti')"></mdb-icon></a>
                  </div>
                  <div class="row d-flex justify-content-center">
                      <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="IMPIANTO" placement="right" mdbWavesEffect><mdb-icon fas icon="diagnoses" (click)="goTo('clientiImpianto')"></mdb-icon></a>
                  </div>
                  <div class="row d-flex justify-content-center">
                      <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="PORTA BLINDATA" placement="right" mdbWavesEffect><mdb-icon fas icon="door-open" class="active"></mdb-icon></a>
                  </div>
                  <!-- <div class="row d-flex justify-content-center">
                      <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="E" placement="right" mdbWavesEffect><mdb-icon fas icon="euro-sign" (click)="goTo('clientiE')"></mdb-icon></a>
                  </div>
                  <div class="row d-flex justify-content-center">
                      <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="CISA" placement="right" mdbWavesEffect><mdb-icon fas icon="key" (click)="goTo('clientiCISA')"></mdb-icon></a>
                  </div> -->
                </div>
              <div class="col-11" id="component_column">
                 <div class="row">
                   <div class="col-6 mt-2">
                          <h4> {{ titolo }} </h4>
                   </div>
                   <div class="col-6">
                      <button mdbBtn id="save" type="button" *ngIf="save" color="success" outline="true" (click)="salva()" size="sm" mdbWavesEffect>SALVA</button>
                      <button mdbBtn id="edit" type="button" *ngIf="edit" (click)="editForm()" color="warning" outline="true" size="sm" mdbWavesEffect>EDIT</button>
                      <button mdbBtn id="delete"  type="button" *ngIf="delete" color="danger" outline="true" size="sm" mdbWavesEffect>ELIMINA</button>
                   </div>
                 </div>
              <!--Text-->
          <!-- seconda parte GENERALE-->
          <div class="row text-center mt-1" id="contenitore">
            <form [formGroup]="clientiPorte" id="clientiPorte" class="form">
              <div class="row" id="porteGrid">
                  <div class="col-md-6 mx-auto">
                  </div>
                  <table mdbTableEditor class="table table-striped z-depth-1" [itemsPerPage]="visibleItems" #table="mdbEditor" (rowHighlight)="highlightedRow = $event">
                    <thead>
                    <tr>
                      <th *ngFor="let head of headElements" scope="col-3">{{head}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of table.performSearch(this.searchText); let i = index" (click)="sendData(item, i)">
                      <td>{{item.dataString}}</td>
                      <td>{{item.fornitore}}</td>
                      <td>{{item.ubicazione}}</td>
                      <td>{{item.modello}}</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                      <td colspan="7">
                        <div class="d-flex flex-center">
                          <span>Visualizzati da {{table.paginationInfo.firstItem}} a {{table.paginationInfo.lastItem}} di {{table.paginationInfo.allItems}} risultati</span>
                          <div class="flex-1"></div>
                          <mdb-icon fas icon="angle-left" id="fasWhite" size="lg" (click)="table.prevPage()" class="p-2"
                                    [ngClass]="{'disabled text-muted': table.disablePrevious()}" mdbWavesEffect></mdb-icon>
                          <mdb-icon fas icon="angle-right" id="fasWhite" size="lg" (click)="table.nextPage()" class="p-2"
                                    [ngClass]="{'disabled text-muted': table.disableNext()}" mdbWavesEffect></mdb-icon>
                          <mdb-icon class="mr-1 ml-2" id="plus" fas icon="plus" (click)="goTo('clientiPorteAdd')"></mdb-icon>
                        </div>
                      </td>
                    </tr>
                    </tfoot>
                  </table>
                </div>
            </form>
          </div>
          </div>
          </div>
          </mdb-card-body>
        </mdb-card>
      </div>
  </section>
