<!--Section: Features v.1-->
<section class="mt-5">

    <!-- Grid row -->
    <div class="row font_custom">
      <div class="col-3">
        <div class="row d-flex justify-content-center">
          <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect>CENTRALE</button>
        </div>
        <div class="row d-flex justify-content-center">
            <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect>PIANO</button>
        </div>
        <div class="row d-flex justify-content-center">
            <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect>PROFESSIONE</button>
        </div>
        <div class="row d-flex justify-content-center">
            <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect>TIPO CLIENTE</button>
        </div>
        <div class="row d-flex justify-content-center">
            <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect>TIPOLOGIA INTERVENTO</button>
        </div>
        <div class="row d-flex justify-content-center">
            <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect>DISDETTA CONTRATTO</button>
        </div>
      </div>
      <div class="col-6"></div>

      <div class="col-3">
          <div class="row d-flex justify-content-center">
              <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect>TIPO LOCALE</button>
          </div>
          <div class="row d-flex justify-content-center">
              <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect>NUMERI</button>
          </div>
          <div class="row d-flex justify-content-center">
              <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect>IVA</button>
          </div>
          <div class="row d-flex justify-content-center">
              <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect>QUARTIERE</button>
          </div>
          <div class="row d-flex justify-content-center">
              <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect>STATO CIVILE</button>
          </div>
          <div class="row d-flex justify-content-center">
              <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect>SERVIZIO</button>
          </div>
        </div>
    </div>
  </section>
  <!--Section: Features v.1-->
