<section class="text-center mt-3">
    <div class="card-deck font_custom">
        <!-- Card -->
        <mdb-card>
          <!--Card content-->
          <mdb-card-body>
            <!--Title-->
            <div class="row" id="card_row">
                  <div class="col-2" id="icon_column">
                    <!-- <div class="row d-flex justify-content-center">
                        <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="GENERALE" placement="right" mdbWavesEffect><mdb-icon fas icon="home" (click)= "goTo('clienti')"></mdb-icon></a>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="ANAGRAFICA" placement="right" mdbWavesEffect><mdb-icon fas icon="info" (click)="goTo('clientiAnagrafica')"></mdb-icon></a>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="IMPIANTO" placement="right" mdbWavesEffect><mdb-icon fas icon="diagnoses" (click)="goTo('clientiImpianto')"></mdb-icon></a>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="PORTA BLINDATA" placement="right" mdbWavesEffect><mdb-icon fas icon="door-open" (click)="goTo('clientiPB')"></mdb-icon></a>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="E" placement="right" mdbWavesEffect><mdb-icon fas icon="euro-sign" (click)="goTo('clientiE')"></mdb-icon></a>
                    </div> -->
                    <div class="row d-flex justify-content-center">
                        <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="Back" placement="right" mdbWavesEffect><mdb-icon fas icon="arrow-left" (click)="goTo('clientiAddImpianto')"></mdb-icon></a>
                    </div>
                  </div>
              <div class="col-11" id="component_column">
                 <div class="row">
                   <div class="col-6 mt-2">
                          <h4> {{ titolo }} </h4>
                   </div>
                   <div class="col-6">
                      <button mdbBtn id="save" type="button" *ngIf="save" color="success" outline="true" size="sm" (click)="goTo('clientiAddImpianto', true)" mdbWavesEffect>SALVA Registrazione</button>
                      <button mdbBtn id="edit" type="button" *ngIf="edit" color="warning" outline="true" size="sm" mdbWavesEffect>EDIT</button>
                      <button mdbBtn id="delete"  type="button" *ngIf="delete" color="danger" outline="true" size="sm" mdbWavesEffect>ELIMINA</button>
                   </div>
                 </div>
              <!--Text-->
              <mdb-card-text>
          <!-- seconda parte GENERALE-->
          <div class="row text-center mt-1" id="contenitore">
            <form [formGroup]="clientiCISA" id="clientiCISA" class="form">
            <div class="row">
                <!-- primaRiga -->
                <div class="row col-12" id="primaRiga">

                </div>
                <!-- secondaRiga -->
                <div class="row col-12" id="secondaRiga">
                    <div class="col-6">
                    <hr class="col-10" id="separazione">
                    <div class="row" id="title_man">
                      <div class="col-2"></div>
                      <div class="col-8">
                          <h5>MANUTENZIONE</h5>
                      </div>
                      <div class="col-2"></div>
                    </div>
                    <div class="row" id="title_man2">
                        <div class="col-12">
                          <div class="row" id="scritta_garanzia">
                            <div class="col-9 text-left">
                                <p>GARANZIA ON SITE "GOLD"</p>
                            </div>
                            <div class="col-3">
                                 <p>0,70</p>
                            </div>
                          </div>
                          <div class="row" id="scritta_garanzia2">
                            <div class="col-9 text-left">
                                <p>GARANZIA ON SITE "SILVER"</p>
                            </div>
                            <div class="col-3">
                                  <p>0,70</p>
                            </div>
                          </div>
                          <div class="row" id="scritta_garanzia2">
                            <div class="col-9 text-left">
                                <p>GARANZIA ON SITE "BASIC"</p>
                            </div>
                            <div class="col-3">
                                  <p>0,50</p>
                            </div>
                          </div>
                          <div class="row" id="scritta_garanzia2">
                            <div class="col-12">
                                <p>Sconto per le sostituzioni con pezzi non riparabili</p>
                            </div>
                          </div>
                          <div class="row" id="scritta_garanzia2">
                            <div class="col-9 text-left">
                                <p>GARANZIA ON SITE "GOLD"</p>
                            </div>
                            <div class="col-3">
                                  <p>0,50</p>
                            </div>
                          </div>
                          <div class="row" id="scritta_garanzia2">
                            <div class="col-9 text-left">
                                <p>GARANZIA ON SITE "SILVER"</p>
                            </div>
                            <div class="col-3">
                                  <p>0,15</p>
                            </div>
                          </div>
                          <div class="row" id="scritta_garanzia2">
                            <div class="col-9 text-left">
                                <p>GARANZIA ON SITE "BASIC"</p>
                            </div>
                            <div class="col-3">
                                  <p>0,15</p>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <hr class="col-10" id="separazione">
                    <div class="row" id="title_man">
                      <div class="col-2"></div>
                      <div class="col-8">
                          <h5>GARANZIA</h5>
                      </div>
                      <div class="col-2"></div>
                    </div>
                    <div class="row" id="title_man2">
                        <div class="col-12">
                          <div class="row" id="scritta_garanzia">
                            <div class="col-1"></div>
                            <div class="col-8 text-left">
                                <p>ORE DI LAVORO (per ora)</p>
                            </div>
                            <div class="col-3">
                                 <p>25,00</p>
                            </div>
                          </div>
                          <div class="row" id="scritta_garanzia2">
                              <div class="col-1"></div>
                              <div class="col-8 text-left">
                                <p>ORE DI VIAGGIO</p>
                            </div>
                            <div class="col-3">
                                  <p>20,00</p>
                            </div>
                          </div>
                          <div class="row" id="scritta_garanzia2">
                              <div class="col-1"></div>
                              <div class="col-8 text-left">
                                <p>COSTO KM (senza spese autostradali)</p>
                            </div>
                            <div class="col-3">
                                  <p>0,39</p>
                            </div>
                          </div>
                          <div class="row" id="scritta_garanzia2">
                              <div class="col-1"></div>
                              <div class="col-8 text-left">
                                <p>PASTI</p>
                            </div>
                            <div class="col-3">
                                  <p>19,00</p>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
                <hr class="col-10" id="separazione2">
                <div class="row col-12" id="terzaRiga">
                      <div class="row col-12" id="title_man">
                        <div class="col-2"></div>
                        <div class="col-8">
                            <h5>FUORI CONTRATTO/GARANZIA</h5>
                        </div>
                        <div class="col-2"></div>
                      </div>
                      <div class="row col-12" id="title_man2">
                          <div class="col-4">
                            <div class="row" id="scritta_outgaranzia">
                              <div class="text-left">
                                  <p>DIRITTO FISSO DI CHIAMATA</p>
                              </div>
                            </div>
                            <div class="row" id="scritta_outgaranzia2">
                                <div class="text-left">
                                  <p>RIMBORSO KM</p>
                                </div>
                            </div>
                            <div class="row" id="scritta_outgaranzia2">
                                <div class="text-left">
                                  <p>RIMBORSO ORE DI VIAGGIO (per ora)</p>
                                </div>
                            </div>
                            <div class="row" id="scritta_outgaranzia2">
                                <div class="text-left">
                                  <p>ORE DI LAVORO (per ora)</p>
                              </div>
                            </div>
                            <div class="row" id="scritta_outgaranzia2">
                              <div class="text-left">
                                <p>PASTI</p>
                              </div>
                            </div>
                            <div class="row" id="scritta_outgaranzia5">
                                <div class="text-left">
                                  <p>INTERVENTO FORFETTARIO CON PRIMA ORA DI LAVORO</p>
                                </div>
                            </div>
                          </div>
                          <div class="col-2">
                            <div class="row" id="scritta_outgaranzia">
                              <div class="text-left">
                                  <p> </p>
                              </div>
                            </div>
                            <div class="row" id="scritta_garanzia3">
                                <div class="text-left">
                                  <p>{{envRimbKM}}</p>
                                </div>
                            </div>
                            <div class="row" id="scritta_garanzia4">
                                <div class="text-left">
                                  <p>{{envRimbOre}}</p>
                                </div>
                            </div>
                            <div class="row" id="scritta_outgaranzia2">
                                <div class="text-left col-6">
                                  <p>{{costoInterventoPerOra}}   x</p>
                                </div>
                                <div class="col-4">
                                  <!-- Material outline input -->
                                  <div class="md-form md-outline form-sm" id="oreLavoro">
                                    <input type="text" formControlName="oreLav" class="form-control text-center form-control-sm" mdbInput>
                                  </div>
                                </div>
                            </div>
                            <div class="row" id="scritta_outgaranzia2">
                              <div class="text-left">
                                <p> </p>
                              </div>
                            </div>
                            <div class="row" id="scritta_outgaranzia2">
                                <div class="text-left">
                                  <p></p>
                                </div>
                            </div>
                            <div class="row" id="scritta_outgaranzia3">
                                <div class="text-left">
                                  <p>TOTALE</p>
                                </div>
                            </div>
                          </div>
                          <div class="col-2">
                            <div class="row" id="form_garanzia">
                                  <!-- Material outline input -->
                                  <div class="md-form md-outline form-sm col-10">
                                    <input type="text" formControlName="dirittoFisso" class="form-control text-center form-control-sm" mdbInput>
                                  </div>
                                  <div class="col-2">
                                    <p id="euro">€</p>
                                  </div>
                            </div>
                            <div class="row" id="form_garanzia">
                              <!-- Material outline input -->
                              <div class="md-form md-outline form-sm col-10">
                                <input type="text" formControlName="rimborsoKM" id="rimborsoKM" class="form-control text-center form-control-sm" mdbInput>
                              </div>
                              <div class="col-2">
                                <p id="euro">Km</p>
                              </div>
                            </div>
                            <div class="row" id="form_garanzia">
                              <!-- Material outline input -->
                              <div class="md-form md-outline form-sm col-10">
                                  <input type="text" formControlName="rimborsoOre" id="rimborsoOre" class="form-control text-center form-control-sm" mdbInput>
                              </div>
                              <div class="col-2">
                                <p id="euro">Hr</p>
                              </div>
                            </div>
                            <div class="row" id="form_garanzia">
                              <!-- Material outline input -->
                              <div class="md-form md-outline form-sm col-10">
                                  <input type="text" disabled formControlName="oreLavoro" class="form-control text-center form-control-sm" mdbInput>
                              </div>
                              <div class="col-2">
                                <p id="euro">€</p>
                              </div>
                            </div>
                            <div class="row" id="form_garanzia">
                              <!-- Material outline input -->
                              <div class="md-form md-outline form-sm col-10">
                                  <input type="text" formControlName="pasti" class="form-control text-center form-control-sm" mdbInput>
                              </div>
                              <div class="col-2">
                                <p id="euro">€</p>
                              </div>
                            </div>
                            <div class="row" id="form_garanzia">
                                <!-- Material outline input -->
                                <div class="md-form md-outline form-sm col-10">
                                    <input type="text" id="totale" formControlName="totale" class="form-control text-center form-control-sm" mdbInput>
                                </div>
                                <div class="col-2">
                                  <p id="euro">€</p>
                                </div>
                            </div>
                            <div class="row" id="form_garanzia_scritta">
                              <!-- Material outline input -->
                              <div class="text-left">
                                  <p>OPPURE</p>
                              </div>
                            </div>
                            <div class="row" id="form_garanzia">
                                <!-- Material outline input -->
                                <div class="md-form md-outline form-sm col-10">
                                    <input type="text" id="totaleForf" formControlName="totaleForf" class="form-control text-center form-control-sm" mdbInput>
                                </div>
                                <div class="col-2">
                                  <p id="euro">€</p>
                                </div>
                            </div>
                          </div>
                          <div class="col-2">
                              <div class="row" id="iva1">
                                    <p>+ IVA</p>
                              </div>
                              <div class="row" id="iva2">
                                  <p>+ IVA</p>
                              </div>
                          </div>
                          <div class="col-2">
                              <div class="row" id="ivaTot1">
                                <!-- Material outline input -->
                                <div class="md-form md-outline form-sm col-10">
                                    <input type="text" id="totaleIva" formControlName="totaleIva" class="form-control text-center form-control-sm" mdbInput>
                                </div>
                                <div class="col-2">
                                  <p id="euro"></p>
                                </div>
                              </div>
                              <div class="row" id="ivaTot2">
                                <!-- Material outline input -->
                                <div class="md-form md-outline form-sm col-10">
                                    <input type="text" id="totaleForfIva" formControlName="totaleForfIva" class="form-control text-center form-control-sm" mdbInput>
                                </div>
                                <div class="col-2">
                                  <p id="euro"></p>
                                </div>
                              </div>
                          </div>
                      </div>
                </div>
                <hr class="col-10" id="separazione2">
                <div class="row col-12" id="quartaRiga">
                <div class="col-12">
                    <!--Material textarea-->
                    <div class="md-form md-outline">
                      <textarea type="text" formControlName="noteCISA" id="noteCISA" class="form-control md-textarea" rows="4" mdbInput></textarea>
                      <label for="noteCISA">Note</label>
                    </div>
                  </div>
                </div>
            </div>
          </form>
          </div>
          </mdb-card-text>
          </div>
          </div>
          </mdb-card-body>
        </mdb-card>
      </div>
  </section>
