.font_custom{
	font-family: "Tahoma";
    font-weight: 400;
    font-style: normal;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}


@media (min-width: 1366px){

  div#primaRiga {
    margin-top: 20px;
    width: 100%!important;
  }


  mdb-card.card {
    height: 530px !important;
    overflow-y: auto;
  }
  .md-form.md-outline.form-sm .form-control.form-control-sm {
    padding: 0.25rem 0.625rem;
    font-size: 0.8rem;
  }

  h5{
    font-size: 97%!important;
  }

  div#ivaTot1 {
    margin-top: 152px;
    margin-right: 61px;
    margin-left: -59px;
  }

  div#ivaTot2 {
    margin-top: -25px;
    margin-left: -60px;
    margin-right: 61px;
  }

  div#scritta_outgaranzia5 {
    margin-top: 55px;
  }
}

@media (min-width: 1920px){

  div#primaRiga {
    margin-top: -16px;
    width: 100%!important;
  }


  mdb-card.card {
    height: 825px !important;
  }

  div#contenitore {
    padding-top: 30px;
  }

  div#ivaTot1 {
    margin-top: 152px;
    margin-left: -100px;
  }

  div#ivaTot2 {
    margin-top: -25px;
    margin-left: -100px;
  }

  div#scritta_outgaranzia5 {
    margin-top: 63px;
  }

}

.btn[class*=btn-outline-] {
  font-weight: 900;
}

#card_row{
  height: 100%!important;
}

.card .card-body h1, .card .card-body h2, .card .card-body h3, .card .card-body h4, .card .card-body h5, .card .card-body h6 {
  font-weight: 900;
  color: #3f729b;
}

div#icon_column {
  max-width: 8%;
  border-right-color: #3f729b;
  border-right-style: solid;
  border-right-width: thin;
  align-self: center;
}

mdb-icon.fas {
  background-color: #3f729b;
}

input.form-control {
  font-weight: 900;
}

.md-form.md-outline label {
  font-weight: 900;
}

.margineZero {
  margin-bottom: 0rem;
}

.md-form textarea.md-textarea {
  font-weight: 900;
}

.md-form.md-outline.form-sm label.active {
  color: #3f729b;
}

button#save {
  margin-left: 70%;
}

button#edit {
  margin-left: 50%!important;
}

form {
  width: 100%!important;
}

div#secondaRiga {
  margin-top: -38px;
}

div#terzaRiga {
  margin-top: -30px;
}

div#quartaRiga {
  margin-top: -24px;
}

div#title_man {
  margin-top: 30px;
}

div#tipologia {
  margin-top: -20px;
}

div#importo, div#scadenza {
  margin-top: -50px;
}

div#oreLavoro {
  margin-top: -4px;
}

div#scritta_garanzia2 {
  margin-top: -10px;
}

div#scritta_garanzia3 {
  margin-top: 20px;
}

div#scritta_garanzia4 {
  margin-top: -1px;
}

div#form_garanzia {
  margin-top: -23px;
  margin-bottom: -50px;
}

div#scritta_outgaranzia {
  margin-top: 7px;
}

div#scritta_outgaranzia3 {
  margin-top: -10px;
}

p#euro {
  margin-top: 30px;
}

input#totaleIva, input#totaleForf, input#totaleForfIva, input#totale {
  border-color: red;
  font-size: 15px;
}

div#iva1 {
  margin-top: 182px;
  margin-left: 10px;
}

div#iva2 {
  margin-top: 25px;
  margin-left: 10px;
}


element.style {
  margin-top: 25px;
  margin-left: 10px;
}

div#form_garanzia_scritta {
  margin-top: 25px;
  margin-left: 34%;
  margin-bottom: -34px;
}

hr#separazione {
  margin-top: 30px;
  margin-bottom: -14px;
}

hr#separazione2 {
  margin-top: -5px;
}

p {
  font-weight: 900;
  font-size: 12px;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10{
  padding-left: 1px!important;
  padding-right: 1px!important;
}

