.font_custom{
	font-family: "Tahoma";
    font-weight: 400;
    font-style: normal;
}

table.table-sm td, table.table-sm th {
  font-weight: 900;
  padding-top: .6rem;
  padding-bottom: .6rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}


@media (min-width: 1366px){
  mdb-card.card {
    height: 530px !important;
    overflow-y: auto;
  }
  .md-form.md-outline.form-sm .form-control.form-control-sm {
    padding: 0.25rem 0.625rem;
    font-size: 0.8rem;
  }

  div#contenitore {
    margin-top: 20px!important;
  }

  h4#domandaFC {
    font-size: 17px;
  }

  mdb-icon#ricerca {
    background-color: white;
    color: #3f729b!important;
    vertical-align: -webkit-baseline-middle;
    // margin-top: 61%;
  }

  mdb-icon#plus {
    background-color: white;
    color: #3f729b!important;
    vertical-align: -webkit-baseline-middle;
    // margin-top: 61%;
  }

}

@media (min-width: 1920px){
  mdb-card.card {
    height: 825px !important;
  }

  div#contenitore {
    padding-top: 100px;
  }

  div#rigaFC {
    margin-left: 14%;
  }

  mdb-icon#ricerca {
    background-color: white;
    // margin-top: 40%;
  }

  mdb-icon#aggiungi {
    background-color: white;
    // margin-top: 40%;
  }
}

.btn[class*=btn-outline-] {
  font-weight: 900;
}

.btn-default {
  background-color: #3f729b!important;
  color: #fff;
}

#card_row{
  height: 100%!important;
}

.card .card-body h1, .card .card-body h2, .card .card-body h3, .card .card-body h4, .card .card-body h5, .card .card-body h6 {
  font-weight: 900;
  color: #3f729b;
}

div#icon_column {
  max-width: 8%;
  border-right-color: #3f729b;
  border-right-style: solid;
  border-right-width: thin;
  align-self: center;
}

mdb-icon.fas {
  background-color: #3f729b;
}

input.form-control {
  font-weight: 900;
}

.md-form.md-outline label {
  font-weight: 900;
}

.margineZero {
  margin-bottom: 0rem;
}

.md-form textarea.md-textarea {
  font-weight: 900;
}

.md-form.md-outline.form-sm label.active {
  color: #3f729b;
}

button#save {
  /* margin-left: 70%; */
}

button#edit {
  margin-left: 50%!important;
}

form {
  width: 100%!important;
}

div#primaRiga {
  margin-top: -37px;
  width: 100%!important;
}

div#secondaRiga, div#terzaRiga, div#quartaRiga, div#ottavaRiga {
  margin-top: -38px;
}

div#quintaRiga {
  margin-top: -18px;
}

div#sestaRiga, div#rigaFC, div#rigaChiavi {
  margin-top: -28px;
}

div#settimaRiga {
  margin-top: -12px!important;
}


div#ownerModal, div#consegnareAModal, div#dataModal, div#tipoCustodiaModal, div#nKeyModal, div#statoKeyModal, div#notaConsegnaModal, div#notaChiaviModal, div#notaModal{
  margin-top: 0px!important;
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0rem!important;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

hr#my_last {
  margin-top: 3px!important;
}

hr {
    width: 80%;
    margin-top: -11px!important;
    margin-bottom: 20px!important;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.col-1{
  padding-left: 2px!important;
  padding-right: 2px!important;
}

.col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9{
  padding-left: 1px!important;
  padding-right: 1px!important;
}

mdb-select#selectAnag {
  margin-top: 24px;
}

.tr-color-selected{
  background-color: hsla(196, 77%, 55%, 0.3) !important;
  transition: all .2s ease-in;
}
td {
  vertical-align: middle !important;
}
