<section class="text-center mt-3">
    <div class="card-deck font_custom">
        <!-- Card -->
        <mdb-card>
          <!--Card content-->
          <mdb-card-body>
            <!--Title-->
            <div class="row" id="card_row">
                    <div class="col-2" id="icon_column">
                      <div class="row d-flex justify-content-center">
                          <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="MANUTENZIONE" placement="right" mdbWavesEffect><mdb-icon fas icon="toolbox" (click)="goTo('clientiManutenzione')"></mdb-icon></a>
                      </div>
                      <div class="row d-flex justify-content-center">
                          <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="INTERVENTO" placement="right" mdbWavesEffect><mdb-icon fas icon="wrench" (click)="goTo('clientiIntervento')"></mdb-icon></a>
                      </div>
                      <div class="row d-flex justify-content-center">
                          <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="FATTURA" placement="right" mdbWavesEffect><mdb-icon fas icon="file-invoice-dollar" (click)="goTo('clientiFattura')"></mdb-icon></a>
                      </div>
                      <div class="row d-flex justify-content-center">
                        <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="E" placement="right" mdbWavesEffect><mdb-icon fas icon="euro-sign" (click)="goTo('clientiE')"></mdb-icon></a>
                      </div>
                      <!-- <div class="row d-flex justify-content-center">
                          <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="BACK" placement="right" mdbWavesEffect><mdb-icon fas icon="arrow-left" (click)="goTo('clientiImpianto')"></mdb-icon></a>
                      </div> -->
                      <div class="row d-flex justify-content-center">
                        <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="CISA" placement="right" mdbWavesEffect><mdb-icon fas icon="key" (click)="goTo('clientiCISA')"></mdb-icon></a>
                      </div>
                    </div>
              <div class="col-11" id="component_column">
                 <div class="row">
                   <div class="col-6 mt-2">
                          <h4> {{ titolo }} </h4>
                   </div>
                   <div class="col-6">
                      <button mdbBtn id="save" type="button" *ngIf="save" color="success" (click)="goTo('clientiImpianto')" outline="true" size="sm" mdbWavesEffect>SALVA Impianto</button>
                      <button mdbBtn id="edit" type="button" *ngIf="edit" color="warning" outline="true" size="sm" mdbWavesEffect>EDIT</button>
                      <button mdbBtn id="delete"  type="button" *ngIf="delete" color="danger" (click)="deleteImp()" outline="true" size="sm" mdbWavesEffect>ELIMINA Impianto</button>
                   </div>
                 </div>
              <!--Text-->
              <mdb-card-text>
          <!-- seconda parte GENERALE-->
          <div class="row text-center mt-1" id="contenitore">
            <form [formGroup]="clientiAddImpianto" id="clientiAddImpianto" class="form">
            <div class="row">
                <!-- primaRiga -->
                <div class="row col-12" id="primaRiga">
                  <div class="col-3">
                    <!-- Material outline input -->
                    <div class="md-form md-outline form-sm">
                        <input type="text"  formControlName="codiceImpianto" id="codiceImpianto" class="form-control form-control-sm" mdbInput>
                        <label for="codiceImpianto">Codice Master</label>
                      </div>
                </div>
                    <div class="col-3">
                        <!-- Material outline input -->
                        <div class="md-form md-outline form-sm">
                            <input type="text"  formControlName="codiceAC" id="codiceAC" class="form-control form-control-sm" mdbInput>
                            <label for="codiceAC">Codice AC</label>
                          </div>
                    </div>
                    <div class="col-3">
                        <!-- Material outline input -->
                        <div class="md-form md-outline form-sm">
                            <input type="text"  formControlName="produttoreAC" id="produttoreAC" class="form-control form-control-sm" mdbInput>
                            <label for="produttoreAC">Produttore AC</label>
                          </div>
                    </div>
                    <div class="col-3">
                        <!-- Material outline input -->
                        <div class="md-form md-outline form-sm">
                            <input type="text"  formControlName="nomeAC" id="nomeAC" class="form-control form-control-sm" mdbInput>
                            <label for="nomeAC">Nome AC</label>
                          </div>
                    </div>
                </div>
                <!-- primaRiga BIS -->
                <div class="row col-12" id="primaRiga">
                    <div class="col-4">
                        <!-- Material outline input -->
                        <div class="md-form md-outline form-sm">
                            <input type="date"  formControlName="dataImpianto" id="dataImpianto" class="form-control form-control-sm" mdbInput>
                            <label id="dataLabel" for="dataImpianto">Data Impianto</label>
                          </div>
                    </div>
                    <div class="col-2">
                          <!-- Material outline input -->
                          <div class="md-form md-outline form-sm">
                          <input type="date"  formControlName="primaRistrutturazione" id="primaRistrutturazione" class="form-control form-control-sm" mdbInput>
                          <label id="dataLabel" for="primaRistrutturazione">1a Ristrutturazione</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <!-- Material outline input -->
                        <div class="md-form md-outline form-sm">
                        <input type="date" formControlName="secondaRistrutturazione" id="secondaRistrutturazione" class="form-control form-control-sm" mdbInput>
                        <label id="dataLabel" for="secondaRistrutturazione">2a Ristrutturazione</label>
                      </div>
                  </div>
                      <div class="col-2">
                        <!-- Material outline input -->
                        <div class="md-form md-outline form-sm">
                          <input type="text" formControlName="KMAR" id="KMAR" class="form-control form-control-sm" mdbInput>
                          <label id="" for="KMAR">Km Andata / Ritorno</label>
                        </div>
                      </div>
                      <div class="col-2">
                        <!-- Material outline input -->
                        <div class="md-form md-outline form-sm">
                          <input type="text" formControlName="TempoAR" id="TempoAR" class="form-control form-control-sm" mdbInput>
                          <label id="" for="TempoAR">Tempo viaggio A/R</label>
                      </div>
                  </div>
                </div>
                <!-- secondaRiga -->
                <div class="row col-12" id="secondaRiga">
                    <div class="col-3">
                        <!-- Material outline input -->
                        <div class="md-form md-outline form-sm">
                            <input type="date" formControlName="data3708" id="data3708" class="form-control form-control-sm" mdbInput>
                            <label id="dataLabel" for="data3708">37/08 del</label>
                          </div>
                    </div>
                    <div class="col-3">
                          <!-- Material outline input -->
                          <div class="md-form md-outline form-sm">
                          <input type="date" formControlName="data3708_2" id="data3708_2" class="form-control form-control-sm" mdbInput>
                          <label id="dataLabel" for="data3708_2">37/08 2° mo</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <!-- Material outline input -->
                        <div class="md-form md-outline form-sm">
                        <mdb-select [outline]="true" formControlName="modelloApparecchiaturaCE" id="modelloApparecchiaturaCE" [options]="modelloApparecchiaturaCESelect" placeholder="Seleziona" label="Modello Apparecchiatura centrale"></mdb-select>
                        <!--<input type="text" formControlName="modelloApparecchiaturaCE" id="modelloApparecchiaturaCE" class="form-control form-control-sm" mdbInput>
                        <label for="modelloApparecchiaturaCE">Modello Apparecchiatura centrale</label>-->
                      </div>
                  </div>
                </div>
                <!-- terzaRiga -->
                <div class="row col-12" id="terzaRiga">
                    <div class="col-4">
                        <!-- Material outline input -->
                        <div class="md-form md-outline form-sm">
                            <input type="text" formControlName="CT" id="CT" class="form-control form-control-sm" mdbInput>
                            <label for="CT">CT</label>
                          </div>
                    </div>
                    <div class="col-4">
                          <!-- Material outline input -->
                          <div class="md-form md-outline form-sm">
                          <input type="text" formControlName="CTC" id="CTC" class="form-control form-control-sm" mdbInput>
                          <label for="CTC">CTC</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <!-- Material outline input -->
                        <div class="md-form md-outline form-sm">
                        <input type="text" formControlName="ponteRadio" id="ponteRadio" class="form-control form-control-sm" mdbInput>
                        <label for="ponteRadio">Ponte Radio</label>
                      </div>
                  </div>
                </div>
                <!-- quartaRiga -->
                <div class="row col-12" id="quartaRiga">
                    <div class="col-6">
                        <div class="md-form md-outline">
                            <textarea type="text" formControlName="materialeOmaggio" id="materialeOmaggio" class="form-control md-textarea" rows="3" mdbInput></textarea>
                            <label for="materialeOmaggio">Materiale in omaggio</label>
                        </div>
                  </div>
                  <div class="col-6">
                      <div class="md-form md-outline">
                          <textarea type="text" formControlName="noteImpianto" id="noteImpianto" class="form-control md-textarea" rows="3" mdbInput></textarea>
                          <label for="noteImpianto">Note</label>
                      </div>
                  </div>
                </div>
                <!-- quintaRiga -->
                <div class="row col-12" id="quintaRiga">
                  <div class="row col-12">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <h4 id="domandaFC">Domanda forze dell'ordine</h4>
                    </div>
                    <div class="col-3"></div>
                  </div>
                  <div class="row" id="rigaFC">
                  <div class="col-2">
                    <!-- Material outline input -->
                    <div class="md-form md-outline form-sm">
                    <input type="date" formControlName="dataConsegnaFC" id="dataConsegnaFC" class="form-control form-control-sm" mdbInput>
                    <label id="dataLabel" for="dataConsegnaFC">Data consegna</label>
                    </div>
                  </div>
                  <div class="col-2">
                      <!-- Material outline input -->
                      <div class="md-form md-outline form-sm">
                      <input type="date" formControlName="dataFC" id="dataFC" class="form-control form-control-sm" mdbInput>
                      <label id="dataLabel" for="dataFC">Data</label>
                      </div>
                    </div>
                  <div class="col-4">
                      <!-- Material outline input -->
                      <div class="md-form md-outline form-sm">
                      <input type="text" formControlName="foglioSpiegazioneFC" id="foglioSpiegazioneFC" class="form-control form-control-sm" mdbInput>
                      <label for="foglioSpiegazioneFC">Foglio Spiegazione</label>
                      </div>
                    </div>
                  <div class="col-2">
                      <!-- Material outline input -->
                      <div class="md-form md-outline form-sm">
                      <input type="text" formControlName="numeroSuCTC" id="numeroSuCTC" class="form-control form-control-sm" mdbInput>
                      <label for="numeroSuCTC">Num su CTC</label>
                      </div>
                    </div>
                  <div class="col-2">
                      <!-- Material outline input -->
                      <div class="md-form md-outline form-sm">
                      <input type="date" formControlName="ilFC" id="ilFC" class="form-control form-control-sm" mdbInput>
                      <label id="dataLabel" for="ilFC">il</label>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- sestaRiga -->
                <div class="row col-12" id="sestaRiga">
                    <div class="col-12">
                        <div class="md-form md-outline">
                            <textarea type="text" formControlName="configurazioneImpianto" id="configurazioneImpianto" class="form-control md-textarea" rows="5" mdbInput></textarea>
                            <label for="ilFC">Configurazione Impianto</label>
                        </div>
                  </div>
                </div>
                <div class="row col-12" id="sestaRiga">
                <div class="col-12">
                    <div class="md-form md-outline">
                        <textarea type="text" formControlName="porta" id="porta" class="form-control md-textarea" rows="5" mdbInput></textarea>
                        <label for="porta">Porta</label>
                    </div>
                </div>
              </div>
                <!-- settimaRiga -->
                <div class="row col-12" id="settimaRiga">
                  <div class="col-2">
                      <!-- Material outline input -->
                      <div class="md-form md-outline form-sm">
                        <mdb-select [outline]="true" formControlName="infoTGSSel" id="infoTGS" [options]="infoTGSSelect" placeholder="Seleziona" label="Info TGS"></mdb-select>
                    </div>
                  </div>
                  <div class="col-2">
                      <!-- Material outline input -->
                    <div class="md-form md-outline form-sm">
                      <input type="date" formControlName="dataInfoTGS" id="dataInfoTGS"  class="form-control form-control-sm" mdbInput>
                      <label id="dataLabel" for="dataInfoTGS">Data InfoTGS</label>
                    </div>
                  </div>
                  <div class="col-2">
                    <!-- Material outline input -->
                    <div class="md-form md-outline form-sm">
                      <mdb-select [outline]="true" formControlName="infoSIMSel"  id="infoSIM" [options]="infoSIMSelect" placeholder="Seleziona" label="Info SIM"></mdb-select>
                    </div>
                  </div>
                  <div class="col-2">
                      <!-- Material outline input -->
                      <div class="md-form md-outline form-sm">
                        <input type="date" formControlName="dataInfoSIM" id="dataInfoSIM"  class="form-control form-control-sm" mdbInput>
                        <label id="dataLabel" for="dataInfoSIM">Data InfoSIM</label>
                      </div>
                  </div>
                  <div class="col-2">
                      <!-- Material outline input -->
                      <div class="md-form md-outline form-sm">
                        <mdb-select [outline]="true" formControlName="privacySel" id="privacy" [options]="privacySelect" placeholder="Seleziona" label="Privacy"></mdb-select>
                      </div>
                  </div>
                  <div class="col-2">
                    <!-- Material outline input -->
                    <div class="md-form md-outline form-sm">
                      <input type="date" formControlName="dataPrivacy" id="dataPrivacy"  class="form-control form-control-sm" mdbInput>
                      <label id="dataLabel" for="dataPrivacy">Data Privacy</label>
                    </div>
                  </div>
                  </div>
                <!-- settimaRigaTris -->
                <div class="row col-12" id="settimaRigaBis">
                  <div class="col-2">
                    <!-- Material outline input -->
                    <div class="md-form md-outline form-sm">
                      <input type="date" formControlName="dataGaranzia" id="dataGaranzia"  class="form-control form-control-sm" mdbInput>
                      <label id="dataLabel" for="dataGaranzia">Garazia dal</label>
                    </div>
                  </div>
                </div>
                <!-- settimaRigaBIS -->
                <hr class="my-3">
                <div class="row col-12" id="settimaRigaTris">
                    <!-- Material outline input -->
                    <div class="row col-12">
                      <div class="col-4"></div>
                      <div class="col-4">
                          <h5>Chiavi</h5>
                      </div>
                      <div class="col-4"></div>
                    </div>
                    <div class="row col-12" id="rigaChiavi">
                    <div class="col-3">
                    <div class="md-form md-outline form-sm">
                        <input type="text" formControlName="chiaviCGS" id="chiaviCGS" class="form-control form-control-sm" mdbInput>
                        <label for="chiaviCGS">CGS</label>
                      </div>
                    </div>
                    <div class="col-3">
                    <div class="md-form md-outline form-sm">
                      <input type="text" formControlName="chiaviSS" id="chiaviSS" class="form-control form-control-sm" mdbInput>
                      <label for="chiaviSS">Vigilanza</label>
                      </div>
                    </div>
                    <div class="col-3">
                    <div class="md-form md-outline form-sm">
                      <input type="text" formControlName="chiaviAC" id="chiaviAC" class="form-control form-control-sm" mdbInput>
                      <label for="chiaviAC">AC</label>
                    </div>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-1">
                        <!--<mdb-icon fas icon="plus" id="plus" size="lg" (click)="frame.show()"></mdb-icon>-->
                    </div>
                    <div class="col-1">
                        <mdb-icon fas icon="key" id="ricerca" size="lg" (click)="goTo('clientiChiavi',true)"></mdb-icon>
                    </div>
                    </div>
                </div>
                <hr class="my-3 mt-5" id="my_last">
              <!-- ottavaRiga -->
              <div class="row col-12" id="ottavaRiga">
              </div>
            </div>
          </form>
          </div>
          </mdb-card-text>
          </div>
          </div>
          </mdb-card-body>
        </mdb-card>
      </div>
      <div mdbModal #frame="mdbModal" class="modal fade left font_custom" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h5 class="modal-title w-100 font-weight-bold">Aggiungi Chiave</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body mx-3">
              <div class="md-form mb-1" id="ownerModal">
                <mdb-select [options]="ownerSelect" placeholder="Scegli l'owner" id="ownerModal"></mdb-select>
              </div>

              <div class="md-form mb-1" id="consegnareAModal">
                <input type="text" id="consegnareAModal" class="form-control" mdbInput>
                <label for="consegnareAModal">Consegnare a:</label>
              </div>

              <div class="md-form mb-1" id="dataModal">
                <input type="text" id="dataModal" class="form-control" mdbInput>
                <label for="dataModal">Data</label>
              </div>

              <div class="md-form mb-1" id="tipoCustodiaModal">
                <input type="text" id="tipoCustodiaModal" class="form-control" mdbInput>
                <label for="tipoCustodiaModal">tipoCustodia</label>
              </div>
              <div class="md-form mb-1" id="nKeyModal">
                <input type="text" id="nKeyModal" class="form-control" mdbInput>
                <label for="nKeyModal">N° Key</label>
              </div>
              <div class="md-form mb-1" id="statoKeyModal">
                <input type="text" id="statoKeyModal" class="form-control" mdbInput>
                <label for="statoKeyModal">Stato Key</label>
              </div>
              <div class="md-form mb-1" id="notaConsegnaModal">
                <input type="text" id="notaConsegnaModal" class="form-control" mdbInput>
                <label for="notaConsegnaModal">Nota Consegna</label>
              </div>
              <div class="md-form mb-1" id="notaChiaviModal">
                <input type="text" id="notaChiaviModal" class="form-control" mdbInput>
                <label for="notaChiaviModal">Nota Chiavi</label>
              </div>
              <div class="md-form mb-1" id="notaModal">
                <input type="text" id="notaModal" class="form-control" mdbInput>
                <label for="notaModal">Nota</label>
              </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
              <button mdbBtn color="default" size="sm" class="waves-light" mdbWavesEffect>Salva</button>
              <button mdbBtn color="default" size="sm" class="waves-light" mdbWavesEffect>Salva e vedi dettaglio</button>
            </div>
          </div>
        </div>
      </div>
  </section>
