<section class="text-center mt-3">
  <div class="card-deck font_custom">
    <!-- Card -->
    <mdb-card>
      <!--Card content-->
      <mdb-card-body>
            <!--Title-->
        <div class="row" id="card_row">
          <div class="col-2" id="icon_column">
            <!-- <div class="row d-flex justify-content-center">
                <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="MANUTENZIONE" placement="right" mdbWavesEffect><mdb-icon fas icon="toolbox" (click)="goTo('clientiManutenzione')"></mdb-icon></a>
            </div>
            <div class="row d-flex justify-content-center">
                <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="INTERVENTO" placement="right" mdbWavesEffect><mdb-icon fas icon="wrench" (click)="goTo('clientiIntervento')"></mdb-icon></a>
            </div>
            <div class="row d-flex justify-content-center">
                <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="FATTURA" placement="right" mdbWavesEffect><mdb-icon fas icon="file-invoice-dollar" class="active"></mdb-icon></a>
            </div> -->
            <div class="row d-flex justify-content-center">
                <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="BACK" placement="right" mdbWavesEffect><mdb-icon fas icon="arrow-left" (click)="goTo('clientiAddImpianto')"></mdb-icon></a>
            </div>
          </div>
          <div class="col-11" id="component_column">
            <div class="row">
              <div class="col-6 mt-2">
                    <h4> {{ titolo }} </h4>
              </div>
              <div class="col-6">
                <button mdbBtn id="save" type="button" (click)="salva()" *ngIf="save" color="success" outline="true" size="sm" mdbWavesEffect>SALVA</button>
                <button mdbBtn id="edit" type="button" *ngIf="edit" (click)="editForm()" color="warning" outline="true" size="sm" mdbWavesEffect>EDIT</button>
                <button mdbBtn id="delete"  type="button" *ngIf="delete" color="danger" outline="true" size="sm" mdbWavesEffect>ELIMINA</button>
              </div>
            </div>
            <!--Text-->
            <!-- seconda parte GENERALE-->
            <div class="row text-center mt-1" id="contenitore">
                <div class="row" id="porteGrid">
                    <table mdbTableEditor class="table table-striped z-depth-1" [itemsPerPage]="visibleItems" #table="mdbEditor" (rowHighlight)="highlightedRow = $event">
                      <thead>
                      <tr>
                        <th *ngFor="let head of headElements" scope="col-3">{{head}}</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let item of table.performSearch(this.searchText); let i = index" (click)="sendData(item, i)">
                        <td>{{item.ragioneSociale}}</td>
                        <td>{{item.pIva}}</td>
                        <td>{{item.CF}}</td>
                        <td>{{item.SDI}}</td>
                        <td>{{item.PEC}}</td>
                      </tr>
                      </tbody>
                      <tfoot>
                      <tr>
                        <td colspan="7">
                          <div class="d-flex flex-center">
                            <span>Visualizzati da {{table.paginationInfo.firstItem}} a {{table.paginationInfo.lastItem}} di {{table.paginationInfo.allItems}} risultati</span>
                            <div class="flex-1"></div>
                            <mdb-icon fas icon="angle-left" id="fasWhite" size="lg" (click)="table.prevPage()" class="p-2"
                                      [ngClass]="{'disabled text-muted': table.disablePrevious()}" mdbWavesEffect></mdb-icon>
                            <mdb-icon fas icon="angle-right" id="fasWhite" size="lg" (click)="table.nextPage()" class="p-2"
                                      [ngClass]="{'disabled text-muted': table.disableNext()}" mdbWavesEffect></mdb-icon>
                          </div>
                        </td>
                      </tr>
                      </tfoot>
                    </table>
                </div>
                <!-- Aggiunta della FormGroup -->
                <form [formGroup]="clientiFatture" id="clientiFatture" class="form">
                  <div class="row">
                      <!-- primaRiga -->
                      <div class="row col-12" id="primaRiga">
                          <div class="col-4">
                            <div class="md-form md-outline form-sm">
                              <input type="text" [disabled]="checked"  formControlName="ragioneSociale" id="ragioneSociale" class="form-control form-control-sm" mdbInput>
                              <label for="ragioneSociale">Rag. Sociale</label>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="md-form md-outline form-sm">
                              <input type="text" [disabled]="checked"  formControlName="indirizzo" id="indirizzo" class="form-control form-control-sm" mdbInput>
                              <label for="indirizzo">Indirizzo</label>
                            </div>
                          </div>
                          <div class="col-1">
                              <div class="md-form md-outline form-sm">
                                <input type="text" [disabled]="checked"  formControlName="provincia" id="provincia" class="form-control form-control-sm" mdbInput>
                                <label for="provincia">Provincia</label>
                              </div>
                            </div>
                          <div class="col-1">
                            <div class="md-form md-outline form-sm">
                              <input type="text" [disabled]="checked"  formControlName="CAP" id="CAP" class="form-control form-control-sm" mdbInput>
                              <label for="CAP">CAP</label>
                            </div>
                          </div>
                      </div>
                      <!-- secondaRiga -->
                      <div class="row col-12" id="secondaRiga">
                          <div class="col-2">
                              <div class="md-form md-outline form-sm">
                                <input type="text" [disabled]="checked"  formControlName="pIva" id="pIva" class="form-control form-control-sm" mdbInput>
                                <label for="pIva">Partiva IVA</label>
                              </div>
                            </div>
                          <div class="col-2">
                            <div class="md-form md-outline form-sm">
                              <input type="text" [disabled]="checked"  formControlName="CF" id="CF" class="form-control form-control-sm" mdbInput>
                              <label for="CF">Cod. Fiscale</label>
                            </div>
                          </div>
                          <div class="col-2">
                              <div class="md-form md-outline form-sm">
                                <input type="text" [disabled]="checked"  formControlName="PEC" id="PEC" class="form-control form-control-sm" mdbInput>
                                <label for="PEC">PEC</label>
                              </div>
                          </div>
                          <div class="col-2">
                              <div class="md-form md-outline form-sm">
                                <input type="text" [disabled]="checked"  formControlName="SDI" id="SDI" class="form-control form-control-sm" mdbInput>
                                <label for="SDI">SDI</label>
                              </div>
                          </div>
                        </div>

                        <hr id="line_sep" class="col-10 mb-5">

                        <div class="row col-12" id="terzaRiga">
                              <!-- Material outline input -->
                              <div class="col-4">
                                  <div class="md-form md-outline form-sm">
                                    <input type="text" [disabled]="checked"  formControlName="legaleRappresentante" id="legaleRappresentante" class="form-control form-control-sm" mdbInput>
                                    <label for="legaleRappresentante">Legale Rappresentante</label>
                                  </div>
                              </div>
                            <div class="col-6">
                                <!-- Material outline input -->
                              <div class="md-form md-outline form-sm">
                                <input type="text" [disabled]="checked"  formControlName="residenzaVia_LR" id="residenzaVia_LR" class="form-control form-control-sm" mdbInput>
                                <label for="residenzaVia_LR">Indirizzo</label>
                              </div>
                            </div>
                            <div class="col-1">
                                <div class="md-form md-outline form-sm">
                                  <input type="text" [disabled]="checked"  formControlName="residenzaProvincia_LR" id="residenzaProvincia_LR" class="form-control form-control-sm" mdbInput>
                                  <label for="residenzaProvincia_LR">Provincia</label>
                                </div>
                              </div>
                          <div class="col-1">
                              <div class="md-form md-outline form-sm">
                                <input type="text" [disabled]="checked"  formControlName="residenzaCAP_LR" id="residenzaCAP_LR" class="form-control form-control-sm" mdbInput>
                                <label for="residenzaCAP_LR">CAP</label>
                              </div>
                            </div>
                      </div>
                      <div class="row col-12" id="quartaRiga">
                          <div class="col-2">
                              <div class="md-form md-outline form-sm">
                                <input type="text" [disabled]="checked"  formControlName="residenzaCitta_LR" id="residenzaCitta_LR" class="form-control form-control-sm" mdbInput>
                                <label for="residenzaCitta_LR">Residenza</label>
                              </div>
                            </div>
                            <div class="col-3">
                              <div class="md-form md-outline form-sm ml-5">
                                <input type="text" [disabled]="checked"  formControlName="natoA_LR" id="natoA_LR" class="form-control form-control-sm" mdbInput>
                                <label for="natoA_LR">Nato a:</label>
                              </div>
                            </div>
                            <div class="col-2">
                              <div class="md-form md-outline form-sm">
                                <input type="text" [disabled]="checked"  formControlName="dataNascita_LR" id="dataNascita_LR" class="form-control form-control-sm" mdbInput>
                                <label for="dataNascita_LR">Data di Nascita</label>
                              </div>
                            </div>
                            <div class="col-3">
                              <div class="md-form md-outline form-sm">
                                <input type="text" [disabled]="checked"  formControlName="CF_LR" id="CF_LR" class="form-control form-control-sm" mdbInput>
                                <label for="CF_LR">Codice Fiscale</label>
                              </div>
                            </div>
                  </div>
                      <div class="row col-12" id="sestaRiga">
                        <div class="col-5 mr-1">
                            <div class="row">
                            <table mdbTableEditor class="table table-striped z-depth-1"  [itemsPerPage]="visibleItems" #tableTel="mdbEditor" (rowHighlight)="highlightedRow = $event">
                                <thead>
                                <tr>
                                  <th *ngFor="let head of headElementsTel" scope="col-3">{{head}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let el of tableTel.performSearch(this.searchText); let i = index" (click)="modalTel(el,i)">
                                  <td>{{el.tipo}}</td>
                                  <td>{{el.numero}}</td>
                                </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="7">
                                          <div class="d-flex flex-center">
                                            <span>Visualizzati da {{tableTel.paginationInfo.firstItem}} a {{tableTel.paginationInfo.lastItem}} di {{tableTel.paginationInfo.allItems}} risultati</span>
                                            <div class="flex-1"></div>
                                            <mdb-icon fas icon="angle-left" id="fasWhite" size="lg" (click)="tableTel.prevPage()" class="p-2"
                                                      [ngClass]="{'disabled text-muted': tableTel.disablePrevious()}" mdbWavesEffect></mdb-icon>
                                            <mdb-icon fas icon="angle-right" id="fasWhite" size="lg" (click)="tableTel.nextPage()" class="p-2"
                                                      [ngClass]="{'disabled text-muted': tableTel.disableNext()}" mdbWavesEffect></mdb-icon>
                                            <mdb-icon class="mr-1 ml-2" *ngIf="saveTel" id="plus" fas icon="plus" (click)="frameTel.show()"></mdb-icon>
                                            <mdb-icon class="mr-1" *ngIf="editTel" id="edit" fas icon="edit"  (click)="editTelefono()"></mdb-icon>
                                            <mdb-icon *ngIf="deleteTel" id="trash" fas icon="trash"></mdb-icon>
                                          </div>
                                        </td>
                                      </tr>
                                </tfoot>
                              </table>
                              </div>
                        </div>
                        <div class="col-5 ml-1">
                            <div class="row">
                            <table mdbTableEditor class="table table-striped z-depth-1" [itemsPerPage]="visibleItems" #tableMail="mdbEditor" (rowHighlight)="highlightedRow = $event">
                                <thead>
                                <tr>
                                  <th *ngFor="let head of headElementsMail" scope="col-3">{{head}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let el1 of tableMail.performSearch(this.searchText); let i = index" (click)="modalMail(el1,i)">
                                    <td>{{el1.tipo}}</td>
                                    <td>{{el1.mail}}</td>
                                </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="7">
                                          <div class="d-flex flex-center">
                                            <span>Visualizzati da {{tableMail.paginationInfo.firstItem}} a {{tableMail.paginationInfo.lastItem}} di {{tableMail.paginationInfo.allItems}} risultati</span>
                                            <div class="flex-1"></div>
                                            <mdb-icon fas icon="angle-left" id="fasWhite" size="lg" (click)="tableMail.prevPage()" class="p-2"
                                                      [ngClass]="{'disabled text-muted': tableMail.disablePrevious()}" mdbWavesEffect></mdb-icon>
                                            <mdb-icon fas icon="angle-right" id="fasWhite" size="lg" (click)="tableMail.nextPage()" class="p-2"
                                                      [ngClass]="{'disabled text-muted': tableMail.disableNext()}" mdbWavesEffect></mdb-icon>
                                            <mdb-icon class="mr-1 ml-2" *ngIf="saveMail" id="plus" fas icon="plus" (click)="frameMail.show()"></mdb-icon>
                                            <mdb-icon class="mr-1" *ngIf="editMail" id="edit" fas icon="edit" (click)="editEmail()"></mdb-icon>
                                            <mdb-icon *ngIf="deleteMail" id="trash" fas icon="trash"></mdb-icon>
                                          </div>
                                        </td>
                                      </tr>
                                </tfoot>
                              </table>
                            </div>
                        </div>
                        <div class="row col-12" id="quintaRiga">
                          <!-- Material outline input -->
                          <div class="col-12">
                            <div class="md-form md-outline form-sm">
                                <textarea  type="text"  [disabled]="checked" formControlName="notaFattura" id="notaFattura" class="form-control md-textarea-auto form-control-sm" mdbInput></textarea>
                                <label for="notaFattura">Note</label>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </form>
                  <!-- Fine FromGroup -->
                <div class="row col-12">
                    <div class="col-3">
                      <div></div>
                    </div>
                    <div class="col-6">
                      <div>
                        <button mdbBtn id="conferma" type="button" (click)="salvaFatturazione()"  color="primary" outline="true" size="sm" mdbWavesEffect>CONFERMA</button>
                        <button mdbBtn id="reset" type="button" *ngIf="showreset" (click)="reset()"  color="warning" outline="true" size="sm" mdbWavesEffect>RESETTA CAMPI</button>
                      </div>
                    </div>
                    <div class="col-3">
                      <div></div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </mdb-card-body>
    </mdb-card>
  </div>
  <div mdbModal #frameTel="mdbModal" class="modal fade left font_custom" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h5 class="modal-title w-100 font-weight-bold">Aggiungi numero di Telefono</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeTelModal()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body mx-3">

              <div class="md-form mb-1" id="ownerModal">
                <input type="text" [(ngModel)]="tipoModal" id="tipoModal" class="form-control" mdbInput>
                <label for="consegnareAModal">Nome o Ruolo:</label>
              </div>

              <div class="md-form mb-1" id="emailModalDiv">
                <input type="text" [(ngModel)]="telefonoModal" id="telefonoModal" class="form-control" mdbInput>
                <label for="telefonoModal">Telefono:</label>
              </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
              <button mdbBtn color="default" size="sm" (click)="salvaTel()" class="waves-light" mdbWavesEffect>Salva</button>
              <button mdbBtn color="default" size="sm" (click)="closeTelModal()" class="waves-light" mdbWavesEffect>Annulla</button>
            </div>
          </div>
        </div>
  </div>

  <div mdbModal #frameMail="mdbModal" class="modal fade left font_custom" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h5 class="modal-title w-100 font-weight-bold">Aggiungi indirizzo Email</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeMailModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mx-3">
            <div class="md-form mb-1" id="ownerModal">
              <input type="text" [(ngModel)]="tipoMailModal" id="tipoMailModal" class="form-control" mdbInput>
              <label for="consegnareAModal">Nome o Ruolo:</label>
            </div>

            <div class="md-form mb-1" id="emailModalDiv">
            <input type="text" [(ngModel)]="emailModal" id="emailModal" class="form-control" mdbInput>
              <label for="consegnareAModal">Email:</label>
            </div>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button mdbBtn color="default" (click)="salvaMail()" size="sm" class="waves-light" mdbWavesEffect>Salva</button>
            <button mdbBtn color="default" (click)="closeMailModal()" size="sm" class="waves-light" mdbWavesEffect>Annulla</button>
          </div>
        </div>
      </div>
  </div>
</section>

