th {
  color: #3f729b;
  border: 1px solid #dee2e6;
  font-weight: 900!important;
  padding: 0.40rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

td {
  border: 1px solid #dee2e6;
  font-weight: 900;
  padding: 0.40rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  vertical-align: middle !important;
}

mdb-icon.fas {
  color: #3f729b;
  background-color: #3f729b;
}

mdb-icon.far {
  color: #3f729b;
}

.mdbtable-column-codCliente {
  width: 10% !important;
}

.tr-color-selected{
  background-color: hsla(196, 77%, 55%, 0.3) !important;
  transition: all .2s ease-in;
}

.font_custom{
	font-family: "Tahoma";
    font-weight: 400;
    font-style: normal;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}


@media (min-width: 1366px){
  mdb-card.card {
    height: 530px !important;
    overflow-y: auto;
  }
  .md-form.md-outline.form-sm .form-control.form-control-sm {
    padding: 0.25rem 0.625rem;
    font-size: 0.8rem;
  }
}

@media (min-width: 1920px){
  mdb-card.card {
    height: 825px !important;
  }

  div#contenitore {
    padding-top: 124px;
  }
}

.btn[class*=btn-outline-] {
  font-weight: 900;
}

#card_row{
  height: 100%!important;
}

.card .card-body h1, .card .card-body h2, .card .card-body h3, .card .card-body h4, .card .card-body h5, .card .card-body h6 {
  font-weight: 900;
  color: #3f729b;
}

div#icon_column {
  max-width: 8%;
  border-right-color: #3f729b;
  border-right-style: solid;
  border-right-width: thin;
  align-self: center;
}



input.form-control {
  font-weight: 900;
}

.md-form.md-outline label {
  font-weight: 900;
}

.margineZero {
  margin-bottom: 0rem;
}

.md-form textarea.md-textarea {
  font-weight: 900;
}
textarea#nota {
  font-weight: 900;
}
.md-form.md-outline.form-sm label.active {
  color: #3f729b;
}

button#save {
   /*margin-left: 70%;*/
}

button#edit {
  margin-left: 49%!important;
}


form {
  width: 100%!important;
}

div#primaRiga {
  margin-top: -16px;
  width: 100%!important;
}

div#secondaRiga, div#terzaRiga, div#quartaRiga {
  margin-top: -38px;
}

.col-1{
  padding-left: 2px!important;
  padding-right: 2px!important;
}

.col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9{
  padding-left: 1px!important;
  padding-right: 1px!important;
}

mdb-select#selectAnag {
  margin-top: 24px;
}

#porteGrid{
  width: 100%!important;
  scroll-padding-left: 10px;
  padding-right: 10px;
}

label#dataLabel {
  margin-top: 20px;
  margin-left: 10px;
  background-color: white;
  padding-left: 2px;
  padding-right: 2px;
}
label#dataLabel.active {
  margin-top: 2px;
  margin-left: 0px;
}
mdb-select {
    margin-top: 24px;
    padding-right: 2px;
}

#nota {
min-height: 200px;
}
