<section class="text-center mt-3">

    <div class="card-deck font_custom">
        <!-- Card -->
        <mdb-card>
          <!--Card content-->
          <mdb-card-body>
            <!--Title-->
            <div class="row" id="card_row">
                <div class="col-2" id="icon_column">
                  <!-- <div class="row d-flex justify-content-center">
                      <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="GENERALE" placement="right" mdbWavesEffect><mdb-icon fas icon="home" (click)= "goTo('clienti')"></mdb-icon></a>
                  </div>
                  <div class="row d-flex justify-content-center">
                      <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="ANAGRAFICA" placement="right" mdbWavesEffect><mdb-icon fas icon="info" (click)="goTo('clientiAnagrafica')"></mdb-icon></a>
                  </div>
                  <div class="row d-flex justify-content-center">
                      <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="IMPIANTO" placement="right" mdbWavesEffect><mdb-icon fas icon="diagnoses" (click)="goTo('clientiImpianto')"></mdb-icon></a>
                  </div>
                  <div class="row d-flex justify-content-center">
                      <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="PORTA BLINDATA" placement="right" mdbWavesEffect><mdb-icon fas icon="door-open" class="active"></mdb-icon></a>
                  </div>
                  <div class="row d-flex justify-content-center">
                      <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="E" placement="right" mdbWavesEffect><mdb-icon fas icon="euro-sign" (click)="goTo('clientiE')"></mdb-icon></a>
                  </div>
                  <div class="row d-flex justify-content-center">
                      <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="CISA" placement="right" mdbWavesEffect><mdb-icon fas icon="key" (click)="goTo('clientiCISA')"></mdb-icon></a>
                  </div> -->
                  <div class="row d-flex justify-content-center">
                    <a type="button" mdbBtn floating="true" size="sm" color="fb" *ngIf="readOnly" class="waves-light" mdbTooltip="BACK" placement="right" mdbWavesEffect><mdb-icon fas icon="arrow-left" (click)="salvaPorta()"></mdb-icon></a>
                  </div>
                </div>
              <div class="col-11" id="component_column">
                 <div class="row">
                   <div class="col-6 mt-2">
                          <h4> {{ titolo }} </h4>
                   </div>
                   <div class="col-6">
                      <button mdbBtn id="save" type="button" *ngIf="save" color="success" outline="true" (click)="salvaPorta()" size="sm" mdbWavesEffect>Salva Porta</button>
                      <button mdbBtn id="edit" type="button" *ngIf="edit" (click)="editForm()" color="warning" outline="true" size="sm" mdbWavesEffect>EDIT</button>
                      <button mdbBtn id="delete"  type="button" *ngIf="del" color="danger" outline="true" (click)="deletePorta()" size="sm" mdbWavesEffect>Elimina Porta</button>
                   </div>
                 </div>
              <!--Text-->
          <!-- seconda parte GENERALE-->
          <div class="row text-center mt-1" id="contenitore">
            <div>Serrature e defender:</div>
            <form [formGroup]="clientiSerrDef" id="clientiSerDef" class="form">
              <div class="row" id="porteGrid">
                  <div class="col-md-6 mx-auto">
                  </div>
                  <table mdbTableEditor class="table table-striped z-depth-1" [itemsPerPage]="visibleItems" #table="mdbEditor" (rowHighlight)="highlightedRow = $event">
                    <thead>
                    <tr>
                      <th *ngFor="let head of headElements" scope="col-3">{{head}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of table.performSearch(this.searchText); let i = index" (click)="sendData(item, i);frameSerDef.show()">
                      <td>{{item.dataString}}</td>
                      <td>{{item.fornitore}}</td>
                      <td>{{item.modello}}</td>
                      <td>{{item.tipo}}</td>
                      <td>{{item.nota}}</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                      <td colspan="7">
                        <div class="d-flex flex-center">
                          <span>Visualizzati da {{table.paginationInfo.firstItem}} a {{table.paginationInfo.lastItem}} di {{table.paginationInfo.allItems}} risultati</span>
                          <div class="flex-1"></div>
                          <mdb-icon fas icon="angle-left" id="fasWhite" size="lg" (click)="table.prevPage()" class="p-2"
                                    [ngClass]="{'disabled text-muted': table.disablePrevious()}" mdbWavesEffect></mdb-icon>
                          <mdb-icon fas icon="angle-right" id="fasWhite" size="lg" (click)="table.nextPage()" class="p-2"
                                    [ngClass]="{'disabled text-muted': table.disableNext()}" mdbWavesEffect></mdb-icon>
                          <mdb-icon class="mr-1 ml-2" id="plus" fas icon="plus" (click)="frameSerDef.show()"></mdb-icon>
                        </div>
                      </td>
                    </tr>
                    </tfoot>
                  </table>
                </div>
            <div class="row">
                <!-- primaRiga -->
                <div class="row col-12" id="primaRiga">
                    <div class="col-2">
                        <!-- Material outline input -->
                        <div class="md-form md-outline form-sm">
                            <input type="date"  [disabled]="checked" formControlName="data" id="data" class="form-control form-control-sm" mdbInput>
                            <label id="dataLabel" for="data">Data</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <mdb-select [disabled]="checked" [outline]="true" [options]="fornitoreSelect" placeholder="Scegli il montatore" formControlName="fornitore" label="Montatore"></mdb-select>
                    </div>
                    <div class="col-2">
                        <mdb-select [disabled]="checked" [outline]="true" [options]="ubicazioneSelect" formControlName="ubicazione" placeholder="Scegli l'ubicazione" label="Ubicazione"></mdb-select>
                    </div>
                    <div class="col-2">
                        <mdb-select [disabled]="checked" [outline]="true" [options]="modelloSelect" formControlName="modelloPorta" placeholder="Scegli il modello" label="Modello"></mdb-select>
                    </div>
                    <div class="col-2">
                        <mdb-select [disabled]="checked" [outline]="true" [options]="battentiSelect" formControlName="battenti" placeholder="Scegli il battente" label="Battenti"></mdb-select>
                    </div>
                    <div class="col-2">
                        <mdb-select [disabled]="checked" [outline]="true" [options]="antispifferoSelect" formControlName="antispiffero" placeholder="Scegli l'antispiffero" label="Antispiffero"></mdb-select>
                    </div>
                </div>
                <!-- secondaRiga -->
                <div class="row col-12" id="secondaRiga">
                    <div class="col-2">
                        <mdb-select [disabled]="checked" [outline]="true" [options]="antirapinaSelect" formControlName="antirapina" placeholder="Scegli l'antirapina" label="Antirapina"></mdb-select>
                    </div>
                    <div class="col-2">
                        <mdb-select [disabled]="checked" [outline]="true" [options]="occhielloSelect" formControlName="occhiello" placeholder="Scegli l'occhiello" label="Occhiello"></mdb-select>
                    </div>
                  <div class="col-6">
                      <!-- Material outline input -->
                      <div class="md-form md-outline form-sm">
                      <input type="text" [disabled]="checked"  formControlName="bloccoAste" id="bloccoAste" class="form-control form-control-sm" mdbInput>
                      <label for="bloccoAste">Blocco Aste</label>
                    </div>
                  </div>
                  <div class="col-2">
                      <mdb-select [disabled]="checked" [outline]="true" [options]="manganeseSelect" formControlName="manganese" placeholder="Scegli lastra" label="Presenza lastra"></mdb-select>
                  </div>
                  </div>
                  <div class="row col-12" id="terzaRiga">
                    <div class="col-12">
                        <!-- Material outline input -->
                        <div class="md-form md-outline form-sm">
                        <textarea  type="text"  [disabled]="checked" formControlName="nota" id="nota" class="form-control md-textarea-auto form-control-sm" mdbInput></textarea>
                        <label for="nota">Nota</label>
                      </div>
                    </div>
                </div>
            </div>
            </form>
          </div>
          </div>
          </div>
          </mdb-card-body>
        </mdb-card>
      </div>
      <div mdbModal #frameSerDef="mdbModal" class="modal fade left font_custom" id="frameModalTop" (closed)="onClose()" (open)="onOpened($event)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h5 class="modal-title w-100 font-weight-bold">Aggiungi SMT</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="annullaSerDef(); frameSerDef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body mx-3">
              <div class="md-form mb-1" id="inputModal">
                <input type="date" [(ngModel)]="dataModal" id="data" class="form-control" mdbInput>
                <label for="data">Data:</label>
              </div>
              <div class="md-form mb-1" id="inputModal">
                <input type="text" [(ngModel)]="fornitoreModal" id="fornitore" class="form-control" mdbInput>
                <label for="fornitore">Fornitore:</label>
              </div>
              <div class="md-form mb-1" id="inputModal">
                <input type="text" [(ngModel)]="modelloModal" id="modello" class="form-control" mdbInput>
                <label for="modello">Modello:</label>
              </div>
              <div class="md-form mb-1" id="inputModal">
                <input type="text" [(ngModel)]="tipoModal" id="tipo" class="form-control" mdbInput>
                <label for="tipo">Tipo:</label>
              </div>
              <div class="md-form mb-1" id="inputModal">
                <textarea type="text" [(ngModel)]="notaModal" id="nota" class="md-textarea form-control" mdbInput></textarea>
                <label for="nota">Nota:</label>
              </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
              <button mdbBtn color="default" size="sm" class="waves-light" (click)="salvaSerDef(); frameSerDef.hide()" mdbWavesEffect>Salva</button>
              <button mdbBtn color="default" (click)="annullaSerDef(); frameSerDef.hide()" size="sm" class="waves-light" mdbWavesEffect>Annulla</button>
            </div>
          </div>
        </div>
      </div>
  </section>
