<!--Main Navigation-->
<header class="intro-header">
    <!--Intro Section-->
    <section class="view intro-2 rgba-gradient">
      <div class="full-bg-img">
        <div class="container flex-center">
          <div class="row flex-center pt-2">
            <div class="col-md-5 text-center text-md-left margins">
                <div class="login">
                    <form [formGroup]="myGroup" id="utenti" class="mr-4 form" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                    <div class="md-form md-outline">
                        <mdb-icon class="noGreen" fas icon="envelope"></mdb-icon>
                        <input type="text" id="name" class="form-control white-text" formControlName="name" mdbInput>
                        <label for="name">Username</label>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="md-form md-outline mt-2">
                          <mdb-icon class="noGreen" fas icon="unlock"></mdb-icon>
                          <input type="password" id="password" class="form-control white-text" formControlName="password" mdbInput>
                          <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="form-group">
                      <div class="text-right">
                      <button type="submit" mdbBtn floating="true" size="sm" color="white" class="waves-light mr-4"><i class="fas fa-sign-in-alt"></i></button>
                      </div>
                    </div>
                  </form>
                  </div>
            </div>

            <div class="col-md-6 wow fadeInRight d-flex justify-content-center" data-wow-delay="0.3s">
              <img src="assets/img/logo1.png" alt="" class="img-responsive" width="70%">
            </div>
          </div>
        </div>
      </div>
    </section>

  </header>
  <!--Main Navigation-->
