<section class="text-center mt-3">
  <div class="card-deck font_custom">
      <!-- Card -->
      <mdb-card>
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <div class="row" id="card_row">
                  <div class="col-2" id="icon_column">
                    <!-- <div class="row d-flex justify-content-center">
                        <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="GENERALE" placement="right" mdbWavesEffect><mdb-icon fas icon="home" (click)= "goTo('clienti')"></mdb-icon></a>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="ANAGRAFICA" placement="right" mdbWavesEffect><mdb-icon fas icon="info" (click)="goTo('clientiAnagrafica')"></mdb-icon></a>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="IMPIANTO" placement="right" mdbWavesEffect><mdb-icon fas icon="diagnoses" (click)="goTo('clientiImpianto')"></mdb-icon></a>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="PORTA BLINDATA" placement="right" mdbWavesEffect><mdb-icon fas icon="door-open" (click)="goTo('clientiPB')"></mdb-icon></a>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="E" placement="right" mdbWavesEffect><mdb-icon fas icon="euro-sign" class="active" (click)="goTo('clientiE')"></mdb-icon></a>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="CISA" placement="right" mdbWavesEffect><mdb-icon fas icon="key" (click)="goTo('clientiCISA')"></mdb-icon></a>
                    </div> -->
                    <div class="row d-flex justify-content-center">
                      <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="BACK" placement="right" mdbWavesEffect><mdb-icon fas icon="arrow-left" (click)="goTo('clientiAddImpianto')"></mdb-icon></a>
                    </div>
                  </div>
            <div class="col-11" id="component_column">
               <div class="row">
                 <div class="col-6 mt-2">
                        <h4> {{ titolo }} </h4>
                 </div>
                 <div class="col-6">
                    <button mdbBtn id="save" type="button" *ngIf="save" (click)="salva()" color="success" outline="true" size="sm" mdbWavesEffect>SALVA</button>
                    <button mdbBtn id="edit" type="button" *ngIf="edit" color="warning" outline="true" size="sm" mdbWavesEffect>EDIT</button>
                    <button mdbBtn id="delete"  type="button" *ngIf="delete" color="danger" outline="true" size="sm" mdbWavesEffect>ELIMINA</button>
                 </div>
               </div>
            <!--Text-->
            <mdb-card-text>
        <!-- seconda parte GENERALE-->
        <div class="row text-center mt-1" id="contenitore">
          <form [formGroup]="clientiE" id="clientiE" class="form">
          <div class="row">
              <!-- primaRiga -->
              <div class="row col-12" id="primaRiga">
                  <div class="col-12">
                    <table mdbTableEditor class="table table-striped z-depth-1" [itemsPerPage]="visibleItems" #table="mdbEditor" id="table" (rowHighlight)="highlightedRow = $event">
                      <thead>
                      <tr>
                        <th
                          *ngFor="let head of headElements; let i = index"
                          scope="col"

                        >{{head}}</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let item of table.performSearch(this.searchText); let i = index" (click)="sendData(item, i); frameSMT.show()">
                        <td>{{item.dataString}}</td>
                        <td>{{item.annoInizio}}</td>
                        <td>{{item.importo}}</td>
                        <td>{{item.annoFine}}</td>
                        <td>{{item.fatturato}}</td>
                      </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                            <td colspan="7">
                              <div class="d-flex flex-center">
                                <span>Visualizzati da {{table.paginationInfo.firstItem}} a {{table.paginationInfo.lastItem}} di {{table.paginationInfo.allItems}} risultati</span>
                                <div class="flex-1"></div>
                                <mdb-icon fas icon="angle-left" id="fasWhite" size="lg" (click)="table.prevPage()" class="p-2"
                                          [ngClass]="{'disabled text-muted': table.disablePrevious()}" mdbWavesEffect></mdb-icon>
                                <mdb-icon fas icon="angle-right" id="fasWhite" size="lg" (click)="table.nextPage()" class="p-2"
                                          [ngClass]="{'disabled text-muted': table.disableNext()}" mdbWavesEffect></mdb-icon>
                                <mdb-icon class="mr-1 ml-2" *ngIf="saveE" id="plus" fas icon="plus" (click)="frameSMT.show()"></mdb-icon>
                                <mdb-icon class="mr-1" *ngIf="editE" id="edit" fas icon="edit" (click)="frameSMT.show()"></mdb-icon>
                                <mdb-icon *ngIf="deleteE" id="trash" fas icon="trash"></mdb-icon>
                              </div>
                            </td>
                          </tr>
                    </tfoot>
                    </table>
                  </div>
              </div>
              <!-- secondaRiga -->
              <div class="row col-12 mt-3" id="secondaRiga">
                  <div class="col-12">
                      <!--Material textarea-->
                      <div class="md-form md-outline">
                        <textarea type="text" formControlName="notaE" id="notaE" class="form-control md-textarea" rows="4" mdbInput></textarea>
                        <label for="noteE">Note</label>
                    </div>
                  </div>
              </div>
          </div>
        </form>
        </div>
        </mdb-card-text>
        </div>
        </div>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div mdbModal #frameSMT="mdbModal" class="modal fade left font_custom" id="frameModalTop" (closed)="onClose()" (open)="onOpened($event)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h5 class="modal-title w-100 font-weight-bold">Aggiungi SMT</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mx-3">
            <div class="md-form mb-1" id="dataSMTDiv">
              <input type="date" [(ngModel)]="dataSMT" id="dataSMT" class="form-control" mdbInput>
              <label for="dataSMT">Data SMT:</label>
            </div>
            <div class="md-form mb-1" id="annoInizioSMTDIV">
              <mdb-select [(ngModel)]="annoInizioSMT" [options]="annoSMT" placeholder="Scegli l'anno..." id="annoInizioSMT"></mdb-select>
              <label for="annoInizioSMT">Anno Inizio:</label>
            </div>
            <div class="md-form mb-1" id="importoSMTDIV">
              <input type="text" [(ngModel)]="importoSMT" id="importoSMT" class="form-control" mdbInput>
              <label for="importoSMT">Importo:</label>
            </div>
            <div class="md-form mb-1" id="annoFineSMTDIV">
              <mdb-select [(ngModel)]="annoFineSMT" [options]="annoSMT" placeholder="Scegli l'anno..." id="annoFineSMT"></mdb-select>
              <label for="annoFineSMT">Anno Fine:</label>
            </div>
            <div class="md-form mb-1" id="importoIVASMTDIV">
              <input type="text" [(ngModel)]="importoIVASMT" id="importoIVASMT" class="form-control" mdbInput>
              <label for="importoIVASMT">Importo IVA compresa:</label>
            </div>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button mdbBtn color="default" size="sm" class="waves-light" (click)="salvaSmt(); closeModal()" mdbWavesEffect>Salva</button>
            <button mdbBtn color="default" (click)="closeModal()" size="sm" class="waves-light" mdbWavesEffect>Annulla</button>
          </div>
        </div>
      </div>
    </div>
</section>
