<div class="mt-4 mb-4 ml-4 mr-4">
<mdb-calendar [events]="events" (eventEdited)="onEventEdit($event)" (dayClick)="onEventAdd($event)"></mdb-calendar>
</div>

<div mdbModal #frame="mdbModal"  class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <form [formGroup]="googleForm" id="clientiAnagrafica" class="form">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon>
          <input type="text" id="googleCode" formControlName="googleCode" class="form-control"mdbInput>
          <label for="googleCode">Google Code</label>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="default" class="waves-light" (click)="pushCode();frame.hide()" mdbWavesEffect>Send</button>
      </div>
    </div>
  </div>
  </form>
</div>

<div mdbModal #frameGoogleEdit="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Modifica/Cancella Evento</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frameGoogleEdit.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form">
          <label for="titolo">Nome Evento</label>
          <input mdbInput type="text" class="form-control" id="titolo" [ngModel]="titolo">
        </div>


        <div class="md-form row">
          <mdb-date-picker
            [label]="'Data Evento'"
            [options]="myDatePickerOptions"
            [placeholder]="'Seleziona Data'"
            [(ngModel)]="dataEventoEdit">
          </mdb-date-picker>
        </div>
        <div class="md-form">
          <mdb-time-picker
            [buttonLabel]="'Scegli'"
            [twelvehour]="false"
            [darktheme]="false"
            [placeholder]="'Seleziona ora inizio evento'"
            [label]="'Ora fine evento'"
            [(ngModel)]="oraInizio">
          </mdb-time-picker>
        </div>
      <div class="md-form">
        <mdb-time-picker
          [buttonLabel]="'Scegli'"
          [twelvehour]="false"
          [darktheme]="false"
          [placeholder]="'Seleziona ora fine evento'"
          [label]="'Ora fine evento'"
          [(ngModel)]="oraFine">
      </mdb-time-picker>
    </div>

        <div class="md-form">
          <mdb-select [(ngModel)]="calendarIdSelectEdit"  [options]="calendarIDEdit" placeholder="Scegli il calendario..." id="calendarId"></mdb-select>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="unique" class="waves-light" (click)="modificaEventoGoogle()" mdbWavesEffect>Modifica
          <mdb-icon far icon="edit"></mdb-icon>
        </button>
        <button mdbBtn color="unique" class="waves-light" (click)="cancellaEventoGoogle()" mdbWavesEffect>Cancella
          <mdb-icon far icon="trash-alt"></mdb-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<div mdbModal #frameGoogleAdd="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Inserisci nuovo evento</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frameGoogleAdd.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form">
          <label for="titolo">Nome Evento</label>
          <input mdbInput type="text" class="form-control" id="titolo" [(ngModel)]="titoloAdd">
        </div>

        <div class="md-form">
          <label for="dataEvento">Data Evento</label>
          <input mdbInput type="text" class="form-control" id="dataEvento" [(ngModel)]="dataEvento">
        </div>

        <div class="md-form">
          <mdb-time-picker
          [buttonLabel]="'Scegli'"
          [twelvehour]="false"
          [darktheme]="false"
          [placeholder]="'Seleziona ora inizio evento'"
          [label]="'Ora fine evento'"
          [(ngModel)]="oraInizioAdd"
        ></mdb-time-picker>
        </div>

        <div class="md-form">
          <mdb-time-picker
          [buttonLabel]="'Scegli'"
          [twelvehour]="false"
          [darktheme]="false"
          [placeholder]="'Seleziona ora fine evento'"
          [label]="'Ora fine evento'"
          [(ngModel)]="oraFineAdd">
          </mdb-time-picker>
        </div>


        <div class="md-form">
          <mdb-select [(ngModel)]="calendarIdSelect"  [options]="calendarID" placeholder="Scegli il calendario..." id="calendarId"></mdb-select>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="unique" class="waves-light" (click)="salvaEventoGoogle()" mdbWavesEffect>Salva
          <mdb-icon far icon="save"></mdb-icon>
        </button>

      </div>
    </div>
  </div>
</div>
