.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}

.font_custom{
	font-family: "Tahoma";
    font-weight: 400;
    font-style: normal;
}

img {
  width: 10%;
  vertical-align: middle;
  border-style: none;
}

#google_button {
  margin-left: 44%;
  margin-top: 3%;
}


.md-form.row {
  margin-bottom: 60px;
}

