<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Angular</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <!-- Font Google -->
  <link href="https://fonts.googleapis.com/css?family=Poiret+One&display=swap" rel="stylesheet">
</head>

<body>

<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false" *ngIf="currentUser">

  <!-- Navbar brand -->
  <mdb-navbar-brand><img src="assets/img/logo.png" width="4%"></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto size_font_custom">
      <li class="nav-item" routerLink="home" routerLinkActive="active">
        <a class="nav-link waves-light"  routerLink="home" mdbWavesEffect>Home</a>
      </li>
      <li class="nav-item" routerLink="clientiAnagrafica" routerLinkActive="active">
        <a class="nav-link waves-light" routerLink="clientiAnagrafica" mdbWavesEffect>Clienti</a>
      </li>
      <li class="nav-item" routerLink="appuntamenti" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect>Appuntamenti</a>
      </li>
      <li class="nav-item" routerLink="ct" routerLinkActive="active">
          <a class="nav-link waves-light" mdbWavesEffect>CT/CTC</a>
        </li>
      <li class="nav-item" routerLink="utility" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect>Utility</a>
      </li>
    </ul>
    <!-- Links -->

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item" *ngIf="showGoogle">
        <a class="nav-link">
          <div class="btn-group" mdbDropdown>
              <a (click)="googleSign()"><mdb-icon fab icon="google" size="1x" class="white-text"></mdb-icon></a>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <div class="btn-group" mdbDropdown>
              <a (click)="logout()"><mdb-icon fas icon="sign-out-alt" size="1x" class="white-text"></mdb-icon></a>
          </div>
        </a>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->


<!-- Spinning preloader -->
<div class="spinning-preloader-container" *ngIf="loading">
      <div class="preloader-wrapper big active">

            <div class="spinner-layer spinner-blue">
              <div class="circle-clipper left">
                <div class="circle"> </div>
              </div> <div class="gap-patch">
                <div class="circle"> </div>
              </div>
            </div>

            <div class="spinner-layer spinner-red">
              <div class="circle-clipper left">
                <div class="circle"> </div>
              </div> <div class="gap-patch">
                <div class="circle"> </div>
              </div>
            </div>

            <div class="spinner-layer spinner-yellow">
              <div class="circle-clipper left">
                <div class="circle"> </div>
              </div> <div class="gap-patch">
                <div class="circle"> </div>
              </div>
            </div>

            <div class="spinner-layer spinner-green">
              <div class="circle-clipper left">
                <div class="circle"> </div>
              </div> <div class="gap-patch">
                <div class="circle"> </div>
              </div>
            </div>

      </div>
</div>
<!-- Spinning preloader -->
<div *ngIf="mostraDiv === true; else second">
  <div class="row" id="rowDiv">
    <div class="col-4"><app-clientigrid></app-clientigrid></div>
    <div class="col d-flex justify-content-center" *ngIf="loaderMDB" id="loaderMdb"><mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner></div>
    <div class="col" *ngIf="showComponent"><router-outlet></router-outlet></div>
  </div>
</div>
<ng-template #second>
    <router-outlet></router-outlet>
</ng-template>

<!-- Footer -->
<footer class="page-footer font-small blue fixed-bottom" *ngIf="currentUser">

    <!-- Copyright -->
    <div class="footer-copyright text-center size_font_custom">© 2019 SferaTEC -
      <a href="http://www.sferatec.it/"> www.sferatec.it</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
</body>
</html>
