/*.padding_custom {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}*/

.blue {
  background-color: #3f729b!important;
}

mdb-navbar-brand {
  /* padding-left: 43px; */
  margin-right: -572px;
  padding-right: 20px;
}

.font_custom{
	font-family: "Tahoma";
    font-weight: 400;
    font-style: normal;
}

a.nav-link.waves-light.font_custom {
  font-weight: 900;
}


.size_font_custom {
  font-family: "Tahoma";
  font-weight: 1000;
  font-style: normal;
  font-size: larger;
}
// Change main active link appearance
mdb-accordion-item-head.active a h5 {
  color: red !important;
  background-color: yellow !important;
}

// Change nested active links appearance
mdb-accordion-item-body a.active {
  color: red !important;
  background-color: yellow !important;
}

.font_custom{
	font-family: "Tahoma";
    font-weight: 400;
    font-style: normal;
}

#frase_modal{
    color: black;
    font-weight: 900;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}

div#loaderMdb {
  margin-top: 15%!important;
}


