<!--Section: Features v.1-->
<section class="mt-5">

    <!-- Grid row -->
    <div class="row font_custom">
      <div class="col-3">
        <div class="row d-flex justify-content-center">
          <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect (click)="goTo('utility_centrale')">CENTRALE</button>
      </div>
      <div class="row d-flex justify-content-center">
          <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect (click)="goTo('utility_piano')">PIANO</button>
      </div>
        <div class="row d-flex justify-content-center">
            <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect (click)="goTo('utility_professione')">PROFESSIONE</button>
        </div>
        <div class="row d-flex justify-content-center">
            <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect (click)="goTo('utility_tipoCliente')">TIPO CLIENTE</button>
        </div>
        <div class="row d-flex justify-content-center">
            <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect >TIPOLOGIA INTERVENTO</button>
        </div>
        <div class="row d-flex justify-content-center">
            <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect (click)="goTo('utility_disdetta')">DISDETTA CONTRATTO</button>
        </div>
      </div>
      <div class="col-6">

        <div>
          <!-- definisco il div che racchiude l'input per l'inserimento del CENTRALE-->
          <div class="card-deck">
              <!-- Card -->
              <mdb-card>
                <!--Card content-->
                <mdb-card-body>
                  <!--Title-->
                  <mdb-card-title>
                    <h4 class="text-center font_custom">TIPO INTERVENTO</h4>
                  </mdb-card-title>
                  <!--Text-->
                  <mdb-card-text>
                    <table mdbTableEditor class="table text-center table-striped z-depth-1" [itemsPerPage]="visibleItems" #table="mdbEditor" (rowHighlight)="highlightedRow = $event">
                      <thead>
                      <tr>
                        <th *ngFor="let head of headElements" scope="col-3">{{head}}</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let item of table.performSearch(this.searchText); let i = index" (click)="setValue(item)">
                        <td>{{item.id}}</td>
                        <td>{{item.codiceIntervento}}</td>
                        <td>{{item.descrizioneIntervento}}</td>
                      </tr>
                      </tbody>
                      <tfoot>
                      <tr>
                        <td colspan="7">
                          <div class="d-flex flex-center">
                            <span>Visualizzati da {{table.paginationInfo.firstItem}} a {{table.paginationInfo.lastItem}} di {{table.paginationInfo.allItems}} risultati</span>
                            <div class="flex-1"></div>
                            <mdb-icon fas icon="angle-left" id="fasWhite" size="lg" (click)="table.prevPage()" class="p-2"
                                      [ngClass]="{'disabled text-muted': table.disablePrevious()}" mdbWavesEffect></mdb-icon>
                            <mdb-icon fas icon="angle-right" id="fasWhite" size="lg" (click)="table.nextPage()" class="p-2"
                                      [ngClass]="{'disabled text-muted': table.disableNext()}" mdbWavesEffect></mdb-icon>
                            <mdb-icon class="mr-1 ml-2" id="plus" fas icon="plus" (click)="setValue(null)"></mdb-icon>
                          </div>
                        </td>
                      </tr>
                      </tfoot>
                    </table>
                    <form [formGroup]="tipoInterventoForm" class="mr-4 form">
                          <div class="form-group">
                              <div class="md-form md-outline">
                                  <mdb-icon fas icon="code"></mdb-icon>
                                  <input type="text" id="codiceIntervento" size="sm" class="form-control" formControlName="codiceIntervento" mdbInput>
                                  <label for="codiceIntervento">Codice Intervento</label>
                                </div>
                          </div>
                          <div class="form-group">
                              <div class="md-form md-outline">
                                  <mdb-icon fas icon="audio-description"></mdb-icon>
                                  <input type="text" id="descrizioneIntervento" size="sm" class="form-control" formControlName="descrizioneIntervento" mdbInput>
                                  <label for="descrizioneIntervento">Descrizione Intervento</label>
                                </div>
                          </div>
                          <div class="form-group">
                            <div class="text-right">
                                <a mdbBtn size="sm" (click)="salvaUtility()" *ngIf="save" color="primary" mdbWavesEffect>Salva</a>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="text-right">
                                <a mdbBtn size="sm" (click)="deleteUtility()"  *ngIf="edit" color="danger" mdbWavesEffect>Edit</a>
                            </div>
                          </div>
                    </form>
                  </mdb-card-text>
                </mdb-card-body>
              </mdb-card>
            </div>
      </div>
      </div>
      <div class="col-3">
        <div class="row d-flex justify-content-center">
            <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect (click)="goTo('utility_tipoLocale')">TIPO LOCALE</button>
        </div>
        <div class="row d-flex justify-content-center">
            <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect (click)="goTo('utility_numeri')">NUMERI</button>
        </div>
        <div class="row d-flex justify-content-center">
            <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect (click)="goTo('utility_iva')">IVA</button>
        </div>
        <div class="row d-flex justify-content-center">
            <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect (click)="goTo('utility_statoCivile')">STATO CIVILE</button>
        </div>
        <div class="row d-flex justify-content-center">
            <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect (click)="goTo('utility_servizio')">SERVIZIO</button>
        </div>
        <div class="row d-flex justify-content-center">
          <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect (click)="goTo('utility_calendarscolor')"><mdb-icon far icon="calendar-alt"></mdb-icon>  CALENDAR COLORS</button>
        </div>
      </div>
    </div>
  </section>
  <!--Section: Features v.1-->
