<section class="text-center mt-3">
    <mdb-flipping-card #cards>
        <!--Front Side-->
        <div class="face front tp-box_side tp-box_front font_custom">
              <div class="container">
                  <h4 class="h4 font-weight-bold mt-3" id="title">Ricerca clienti:</h4>
                  <div class="row" id="ricerca">
                    <div class="col-md-12">
                      <div class="md-form">
                        <input type="search" [(ngModel)]="searchText" class="form-control" id="search" mdbInput>
                        <label for="search">Search</label>
                      </div>
                    </div>
                  </div>
                  <mdb-spinner spinnerType="small" *ngIf="loading" spinnerColor="blue"></mdb-spinner>
                  <table mdbTableEditor class="table table-striped z-depth-1" [itemsPerPage]="visibleItems" #table="mdbEditor" (rowHighlight)="highlightedRow = $event">
                    <thead>
                      <tr>
                        <th *ngFor="let head of headElements; let i = index" scope="col">{{head}}</th>
                      </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of table.performSearch(this.searchText); let i = index" (click)="sendData(item)">
                      <td>{{item.codCliente}}</td>
                      <td>{{item.nomeCognome}}</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                      <td colspan="7">
                        <div class="d-flex flex-center">
                          <span>Visualizzati da {{table.paginationInfo.firstItem}} a {{table.paginationInfo.lastItem}} di {{table.paginationInfo.allItems}} risultati</span>
                          <div class="flex-1"></div>
                          <mdb-icon fas icon="angle-left" size="lg" (click)="table.prevPage()" class="p-2"
                                    [ngClass]="{'disabled text-muted': table.disablePrevious()}" mdbWavesEffect></mdb-icon>
                          <mdb-icon fas icon="angle-right" size="lg" (click)="table.nextPage()" class="p-2"
                                    [ngClass]="{'disabled text-muted': table.disableNext()}" mdbWavesEffect></mdb-icon>
                          <mdb-icon class="mr-1 ml-2" id="plus" fas icon="trash" (click)="deleteClient(); table.prevPage(); table.nextPage()"></mdb-icon>
                          <mdb-icon class="mr-1 ml-2" id="plus" fas icon="plus" (click)="sendData(null); table.prevPage(); table.nextPage()"></mdb-icon>
                        </div>
                      </td>
                    </tr>
                    </tfoot>
                  </table>
                </div>
                <a class="rotate-btn" data-card="card-1" (click)="cards.toggle(); sendUtente2();">
                    <mdb-icon fas icon="info-circle"></mdb-icon> Visualizza info generali cliente</a>
            </div>
                  <!--Back Side-->
      <div class="back tp-box_side tp-box_back font_custom">
          <!--Content-->
            <h4>{{ titoloCliente}}</h4>
          <hr>
          <div class="row" id="primaRiga">
              <div class="col-9">
                 <!-- Material outline input -->
                 <div class="md-form md-outline form-sm">
                     <input type="text" id="indirizzo" [(ngModel)]="indirizzo" class="form-control form-control-sm" mdbInput>
                     <label for="indirizzo">Indirizzo</label>
                   </div>
             </div>
             <div class="col-3">
                   <!-- Material outline input -->
                   <div class="md-form md-outline form-sm">
                   <input type="text" id="CAP" [(ngModel)]="cap" class="form-control form-control-sm" mdbInput>
                   <label for="CAP">CAP</label>
                 </div>
             </div>
         </div>
         <!-- seconda riga -->
         <div class="row" id="secondaRiga">
          <div class="col-4">
                <!-- Material outline input -->
                <div class="md-form md-outline form-sm">
                  <input type="text" id="citta" [(ngModel)]="citta" class="form-control form-control-sm" mdbInput>
                  <label for="citta">Città</label>
                </div>
          </div>
           <div class="col-3">
               <!-- Material outline input -->
               <div class="md-form md-outline form-sm">
                 <input type="text" id="provincia" [(ngModel)]="provincia" class="form-control form-control-sm" mdbInput>
                 <label for="provincia">Provincia</label>
               </div>
         </div>
         <div class="col-5">
             <!-- Material outline input -->
             <div class="md-form md-outline form-sm">
               <input type="text" id="tavolaQuartiere" [(ngModel)]="tavolaQuartiere" class="form-control form-control-sm" mdbInput>
               <label for="tavolaQuartiere">Tavola - Quartiere</label>
             </div>
         </div>
       </div>

            <!-- terza riga -->
            <div class="row" id="terzaRiga">
                <div class="col-6">
                      <!--Material textarea-->
                      <div class="md-form md-outline">
                          <textarea type="text" id="notaTecnici" class="form-control md-textarea" rows="3" mdbInput></textarea>
                          <label for="notaTecnici">Nota per i tecnici</label>
                      </div>
                </div>
                <div class="col-6">
                    <!--Material textarea-->
                    <div class="md-form md-outline">
                        <textarea type="text" id="notaRagazze" class="form-control md-textarea" rows="3" mdbInput></textarea>
                        <label for="notaRagazze">Nota per le ragazze</label>
                    </div>
              </div>
            </div>
            <!-- quarta riga -->
            <div class="row" id="quartaRiga">
              <div class="col-12">
                    <!--Material textarea-->
                    <div class="md-form md-outline">
                        <textarea type="text" id="notaRagazze" class="form-control md-textarea" rows="3" mdbInput></textarea>
                        <label for="notaRagazze">Omaggio fuori garanzia</label>
                    </div>
              </div>
            </div>

            <!-- quinta riga -->
            <div class="row" id="quintaRiga">
               <div class="col-4">
                     <!-- Material outline input -->
                     <div class="md-form md-outline form-sm">
                     <input type="text" id="tipoServizio" class="form-control form-control-sm" mdbInput>
                     <label for="tipoServizio">Tipo Servizio</label>
                   </div>
               </div>
               <div class="col-4">
                   <!-- Material outline input -->
                   <div class="md-form md-outline form-sm">
                     <input type="text" id="scadenza" class="form-control form-control-sm" mdbInput>
                     <label for="scadenza">Scadenza</label>
                   </div>
             </div>
             <div class="col-4">
                 <!-- Material outline input -->
                 <div class="md-form md-outline form-sm">
                   <input type="text" id="tipoContratto" class="form-control form-control-sm" mdbInput>
                   <label for="tipoContratto">Tipo Contratto</label>
                 </div>
             </div>
           </div>
          <!-- sesta riga -->
          <div class="row" id="sestaRiga">
              <div class="col-4">
                  <!-- Material outline input -->
                  <div class="md-form md-outline form-sm">
                      <input type="text" id="recnicoRiferimento" class="form-control form-control-sm" mdbInput>
                      <label for="recnicoRiferimento">T. Riferimento</label>
                    </div>
              </div>
            <div class="col-4">
                <!-- Material outline input -->
                <div class="md-form md-outline form-sm">
                    <input type="text" id="KM_AR" class="form-control form-control-sm" mdbInput>
                    <label for="KM_AR">KM A/R</label>
                  </div>
            </div>
            <div class="col-4">
                  <!-- Material outline input -->
                  <div class="md-form md-outline form-sm">
                  <input type="text" id="minutiViaggio" class="form-control form-control-sm" mdbInput>
                  <label for="minutiViaggio">Min Viaggio</label>
                </div>
            </div>
          </div>
           <!-- settima riga -->
           <div class="row" id="settimaRiga">
            <div class="col">
                <!-- Material outline input -->
                <div class="md-form md-outline form-sm">
                  <input type="text" id="chiaviCGS" class="form-control form-control-sm" mdbInput>
                  <label for="chiaviCGS">Chiavi CGS</label>
                </div>
          </div>
          <div class="col">
              <!-- Material outline input -->
              <div class="md-form md-outline form-sm">
                <input type="text" id="chiaviVIG" class="form-control form-control-sm" mdbInput>
                <label for="chiaviVIG">Chiavi VIG</label>
              </div>
          </div>
          <div class="col">
              <!-- Material outline input -->
              <div class="md-form md-outline form-sm">
                <input type="text" id="chiaviAC" class="form-control form-control-sm" mdbInput>
                <label for="chiaviAC">Chiavi AC</label>
              </div>
          </div>
        </div>
        <!-- linea di separazione -->
        <hr>
          <!--Triggering button-->
          <a class="rotate-btn" data-card="card-1" (click)="cards.toggle(); pauseTimer()" id="iconaListaClienti">
              <mdb-icon far icon="list-alt"></mdb-icon> Visualizza lista clienti</a>
        </div>
        <!--/.Back Side-->
    </mdb-flipping-card>
</section>
