@media (min-width: 1366px){
  .face.front.tp-box_side.tp-box_front {
    height: 530px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
  }

  .back.tp-box_side.tp-box_back {
    height: 530px;
  }

  div#ricerca {
    margin-top: -38px;
  }

  table.z-depth-1.font_custom.table.table-bordered.table-sm {
    margin-bottom: 6px;
    margin-top: -16px;
  }
//diminuisco la distanza tra le righe
div#primaRiga {
  margin-top: -30px;
}

div#secondaRiga {
  margin-top: -40px;
}

div#terzaRiga {
  margin-top: -40px;
}

div#quartaRiga {
  margin-top: -40px;
}

div#quintaRiga {
  margin-top: -40px;
}

div#sestaRiga {
  margin-top: -40px;
}

div#settimaRiga {
  margin-top: -40px;
}

.table th, .table td {
  padding: 0rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}


}

@media (min-width: 1920px){
  .face.front.tp-box_side.tp-box_front {
    height: 624px;
  }

  .back.tp-box_side.tp-box_back {
    height: 624px;
  }

  div#ricerca {
    margin-top: -15px;
  }

  //diminuisco la distanza tra le righe
div#primaRiga {
  margin-top: -20px;
}

div#secondaRiga {
  margin-top: -30px;
}

div#terzaRiga {
  margin-top: -30px;
}

div#quartaRiga {
  margin-top: -30px;
}

div#quintaRiga {
  margin-top: -30px;
}

div#sestaRiga {
  margin-top: -30px;
}

div#settimaRiga {
  margin-top: -30px;
}

}

th {
  color: #3f729b;
  border: 1px solid #dee2e6;
}

td {
  border: 1px solid #dee2e6;
}


.font_custom{
  font-family: "Tahoma" !important;
    /*font-weight: 900;*/
    font-style: normal;
}

.card .card-body h1, .card .card-body h2, .card .card-body h3, .card .card-body h4, .card .card-body h5, .card .card-body h6 {
  /*font-weight: 900;*/
  color: #3f729b;
}


mdb-icon.fas {
  color: #3f729b;
}

mdb-icon.far {
  color: #3f729b;
}


input.form-control {
  font-family: "Tahoma" !important;
  /*font-weight: 900;*/
}

.md-form.md-outline label {
  font-family: "Tahoma" !important;
  /*font-weight: 900;*/
  color: #3f729b;
}

.md-form textarea.md-textarea {
  font-family: "Tahoma" !important;
  /*font-weight: 900;*/
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Tahoma" !important;
  /*font-weight: 900;*/
  color: #3f729b;
}

th {
  font-family: "Tahoma" !important;
  /*font-weight: 900!important;*/
}

td {
  font-family: "Tahoma" !important;
  /*font-weight: 900;*/
}

.mdbtable-column-codCliente {
  width: 10% !important;
}

.tr-color-selected{
  background-color: hsla(196, 77%, 55%, 0.3) !important;
  transition: all .2s ease-in;
}
td {
  vertical-align: middle !important;
}
