<!--Main Navigation-->
<header class="intro-header">
    <!--Intro Section-->
    <section class="view intro-2 rgba-gradient">
      <div class="full-bg-img">
        <div class="row" id="riga_immagine">
            <div class="col-6">

            </div>
            <div class="col-6 text-center scritta">
                <span class="align-middle"><h2 class="h1 py-5 font-weight-bold font_custom" id="scritta">Dai.. non piangere!!</h2></span>
                <span class="align-middle"><h4 class="h4 mt-1 font-weight-bold font_custom">è solo scaduta la sessione..</h4></span>
                <span class="align-middle"><button class="mt-5" (click)="logout()" mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect>Login</button></span>

            </div>
        </div>

      </div>
    </section>
  </header>
