<section class="text-center mt-3">
  <div class="card-deck font_custom">
      <!-- Card -->
      <mdb-card>
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <div class="row" id="card_row">
              <div class="col-2" id="icon_column">
                <div class="row d-flex justify-content-center">
                    <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="GENERALE" placement="right" mdbWavesEffect><mdb-icon fas icon="home" (click)="goTo('clientiAnagrafica',undefined,undefined)"></mdb-icon></a>
                </div>
                <div class="row d-flex justify-content-center">
                    <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="ANAGRAFICA" placement="right" mdbWavesEffect><mdb-icon fas icon="info" (click)="goTo('clienti', undefined,undefined)"></mdb-icon></a>
                </div>
                <!-- <div class="row d-flex justify-content-center">
                    <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="MANUTENZIONE" placement="right" mdbWavesEffect><mdb-icon fas icon="toolbox" (click)="goTo('clientiManutenzione')"></mdb-icon></a>
                </div> -->
                <div class="row d-flex justify-content-center">
                    <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="IMPIANTO" placement="right" mdbWavesEffect><mdb-icon fas icon="diagnoses" class="active" (click)="goTo('clientiImpianto', undefined,undefined)"></mdb-icon></a>
                </div>
                <div class="row d-flex justify-content-center">
                    <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="PORTA BLINDATA" placement="right" mdbWavesEffect><mdb-icon fas icon="door-open" (click)="goTo('clientiPB', undefined,undefined)"></mdb-icon></a>
                </div>
                <!-- <div class="row d-flex justify-content-center">
                    <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="INTERVENTO" placement="right" mdbWavesEffect><mdb-icon fas icon="wrench" (click)="goTo('clientiIntervento')"></mdb-icon></a>
                </div>
                <div class="row d-flex justify-content-center">
                    <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="FATTURA" placement="right" mdbWavesEffect><mdb-icon fas icon="file-invoice-dollar" (click)="goTo('clientiFatture')"></mdb-icon></a>
                </div>
                <div class="row d-flex justify-content-center">
                    <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="E" placement="right" mdbWavesEffect><mdb-icon fas icon="euro-sign" (click)="goTo('clientiE')"></mdb-icon></a>
                </div>
                <div class="row d-flex justify-content-center">
                    <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="CISA" placement="right" mdbWavesEffect><mdb-icon fas icon="key" (click)="goTo('clientiCISA')"></mdb-icon></a>
                </div> -->
              </div>
            <div class="col-10" id="component_column">
               <div class="row">
                 <div class="col-6 mt-2">
                        <h4> {{ titolo }} </h4>
                 </div>
                 <div class="col-6">
                    <button mdbBtn id="save" type="button" *ngIf="save" color="success" (click)="salva()" outline="true" size="sm" mdbWavesEffect>SALVA</button>
                    <button mdbBtn id="edit" type="button" *ngIf="edit" color="warning" outline="true" size="sm" mdbWavesEffect>EDIT</button>
                    <button mdbBtn id="delete"  type="button" *ngIf="delete" color="danger" outline="true" size="sm" mdbWavesEffect>ELIMINA</button>
                 </div>
               </div>
            <!--Text-->
          <mdb-card-text>
        <!-- seconda parte GENERALE-->
        <div class="row text-center mt-1" id="contenitore">
          <table mdbTableEditor class="table table-striped z-depth-1" small="true" [itemsPerPage]="visibleItems" #table="mdbEditor" (rowHighlight)="highlightedRow = $event">
            <thead>
            <tr>
              <th
                *ngFor="let head of headElements; let i = index"
                scope="col"

              >{{head}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of table.performSearch(this.searchText); let i = index" (click)="goTo('clientiAddImpianto', item, i)">
              <td>{{item.codiceImpianto}}</td>
              <td>{{item.dataImpiantoString}}</td>
              <td>{{item.nomeAC}}</td>
              <td>{{item.codiceAC}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="7">
                <div class="d-flex flex-center">
                  <span>Visualizzando da {{table.paginationInfo.firstItem}} a {{table.paginationInfo.lastItem}} di {{table.paginationInfo.allItems}} risultati</span>
                  <div class="flex-1"></div>
                  <mdb-icon fas icon="angle-left" size="lg" (click)="table.prevPage()" class="p-2"
                            [ngClass]="{'disabled text-muted': table.disablePrevious()}" id="prev" mdbWavesEffect></mdb-icon>
                  <mdb-icon fas icon="angle-right" size="lg" (click)="table.nextPage()" class="p-2"
                            [ngClass]="{'disabled text-muted': table.disableNext()}" id="post" mdbWavesEffect></mdb-icon>
                  <mdb-icon class="mr-1 ml-2" id="plus" fas icon="plus" (click)="goTo('clientiAddImpianto',undefined,undefined)"></mdb-icon>
                </div>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
        <div class="row">
          <div class="col-9"></div>
          <!-- <div class="col-3">
              <button mdbBtn type="button"  outline="true" size="sm" color="primary" (click)="goTo('clientiAddImpianto')" mdbWavesEffect><mdb-icon id="addImpianto" fas icon="plus" class="mr-1" ></mdb-icon>Aggiungi</button>
          </div> -->
        </div>
        </mdb-card-text>
        </div>
        </div>
        </mdb-card-body>
      </mdb-card>
    </div>
</section>
