.font_custom{
	font-family: "Tahoma";
    font-weight: 400;
    font-style: normal;
}

table.table-sm td, table.table-sm th {
  font-weight: 900;
  padding-top: .6rem;
  padding-bottom: .6rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}

.tr-color-selected{
  background-color: hsla(196, 77%, 55%, 0.3) !important;
  transition: all .2s ease-in;
}


@media (min-width: 1366px){
  mdb-card.card {
    height: 530px !important;
    overflow-y: auto;
  }
  .md-form.md-outline.form-sm .form-control.form-control-sm {
    padding: 0.25rem 0.625rem;
    font-size: 0.8rem;
  }
}

@media (min-width: 1920px){
  mdb-card.card {
    height: 825px !important;
  }

  div#contenitore {
    // padding-top: 124px;
    padding-top: 44px;
  }
}

.btn[class*=btn-outline-] {
  font-weight: 900;
}

#card_row{
  height: 100%!important;
}

.card .card-body h1, .card .card-body h2, .card .card-body h3, .card .card-body h4, .card .card-body h5, .card .card-body h6 {
  font-weight: 900;
  color: #3f729b;
}

div#icon_column {
  max-width: 8%;
  border-right-color: #3f729b;
  border-right-style: solid;
  border-right-width: thin;
  align-self: center;
}

mdb-icon.fas {
  background-color: #3f729b;
}

input.form-control {
  font-weight: 900;
}

.md-form.md-outline label {
  font-weight: 900;
}

.margineZero {
  margin-bottom: 0rem;
}

.md-form textarea.md-textarea {
  font-weight: 900;
}

.md-form.md-outline.form-sm label.active {
  color: #3f729b;
}


button#save {
  margin-left: 70%;
}

button#edit {
  margin-left: 49%!important;
}

form {
  width: 100%!important;
}

div#primaRiga {
  margin-top: -37px;
  width: 100%!important;
}

div#secondaRiga, div#terzaRiga, div#quartaRiga, div#settimaRiga, div#ottavaRiga {
  margin-top: -38px;
}

div#quintaRiga {
  margin-top: -21px;
}

div#sestaRiga {
  margin-top: -22px;
}

table#tableMail {
  margin-left: -20px;
}

table#tableTel {
  margin-left: 20px;
}

.col-1{
  padding-left: 2px!important;
  padding-right: 2px!important;
}

.col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9{
  padding-left: 1px!important;
  padding-right: 1px!important;
}

mdb-select#selectParking {
  margin-top: 24px;
}

mdb-icon#plus {
  background-color: transparent!important;
}
mdb-icon#edit {
  background-color: transparent!important;
}
mdb-icon#trash {
  background-color: transparent!important;
}

mdb-icon#arrowUpTel {
  background-color: transparent!important;
}


mdb-icon#arrowDownTel {
  background-color: transparent!important;
}

mdb-icon#arrowUpMail {
  background-color: transparent!important;
}


mdb-icon#arrowDownMail {
  background-color: transparent!important;
}

