<section class="text-center mt-3">
    <div class="card-deck font_custom">
        <!-- Card -->
        <mdb-card>
          <!--Card content-->
          <mdb-card-body>
            <!--Title-->
            <div class="row" id="card_row">
                <div class="col-2" id="icon_column">
                  <div class="row d-flex justify-content-center">
                      <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="GENERALE" placement="right" mdbWavesEffect><mdb-icon fas icon="home" class="active" (click)="goTo('clientiAnagrafica')"></mdb-icon></a>
                  </div>
                  <div class="row d-flex justify-content-center">
                      <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="ANAGRAFICA" placement="right" mdbWavesEffect><mdb-icon fas icon="info"  (click)="goTo('clienti')"></mdb-icon></a>
                  </div>
                  <!-- <div class="row d-flex justify-content-center">
                      <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="MANUTENZIONE" placement="right" mdbWavesEffect><mdb-icon fas icon="toolbox" (click)="goTo('clientiManutenzione')"></mdb-icon></a>
                  </div> -->
                  <div class="row d-flex justify-content-center">
                      <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="IMPIANTO" placement="right" mdbWavesEffect><mdb-icon fas icon="diagnoses" (click)="goTo('clientiImpianto')"></mdb-icon></a>
                  </div>
                  <div class="row d-flex justify-content-center">
                      <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="PORTA BLINDATA" placement="right" mdbWavesEffect><mdb-icon fas icon="door-open" (click)="goTo('clientiPB')"></mdb-icon></a>
                  </div>
                  <!-- <div class="row d-flex justify-content-center">
                      <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="INTERVENTO" placement="right" mdbWavesEffect><mdb-icon fas icon="wrench" (click)="goTo('clientiIntervento')"></mdb-icon></a>
                  </div>
                  <div class="row d-flex justify-content-center">
                      <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="FATTURA" placement="right" mdbWavesEffect><mdb-icon fas icon="file-invoice-dollar" (click)="goTo('clientiFatture')"></mdb-icon></a>
                  </div>
                  <div class="row d-flex justify-content-center">
                      <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="E" placement="right" mdbWavesEffect><mdb-icon fas icon="euro-sign" (click)="goTo('clientiE')"></mdb-icon></a>
                  </div>
                  <div class="row d-flex justify-content-center">
                      <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="CISA" placement="right" mdbWavesEffect><mdb-icon fas icon="key" (click)="goTo('clientiCISA')"></mdb-icon></a>
                  </div> -->
                </div>
              <div class="col-11" id="component_column">
                 <div class="row">
                   <div class="col-6 mt-2">
                          <h4> {{ titolo }} </h4>
                   </div>
                   <div class="col-6">
                      <button mdbBtn id="save" type="button" (click)="salva()" *ngIf="save" color="success" outline="true" size="sm" mdbWavesEffect>SALVA</button>
                      <button mdbBtn id="edit" type="button" *ngIf="edit" color="warning" outline="true" size="sm" mdbWavesEffect>EDIT</button>
                      <button mdbBtn id="delete"  type="button" *ngIf="delete" color="danger" outline="true" size="sm" mdbWavesEffect>ELIMINA</button>
                   </div>
                 </div>
              <!--Text-->
              <mdb-card-text>
          <!-- seconda parte GENERALE-->
          <div class="row text-center mt-1" id="contenitore">
            <form [formGroup]="clientiAnagrafica" id="clientiAnagrafica" class="form">
            <div class="row">
                <!-- primaRiga -->
                <div class="row col-12" id="zeroRiga">
                    <div class="col-3">
                    </div>
                    <div class="col-3">
                    </div>
                    <div class="col-3">
                        <!-- Material outline input -->
                        <div class="md-form md-outline form-sm">
                            <input type="text" id="tecnicoRiferimento" class="form-control form-control-sm" formControlName="tecnicoRiferimento" mdbInput>
                            <label for="tecnicoRiferimento">Tecnico Riferimento</label>
                          </div>
                    </div>
                    <!-- <div class="col-3"> -->
                          <!-- Material outline input -->
                          <!-- <div class="md-form md-outline form-sm">
                          <input type="text" id="cartellaVerde" class="form-control form-control-sm" mdbInput>
                          <label for="cartellaVerde">Cartella Verde</label>
                        </div>
                    </div> -->
                </div>
                <!-- primaRiga -->
                <div class="row col-12" id="primaRiga">
                    <div class="col-4">
                        <!-- Material outline input -->
                        <div class="md-form md-outline form-sm">
                            <input type="text" id="codiceCliente" mdbTooltip="ModelloAC-CodiceMaster-AltreInfo" class="form-control form-control-sm" formControlName="codiceCliente" mdbInput>
                            <label for="codiceCliente">Codice Cliente</label>
                          </div>
                    </div>
                    <div class="col-8">
                          <!-- Material outline input -->
                          <div class="md-form md-outline form-sm">
                          <input type="text" id="nomeCognome" class="form-control form-control-sm" formControlName="nomeCognome" mdbInput>
                          <label for="nomeCognome">Cognome e Nome</label>
                        </div>
                    </div>
                </div>
                <!-- secondaRiga -->
                <div class="row col-12" id="secondaRiga">
                    <div class="col-6">
                        <!-- Material outline input -->
                        <div class="md-form md-outline form-sm">
                        <input type="text" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" id="indirizzo" class="form-control form-control-sm" formControlName="indirizzo" mdbInput>
                        <label for="indirizzo">Indirizzo</label>
                      </div>
                  </div>
                  <div class="col-3">
                      <!-- Material outline input -->
                      <div class="md-form md-outline form-sm">
                      <input type="text" id="citta" class="form-control form-control-sm" formControlName="citta" mdbInput>
                      <label for="citta">Città</label>
                    </div>
                  </div>
                  <div class="col-1">
                      <!-- Material outline input -->
                      <div class="md-form md-outline form-sm">
                      <input type="text" id="provincia" class="form-control form-control-sm" formControlName="provincia" mdbInput>
                      <label for="provincia">PR</label>
                    </div>
                  </div>
                  <div class="col-2">
                      <!-- Material outline input -->
                      <div class="md-form md-outline form-sm">
                      <input type="text" id="cap" maxlength="5" class="form-control form-control-sm" formControlName="cap" mdbInput>
                      <label for="cap">CAP</label>
                    </div>
                  </div>
                </div>
                <!-- terzaRiga -->
                <div class="row col-12" id="terzaRiga">
                    <div class="col-4">
                        <!-- Material outline input -->
                        <div class="md-form md-outline form-sm">
                        <input type="text" id="villino" class="form-control form-control-sm" formControlName="villino" mdbInput>
                        <label for="villino">Villino</label>
                      </div>
                  </div>
                  <div class="col-2">
                      <!-- Material outline input -->
                      <div class="md-form md-outline form-sm">
                      <input type="text" id="palazzo" class="form-control form-control-sm" formControlName="palazzo" mdbInput>
                      <label for="palazzo">Palazzo</label>
                    </div>
                  </div>
                  <div class="col-2">
                      <!-- Material outline input -->
                      <div class="md-form md-outline form-sm">
                      <input type="text" id="scala" class="form-control form-control-sm" formControlName="scala" mdbInput>
                      <label for="scala">Scala</label>
                    </div>
                  </div>
                  <div class="col-2">
                      <!-- Material outline input -->
                      <div class="md-form md-outline form-sm">
                      <input type="text" id="piano" class="form-control form-control-sm" formControlName="piano" mdbInput>
                      <label for="piano">Piano</label>
                    </div>
                  </div>
                  <div class="col-2">
                      <!-- Material outline input -->
                      <div class="md-form md-outline form-sm">
                      <input type="text" id="interno" class="form-control form-control-sm" formControlName="interno" mdbInput>
                      <label for="interno">Interno</label>
                    </div>
                  </div>
                </div>
                <!-- quartaRiga -->
                <div class="row col-12" id="quartaRiga">
                    <div class="col-4">
                        <!-- Material outline input -->
                        <div class="md-form md-outline form-sm">
                        <input type="text" id="quartiere" class="form-control form-control-sm" formControlName="quartiere" mdbInput>
                        <label for="villino">Quartiere</label>
                      </div>
                  </div>
                  <div class="col-1">
                      <!-- Material outline input -->
                      <div class="md-form md-outline form-sm">
                      <input type="text" id="tavola" class="form-control form-control-sm" formControlName="tavola" mdbInput>
                      <label for="tavola">Tavola</label>
                    </div>
                  </div>
                  <div class="col-3">
                      <!-- Material outline input -->
                      <div class="md-form md-outline form-sm">
                        <mdb-select [outline]="true" [(ngModel)]="tipoLocaleSel" formControlName="tipologiaLocale" id="tipologiaLocale" placeholder="Scegli" [options]="tipoLocale" label="Tipologia locale"></mdb-select>
                      </div>
                  </div>
                  <div class="col-3">
                      <!-- Material outline input -->
                      <div class="md-form md-outline form-sm">
                      <input type="text" id="citofono" class="form-control form-control-sm" formControlName="citofono" mdbInput>
                      <label for="citofono">Citofono</label>
                    </div>
                  </div>
                  <div class="col-1">
                      <mdb-select [outline]="true" [(ngModel)]="selectParking" formControlName="selectParking" id="selectParking" [options]="parkingSelect" label="Parking"></mdb-select>
                  </div>
                </div>
                <!-- quintaRiga -->
                <div class="row col-12" id="quintaRiga">
                  <div class="col-5 ml-1">
                    <table mdbTableEditor class="table table-striped z-depth-1" [itemsPerPage]="visibleItems" #tableTel="mdbEditor" id="tableTel" (rowHighlight)="highlightedRow = $event">
                      <thead>
                      <tr>
                        <th
                          *ngFor="let head of headElements1; let i = index"
                          scope="col"

                        >{{head}}</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let item of tableTel.performSearch(this.searchText); let i = index" (click)="showEditTel(item, i)">
                        <td>{{item.tipo}}</td>
                        <td>{{item.numero}}</td>
                      </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                            <td colspan="7">
                              <div class="d-flex flex-center">
                                <span>Visualizzati da {{tableTel.paginationInfo.firstItem}} a {{tableTel.paginationInfo.lastItem}} di {{tableTel.paginationInfo.allItems}} risultati</span>
                                <div class="flex-1"></div>
                                <mdb-icon fas icon="angle-left" id="fasWhite" size="lg" (click)="tableTel.prevPage()" class="p-2"
                                          [ngClass]="{'disabled text-muted': tableTel.disablePrevious()}" mdbWavesEffect></mdb-icon>
                                <mdb-icon fas icon="angle-right" id="fasWhite" size="lg" (click)="tableTel.nextPage()" class="p-2"
                                          [ngClass]="{'disabled text-muted': tableTel.disableNext()}" mdbWavesEffect></mdb-icon>
                                <mdb-icon class="mr-1 ml-2" *ngIf="saveTel" id="plus" fas icon="plus" (click)="resetId(); frameTel.show()"></mdb-icon>
                                <mdb-icon class="mr-1" *ngIf="editTel" id="edit" fas icon="edit" (click)="editaTel()"></mdb-icon>
                                <mdb-icon class="mr-1" *ngIf="deleteTel" id="trash" fas icon="trash"></mdb-icon>
                                <mdb-icon class="mr-1" *ngIf="arrowDownTel" id="arrowDownTel" (click)="moveTel(0)" fas icon="arrow-down"></mdb-icon>
                                <mdb-icon class="mr-1" *ngIf="arrowUpTel" id="arrowUpTel" (click)="moveTel(1)"fas icon="arrow-up"></mdb-icon>
                              </div>
                            </td>
                          </tr>
                    </tfoot>
                    </table>

                  </div>
                  <div class="col" id="colonna_divisione"></div>
                  <div class="col-5 mr-1">
                      <table mdbTableEditor class="table table-striped z-depth-1" [itemsPerPage]="visibleItems" id="tableMail"  #tableMail="mdbEditor" (rowHighlight)="highlightedRow = $event">
                        <thead>
                        <tr>
                          <th
                            *ngFor="let head of headElements; let i = index"
                            scope="col"

                          >{{head}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of tableMail.performSearch(this.searchText); let i = index" (click)="showEdit(item, i)">
                          <td>{{item.tipo}}</td>
                          <td>{{item.mail}}</td>
                        </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                              <td colspan="7">
                                <div class="d-flex flex-center">
                                  <span>Visualizzati da {{tableMail.paginationInfo.firstItem}} a {{tableMail.paginationInfo.lastItem}} di {{tableMail.paginationInfo.allItems}} risultati</span>
                                  <div class="flex-1"></div>
                                  <mdb-icon fas icon="angle-left" id="fasWhite" size="lg" (click)="tableMail.prevPage()" class="p-2"
                                            [ngClass]="{'disabled text-muted': tableMail.disablePrevious()}" mdbWavesEffect></mdb-icon>
                                  <mdb-icon fas icon="angle-right" id="fasWhite" size="lg" (click)="tableMail.nextPage()" class="p-2"
                                            [ngClass]="{'disabled text-muted': tableMail.disableNext()}" mdbWavesEffect></mdb-icon>
                                  <mdb-icon class="mr-1 ml-2" *ngIf="saveMail" id="plus" fas icon="plus" (click)="resetId(); frameMail.show()"></mdb-icon>
                                  <mdb-icon class="mr-1" *ngIf="editMail" id="edit" fas icon="edit" (click)="editaMail()"></mdb-icon>
                                  <mdb-icon class="mr-1" *ngIf="deleteMail" id="trash" fas icon="trash"></mdb-icon>
                                  <mdb-icon class="mr-1" *ngIf="arrowDownMail" id="arrowDownMail" (click)="moveMail(0)" fas icon="arrow-down"></mdb-icon>
                                  <mdb-icon class="mr-1" *ngIf="arrowUpMail" id="arrowUpMail" (click)="moveMail(1)"fas icon="arrow-up"></mdb-icon>
                                </div>
                              </td>
                            </tr>
                      </tfoot>
                      </table>
                </div>
                </div>
                <!-- sestaRiga -->
                <div class="row col-12" id="sestaRiga">
                    <div class="col-3">
                        <!-- Material outline input -->
                        <div class="md-form md-outline form-sm">
                          <mdb-select [outline]="true" [(ngModel)]="professioneSel" formControlName="professione" id="professione" placeholder="Scegli" [options]="professione" label="Professione"></mdb-select>
                      </div>
                  </div>
                  <div class="col-3">
                      <!-- Material outline input -->
                      <div class="md-form md-outline form-sm">
                        <mdb-select [outline]="true" [(ngModel)]="statoCivileSel" formControlName="statoCivile" id="statoCivile" placeholder="Scegli" [options]="statoCivile" label="Stato Civile"></mdb-select>
                    </div>
                  </div>
                  <div class="col-3">
                      <!-- Material outline input -->
                      <div class="md-form md-outline form-sm">
                      <input type="text" id="gestoreTelefonico" formControlName="gestoreTelefonico" class="form-control form-control-sm" mdbInput>
                      <label for="gestoreTelefonico">Gestore telefonico</label>
                    </div>
                  </div>
                  <div class="col-3">
                      <!-- Material outline input -->
                      <div class="md-form md-outline form-sm">
                      <input type="text" id="referente" formControlName="referente" class="form-control form-control-sm" mdbInput>
                      <label for="referente">Referente</label>
                    </div>
                  </div>
                </div>

              <!-- ottavaRiga -->
              <div class="row col-12" id="ottavaRiga">
                <div class="col-12">
                  <!--Material textarea-->
                  <div class="md-form md-outline">
                      <textarea type="text" id="notaAnagrafica" formControlName="notaAnagrafica" class="form-control md-textarea" rows="3" mdbInput></textarea>
                      <label for="notaAnagrafica">Note</label>
                  </div>
                </div>
              </div>
            </div>
          </form>
          </div>
          </mdb-card-text>
          </div>
          </div>
          </mdb-card-body>
        </mdb-card>
      </div>

      <div mdbModal #frameMail="mdbModal" class="modal fade left font_custom" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" (keydown)="keyDownFunction($event, emailModal, tipoMailModal, true)">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h5 class="modal-title w-100 font-weight-bold">Aggiungi indirizzo Email</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeMailModal()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body mx-3">
                <div class="md-form mb-1" id="ownerModal">
                  <!--<mdb-select [(ngModel)]="tipoMailModal" [options]="tipoSelectMail" placeholder="Scegli il tipo..." id="tipoMailModal"></mdb-select>-->
                  <input type="text" [(ngModel)]="tipoMailModal" id="tipoMailModal" class="form-control" mdbInput>
                  <label for="tipoMailModal">Tipo:</label>
                </div>

                <div class="md-form mb-1" id="emailModalDiv">
                  <input type="text" [(ngModel)]="emailModal" id="emailModal" class="form-control" mdbInput>
                  <label for="consegnareAModal">Email:</label>
                </div>
              </div>
              <div class="modal-footer d-flex justify-content-center">
                <button mdbBtn color="success" outline="true" size="sm"  (click)="Save(emailModal, tipoMailModal,true)" class="waves-light" mdbWavesEffect>Salva</button>
                <button mdbBtn color="danger" outline="true" (click)="closeMailModal()" size="sm" class="waves-light" mdbWavesEffect>Annulla</button>
              </div>
            </div>
          </div>
        </div>
        <div mdbModal #frameTel="mdbModal" class="modal fade left font_custom" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" (keydown)="keyDownFunction($event,telModal, tipoTelModal, false)">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h5 class="modal-title w-100 font-weight-bold">Aggiungi numero di telefono</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeTelModal()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body mx-3">
                <div class="md-form mb-1" id="ownerModal">
                  <!--<mdb-select [(ngModel)]="tipoTelModal"  [options]="tipoSelectTel" placeholder="Scegli il tipo..." id="tipoTelModal"></mdb-select>-->
                  <input type="text" [(ngModel)]="tipoTelModal"  id="tipoTelModal" class="form-control" mdbInput>
                  <label for="tipoTelModal">Tipo:</label>
                </div>

                <div class="md-form mb-1" id="telModalDiv">
                  <input type="text" [(ngModel)]="telModal"  id="telModal" class="form-control" mdbInput>
                  <label for="telModal">Numero:</label>
                </div>
              </div>
              <div class="modal-footer d-flex justify-content-center">
                <button mdbBtn color="success" outline="true" size="sm" (click)="Save(telModal, tipoTelModal, false)" class="waves-light" mdbWavesEffect>Salva</button>
                <button mdbBtn color="danger" outline="true" (click)="closeTelModal()" size="sm" class="waves-light" mdbWavesEffect>Annulla</button>
              </div>
            </div>
          </div>
        </div>
  </section>
