<section class="text-center mt-3">
    <div class="card-deck font_custom">
        <!-- Card -->
        <mdb-card>
          <!--Card content-->
          <mdb-card-body>
            <!--Title-->
            <div class="row" id="card_row">
                    <div class="col-2" id="icon_column">
                      <div class="row d-flex justify-content-center">
                          <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="BACK" placement="right" mdbWavesEffect><mdb-icon fas icon="arrow-left" (click)= "goTo('clientiAddImpianto')"></mdb-icon></a>
                      </div>
                    </div>
              <div class="col-11" id="component_column">
                 <div class="row">
                   <div class="col-6 mt-2">
                          <h4> {{ titolo }} </h4>
                   </div>
                   <div class="col-6">
                      <button mdbBtn id="save" type="button" *ngIf="save" color="success" outline="true" size="sm" mdbWavesEffect>SALVA</button>
                      <button mdbBtn id="edit" type="button" *ngIf="edit" color="warning" outline="true" size="sm" mdbWavesEffect>EDIT</button>
                      <button mdbBtn id="delete"  type="button" *ngIf="delete" color="danger" outline="true" size="sm" mdbWavesEffect>ELIMINA</button>
                   </div>
                 </div>
              <!--Text-->
              <mdb-card-text>
          <!-- seconda parte GENERALE-->
          <div class="row text-center mt-1" id="contenitore">
            <form [formGroup]="clientiManutenzione" id="clientiManutenzione" class="form">
              <!-- riga note -->
            <div class="row" id="sestaRiga">
              <div class="col-2">
                <!-- Material outline input -->
                <div class="md-form md-outline form-sm">
                  <mdb-select [outline]="true" formControlName="infoTGSSel" id="infoTGS" [options]="infoTGSSelect" placeholder="Seleziona" label="Info TGS"></mdb-select>
              </div>
            </div>
            <div class="col-2">
                <!-- Material outline input -->
              <div class="md-form md-outline form-sm">
                <input type="date" formControlName="dataInfoTGS" id="dataInfoTGS"  class="form-control form-control-sm" mdbInput>
                <label id="dataLabel" for="dataInfoTGS">Data InfoTGS</label>
              </div>
            </div>
            <div class="col-2">
              <!-- Material outline input -->
              <div class="md-form md-outline form-sm">
                <mdb-select [outline]="true" formControlName="infoSIMSel"  id="infoSIM" [options]="infoSIMSelect" placeholder="Seleziona" label="Info SIM"></mdb-select>
              </div>
            </div>
            <div class="col-2">
                <!-- Material outline input -->
                <div class="md-form md-outline form-sm">
                  <input type="date" formControlName="dataInfoSIM" id="dataInfoSIM"  class="form-control form-control-sm" mdbInput>
                  <label id="dataLabel" for="dataInfoSIM">Data InfoSIM</label>
                </div>
            </div>
            <div class="col-2">
                <!-- Material outline input -->
                <div class="md-form md-outline form-sm">
                  <mdb-select [outline]="true" formControlName="privacySel" id="privacy" [options]="privacySelect" placeholder="Seleziona" label="Privacy"></mdb-select>
                </div>
            </div>
            <div class="col-2">
              <!-- Material outline input -->
              <div class="md-form md-outline form-sm">
                <input type="date" formControlName="dataPrivacy" id="dataPrivacy"  class="form-control form-control-sm" mdbInput>
                <label id="dataLabel" for="dataPrivacy">Data Privacy</label>
              </div>
            </div>
            </div>
          <!-- settimaRigaTris -->
          <div class="row col-12" id="settimaRigaBis">
            <div class="col-2">
              <!-- Material outline input -->
              <div class="md-form md-outline form-sm">
                <input type="date" formControlName="dataGaranzia" id="dataGaranzia"  class="form-control form-control-sm" mdbInput>
                <label id="dataLabel" for="dataGaranzia">Garazia dal</label>
              </div>
            </div>
            </div>
            <!-- primaRiga SMT-->
            <div class="row">
                <div class="row col-4" id="smt">
                  <div class="row" id="primaRiga">
                      <div class="mt-2 col-2">
                          <h6 class="mt-4" id="smt_title">SMT</h6>
                      </div>
                      <div class="col-9">
                          <div class="md-form md-outline form-sm">
                              <mdb-select formControlName="statoSMT" [options]="tipoStato" placeholder="Scegli lo Stato..." id="statoSMT"></mdb-select>
                              <!--<input type="text" id="statoSMT" formControlName="statoSMT" class="form-control form-control-sm" mdbInput>
                              <label for="statoSMT">Stato</label>-->
                          </div>
                      </div>
                  </div>
                  <div class="row" id="secondaRiga">
                      <div class="col-4">
                          <div class="md-form md-outline form-sm">
                              <input type="text" id="importoSMT" formControlName="importoSMT" class="form-control form-control-sm" mdbInput>
                              <label for="importoSMT">Importo</label>
                          </div>
                      </div>
                      <div class="col-5">
                          <div class="md-form md-outline form-sm">
                              <input type="date" id="scadenzaSMT" formControlName="scadenzaSMT" class="form-control form-control-sm" mdbInput>
                              <label id="dataLabel" for="scadenzaSMT">Scadenza</label>
                          </div>
                      </div>
                      <div class="col-3">
                          <div class="md-form md-outline form-sm">
                              <input type="text" id="rateSMT" formControlName="rateSMT" class="form-control form-control-sm" mdbInput>
                              <label for="rateSMT">Rate</label>
                          </div>
                      </div>
                  </div>
                  <div class="row" id="terzaRiga">
                      <div class="col-7">
                          <div class="mt-3">
                              <h6 class="mt-4" id="contrattoFermo">Contratto Fermo dal:</h6>
                          </div>
                      </div>
                      <div class="col-5">
                          <div class="md-form md-outline form-sm">
                              <input type="text" id="fermoDaSMT" formControlName="fermoDaSMT" class="form-control form-control-sm" mdbInput>
                              <label id="dataLabel" for="fermoDaSMT"></label>
                          </div>
                      </div>
                  </div>
                  <div class="row" id="quartaRiga">
                      <div class="col-6">
                        <div class="row">
                        <div class="col-4">
                          <h6 class="mt-4" id="contrattoFermo">Per:</h6>
                        </div>
                        <div class="col-8">
                          <div class="md-form md-outline form-sm">
                              <input type="text" id="fermoPerSMT" formControlName="fermoPerSMT" class="form-control form-control-sm" mdbInput>
                              <label for="fermoDaSMT">€</label>
                          </div>
                        </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="row">
                          <div class="col-5">
                              <h6 class="mt-4" id="contrattoFermo">Firmato:</h6>
                          </div>
                          <div class="col-7">
                          <div class="md-form md-outline form-sm">
                              <input type="text" id="firmatoSMT" maxlength="3" formControlName="firmatoSMT" class="form-control form-control-sm" mdbInput>
                              <label id="dataLabel" for="firmatoSMT"></label>
                          </div>
                        </div>
                        </div>
                      </div>
                  </div>
                  <div class="row" id="quintaRiga">
                      <div class="col-6">
                        <div class="row">
                        <div class="col-8">
                          <h6 class="mt-4" id="contrattoFermo">Contratto IVA firmato:</h6>
                        </div>
                        <div class="col-4">
                          <div class="md-form md-outline form-sm">
                              <input type="text" id="contrattoIVAFirmatoSMT" formControlName="contrattoIVAFirmatoSMT" class="form-control form-control-sm" mdbInput>
                              <label for="contrattoIVAFirmato"></label>
                          </div>
                        </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="row">
                          <div class="col-3">
                              <h6 class="mt-4" id="contrattoFermo">Del:</h6>
                          </div>
                          <div class="col-9">
                          <div class="md-form md-outline form-sm">
                              <input type="date" id="dataContrattoIVAFirmatoSMT" formControlName="dataContrattoIVAFirmatoSMT" class="form-control form-control-sm" mdbInput>
                              <label id="dataLabel" for="dataContrattoIVAFirmato"></label>
                          </div>
                        </div>
                        </div>
                      </div>
                  </div>
                </div>
              <!-- primaRiga CENTRALE-->
                <div class="row col-4" id="centro">
                    <div class="row" id="primaRigaCENTRO">
                        <div class="col-1"></div>
                        <div class="col-10" style="margin-left: 30px;">
                                <div class="md-form md-outline form-sm">
                                  <mdb-select formControlName="tipoServizio" [options]="tipoStato" placeholder="Scegli lo Stato..." id="tipoServizio"></mdb-select>
                                </div>
                        </div>
                        <div class="col-1"></div>
                    </div>
                    <div class="row" id="">
                      <div class="col-1"></div>
                      <div class="col-10">
                              <div class="md-form md-outline form-sm">
                                <input type="text" id="tipoContratto" formControlName="tipoContratto" class="form-control form-control-sm" mdbInput>
                                <label for="tipoContratto">Tipo Contr.</label>
                              </div>
                      </div>
                      <div class="col-1"></div>
                  </div>

                    <div class="row" id="">
                        <div class="col-1"></div>
                        <div class="col-10">
                                <div class="md-form md-outline form-sm">
                                    <input type="text" id="pagamentoIVA" formControlName="pagamentoIVA" class="form-control form-control-sm" mdbInput>
                                    <label for="pagamentoIVA">Pagamento IVA</label>
                                </div>
                        </div>
                        <div class="col-1"></div>
                    </div>
                    <div class="row" id="">
                        <div class="col-1"></div>
                        <div class="col-10">
                                <div class="md-form md-outline form-sm">
                                    <input type="text" id="spedireFatture" formControlName="spedireFatture"  class="form-control form-control-sm" mdbInput>
                                    <label for="spedireFatture">Spedire Fattura</label>
                                </div>
                        </div>
                        <div class="col-1"></div>
                    </div>
                  </div>
              <!-- primaRiga TLS-->
                  <div class="row col-4" id="tls">
                      <div class="row" id="primaRiga">
                          <div class="mt-2 col-2">
                              <h6 class="mt-4" id="tls_title">TLS</h6>
                          </div>
                          <div class="col-9">
                              <div class="md-form md-outline form-sm">
                                <mdb-select formControlName="statoTLS" [options]="tipoStato" placeholder="Scegli lo Stato..." id="statoTLS"></mdb-select>
                                  <!--<input type="text" id="statoTLS" formControlName="statoTLS" class="form-control form-control-sm" mdbInput>
                                  <label for="statoTLS">Stato</label>-->
                              </div>
                          </div>
                      </div>
                      <div class="row" id="secondaRiga">
                        <div class="col-4">
                                <div class="md-form md-outline form-sm">
                                    <input type="text" id="importoTLS" formControlName="importoTLS" class="form-control form-control-sm" mdbInput>
                                    <label for="importoTLS">Importo</label>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="md-form md-outline form-sm">
                                    <input type="date" id="scadenzaTLS" formControlName="scadenzaTLS" class="form-control form-control-sm" mdbInput>
                                    <label id="dataLabel" for="scadenzaTLS">Scadenza</label>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="md-form md-outline form-sm">
                                    <input type="text" id="rateTLS" formControlName="rateTLS" class="form-control form-control-sm" mdbInput>
                                    <label for="rateTLS">Rate</label>
                                </div>
                            </div>
                      </div>
                      <div class="row" id="terzaRiga">
                          <div class="col-7">
                              <div class="mt-3">
                                  <h6 class="mt-4" id="contrattoFermo">Contratto Fermo dal:</h6>
                              </div>
                          </div>
                          <div class="col-5">
                              <div class="md-form md-outline form-sm">
                                  <input type="text" id="fermoDaTLS" formControlName="fermoDaTLS" class="form-control form-control-sm" mdbInput>
                                  <label id="dataLabel" for="fermoDaTLS"></label>
                              </div>
                          </div>
                      </div>
                      <div class="row" id="quartaRiga">
                          <div class="col-6">
                            <div class="row">
                            <div class="col-4">
                              <h6 class="mt-4" id="contrattoFermo">Per:</h6>
                            </div>
                            <div class="col-8">
                              <div class="md-form md-outline form-sm">
                                  <input type="text" id="fermoPerTLS" formControlName="fermoPerTLS" class="form-control form-control-sm" mdbInput>
                                  <label for="fermoDaSMT">€</label>
                              </div>
                            </div>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="row">
                              <div class="col-5">
                                  <h6 class="mt-4" id="contrattoFermo">Firmato:</h6>
                              </div>
                              <div class="col-7">
                              <div class="md-form md-outline form-sm">
                                  <input type="text" id="firmatoTLS" maxlength="3" formControlName="firmatoTLS" class="form-control form-control-sm" mdbInput>
                                  <label id="dataLabel" for="firmatoSMT"></label>
                              </div>
                            </div>
                            </div>
                          </div>
                      </div>
                      <div class="row" id="quintaRiga">
                          <div class="col-6">
                            <div class="row">
                            <div class="col-8">
                              <h6 class="mt-4" id="contrattoFermo">Contratto IVA firmato:</h6>
                            </div>
                            <div class="col-4">
                              <div class="md-form md-outline form-sm">
                                  <input type="text" id="contrattoIVAFirmatoTLS" formControlName="contrattoIVAFirmatoTLS" class="form-control form-control-sm" mdbInput>
                                  <label for="contrattoIVAFirmatoTLS"></label>
                              </div>
                            </div>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="row">
                              <div class="col-3">
                                  <h6 class="mt-4" id="contrattoFermo">Del:</h6>
                              </div>
                              <div class="col-9">
                              <div class="md-form md-outline form-sm">
                                  <input type="date" id="dataContrattoIVAFirmatoTLS" formControlName="dataContrattoIVAFirmatoTLS" class="form-control form-control-sm" mdbInput>
                                  <label id="dataLabel" for="dataContrattoIVAFirmatoTLS"></label>
                              </div>
                            </div>
                            </div>
                          </div>
                      </div>
                    </div>
            </div>
            <!-- riga note -->
            <div class="row" id="sestaRiga">
                <div class="col-12">
                    <!--Material textarea-->
                    <div class="md-form md-outline">
                      <textarea type="text" id="notaManutenzione" formControlName="notaManutenzione" class="form-control md-textarea" rows="2" mdbInput></textarea>
                      <label for="notaManutenzione">Note</label>
                  </div>
                </div>
            </div>
            <!-- ulteriore riga divisa-->
            <div class="row" id="rigaDivisa">
              <!-- primaRiga TLS-->
              <div class="row col-4" id="smt">
                  <div class="row" id="primaRiga">
                    <div class="col-4">
                            <div class="md-form md-outline form-sm">
                                <input type="date" id="dataDisdettaSMT" formControlName="dataDisdettaSMT" class="form-control form-control-sm" mdbInput>
                                <label id="dataLabel" for="dataDisdettaSMT">Data</label>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="md-form md-outline form-sm">
                                <input type="text" id="importoDisdettaSMT" formControlName="importoDisdettaSMT" class="form-control form-control-sm" mdbInput>
                                <label for="importoDisdettaSMT">Importo</label>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="md-form md-outline form-sm">
                                <input type="text" id="tipologiaDisdettaSMT" formControlName="tipologiaDisdettaSMT" class="form-control form-control-sm" mdbInput>
                                <label for="tipologiaDisdettaSMT">Tipologia</label>
                            </div>
                        </div>
                  </div>
                  <div class="row col-12" id="motivoRiga">
                      <div class="col-12 md-form md-outline">
                          <textarea type="text" id="motivoDisdettaSMT" formControlName="motivoDisdettaSMT" class="form-control md-textarea" rows="2" mdbInput></textarea>
                          <label for="motivoDisdettaSMT">Motivo</label>
                      </div>
                  </div>
                </div>
                <div class="row col-4" id="centro">
                  <div class="col-12">
                      <h4 id="disdetta"> DISDETTA</h4>
                  </div>
                </div>
                <div class="row col-4" id="tls">
                    <div class="row" id="primaRiga">
                      <div class="col-4">
                              <div class="md-form md-outline form-sm">
                                  <input type="date" id="dataDisdettaTLS" formControlName="dataDisdettaTLS" class="form-control form-control-sm" mdbInput>
                                  <label id="dataLabel" for="dataDisdettaTLS">Data</label>
                              </div>
                          </div>
                          <div class="col-5">
                              <div class="md-form md-outline form-sm">
                                  <input type="text" id="importoDisdettaTLS" formControlName="importoDisdettaTLS" class="form-control form-control-sm" mdbInput>
                                  <label for="importoDisdettaTLS">Importo</label>
                              </div>
                          </div>
                          <div class="col-3">
                              <div class="md-form md-outline form-sm">
                                  <input type="text" id="tipologiaDisdettaTLS" formControlName="tipologiaDisdettaTLS" class="form-control form-control-sm" mdbInput>
                                  <label for="tipologiaDisdettaTLS">Tipologia</label>
                              </div>
                          </div>
                    </div>
                    <div class="row col-12" id="motivoRiga">
                        <div class="col-12 md-form md-outline">
                            <textarea type="text" id="motivoDisdettaTLS" formControlName="motivoDisdettaTLS" class="form-control md-textarea" rows="2" mdbInput></textarea>
                            <label for="motivoDisdettaTLS">Motivo</label>
                        </div>
                    </div>
                  </div>
            </div>
            <!-- riga note -->
            <div class="row" id="rigaPercorso">
                <div class="col-10">
                    <!--Material textarea-->
                    <div class="md-form md-outline">
                      <textarea type="text" id="notePercorso" formControlName="notePercorso" class="form-control md-textarea" rows="1" mdbInput></textarea>
                      <label for="notePercorso">Note Percorso</label>
                  </div>
                </div>
                <div class="col-2">
                    <!--Material textarea-->
                    <div class="md-form md-outline form-sm">
                        <input type="text" id="speseKM" formControlName="speseKM" class="form-control form-control-sm" mdbInput>
                        <label for="speseKM">Spese KM</label>
                    </div>
                </div>
            </div>
          </form>
          </div>
          </mdb-card-text>
          </div>
          </div>
          </mdb-card-body>
        </mdb-card>
      </div>
  </section>
