.font_custom{
	font-family: "Tahoma";
    font-weight: 400;
    font-style: normal;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}


@media (min-width: 1366px){
  mdb-card.card {
    height: 530px !important;
  }
  .md-form.md-outline.form-sm .form-control.form-control-sm {
    padding: 0.25rem 0.625rem;
    font-size: 0.8rem;
  }
  h6#contrattoFermo {
    font-size: 13px;
  }

  h4#disdetta {
    padding-top: 19%;
  }
}

@media (min-width: 1920px){
  mdb-card.card {
    height: 825px !important;
  }

  h6#contrattoFermo {
    font-size: 15px;
  }

  h4#disdetta {
    padding-top: 13%;
  }

  div#contenitore {
    padding-top: 30px;
  }


}

.btn[class*=btn-outline-] {
  font-weight: 900;
}


#card_row{
  height: 100%!important;
}

.card .card-body h1, .card .card-body h2, .card .card-body h3, .card .card-body h4, .card .card-body h5, .card .card-body h6 {
  font-weight: 900;
  color: #3f729b;
}

div#icon_column {
  max-width: 8%;
  border-right-color: #3f729b;
  border-right-style: solid;
  border-right-width: thin;
  align-self: center;
}

mdb-icon.fas {
  background-color: #3f729b;
}

input.form-control {
  font-weight: 900;
}

.md-form.md-outline label {
  font-weight: 900;
}

.margineZero {
  margin-bottom: 0rem;
}

.md-form textarea.md-textarea {
  font-weight: 900;
}

.md-form.md-outline.form-sm label.active {
  color: #3f729b;
}

button#save {
  margin-left: 70%;
}

button#edit {
  margin-left: 50%!important;
}

form {
  width: 100%!important;
}

#smt {
  border-style: solid;
  border-width: 1px;
  padding-left: 0!important;
  padding-right: 0!important;
}

#tls {
  border-style: solid;
  border-width: 1px;
  padding-left: 0!important;
  padding-right: 0!important;
}

div#primaRiga {
  margin-top: -16px;
  width: 100%!important;
}

div#secondaRiga {
  margin-top: -38px;
}

div#terzaRiga {
  margin-top: -38px;
}

div#quartaRiga {
  margin-top: -38px;
}

div#quintaRiga {
  margin-bottom: -16px;
  margin-top: -38px;
}

div#sestaRiga {
  margin-top: -18px;
}

div#rigaDivisa {
  margin-top: -18px;
}

div#motivoRiga {
  margin-bottom: -24px;
  margin-top: -38px;
}

div#rigaPercorso {
  margin-top: -18px;
  margin-bottom: -24px;
}

div#secondaRigaCENTRO {
  margin-bottom: -33px;
  margin-top: -81px;
}
div#terzaRigaCENTRO {
  margin-bottom: -33px;
  margin-top: -85px;
}

.col-8{
  padding-left: 0!important;
  padding-right: 0!important;
}

.col-10{
  padding-left: 1px!important;
  padding-right: 1px!important;
}

.col-9{
  padding-left: 1px!important;
  padding-right: 1px!important;
}

.col-5{
  padding-left: 1px!important;
  padding-right: 1px!important;
}

.col-2{
  padding-left: 1px!important;
  padding-right: 1px!important;
}

.col-6{
  padding-left: 1px!important;
  padding-right: 1px!important;
}

.col-4{
  padding-left: 1px!important;
  padding-right: 1px!important;
}

.col-12{
  padding-left: 1px!important;
  padding-right: 1px!important;
}

.col-3{
  padding-left: 1px!important;
  padding-right: 1px!important;
}




