<section class="text-center mt-3">
  <div class="card-deck font_custom">
    <!-- Card -->
    <mdb-card>
      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <div class="row" id="card_row">
          <div class="col-2" id="icon_column">
            <!--<div class="row d-flex justify-content-center">
                <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="BACK" placement="right" mdbWavesEffect><mdb-icon fas icon="arrow-left" (click)= "goTo('clientiAddImpianto')"></mdb-icon></a>
            </div>
            <div class="row d-flex justify-content-center">
              <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="ADD" placement="right" mdbWavesEffect><mdb-icon fas icon="plus" (click)= "frame.show()"></mdb-icon></a>
          </div>-->
          </div>
          <div class="col-11" id="component_column">
            <div class="row">
              <div class="col-6 mt-2">
                     <h4> {{ titolo }} </h4>
              </div>
              <div class="col-6">
                 <button mdbBtn id="save" type="button" *ngIf="save" color="success" (click)= "goTo('clientiAddImpianto')" outline="true" size="sm" mdbWavesEffect>Salva chiavi</button>
              </div>
            </div>
          <!--Text-->


        <!-- seconda parte GENERALE-->
        <div class="row col-12">
          <div class="my-1 col-12">
            <table mdbTableEditor class="table table-striped z-depth-1" small="true" [itemsPerPage]="visibleItems" #table="mdbEditor" (rowHighlight)="highlightedRow = $event">
              <thead>
              <tr>
                <th *ngFor="let head of headElements; let i = index" scope="col">{{head}}</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of table.performSearch(this.searchText); let i = index" (click)="sendData(item, i)">
                <td>{{item.owner}}</td>
                <td>{{item.consegnateA}}</td>
                <td>{{item.dataConsegnaString}}</td>
                <td>{{item.numeroChiavi}}</td>
                <td>{{item.tesseraKey}}</td>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                <td colspan="7">
                  <div class="d-flex flex-center">
                    <span>Visualizzando da {{table.paginationInfo.firstItem}} a {{table.paginationInfo.lastItem}} di {{table.paginationInfo.allItems}} risultati</span>
                    <div class="flex-1"></div>
                    <mdb-icon  fas icon="angle-left" size="sm"  (click)="table.prevPage()" class="p-2 faswhite"
                              [ngClass]="{'disabled text-muted': table.disablePrevious()}" id="prev" mdbWavesEffect></mdb-icon>
                    <mdb-icon  fas icon="angle-right" size="sm"  (click)="table.nextPage()" class="p-2 faswhite"
                              [ngClass]="{'disabled text-muted': table.disableNext()}" id="post" mdbWavesEffect></mdb-icon>
                    <mdb-icon class="mr-1 ml-2" id="plus" fas icon="plus" (click)= "frame.show()"></mdb-icon>
                    <mdb-icon class="mr-1" *ngIf="editKey" id="edit" fas icon="edit" (click)="frame.show(); editaKey()"></mdb-icon>
                    <mdb-icon *ngIf="deleteKey" id="trash" (click)="askRemoveKey()" fas icon="trash"></mdb-icon>

                  </div>
                </td>
              </tr>
              </tfoot>
            </table>
          </div>
        </div>
        <form [formGroup]="clientiKey" id="clientiKey" class="form">
        <div class="row col-12">
            <!-- primaRiga -->
            <div class="row col-12" id="primaRiga">
                <div class="col-2">
                  <div class="md-form md-outline form-sm">
                    <input type="text"  formControlName="owner"  id="owner" class="form-control form-control-sm" mdbInput>
                    <label for="owner">Owner</label>
                  </div>
                </div>
                <div class="col-2">
                  <div class="md-form md-outline form-sm">
                    <input type="text" formControlName="consegnateA"  id="consegnateA" class="form-control form-control-sm" mdbInput>
                    <label for="consegnateA">Consegnata a:</label>
                  </div>
                </div>
                <div class="col-4">
                    <div class="md-form md-outline form-sm">
                      <input type="text" formControlName="altroCodice" id="altroCodice" class="form-control form-control-sm" mdbInput>
                      <label for="altroCodice">Altro codice</label>
                    </div>
                  </div>
                <div class="col-2">
                  <div class="md-form md-outline form-sm">
                    <input type="text" formControlName="ultimaVerificaKeyData"  id="ultimaVerificaKeyData" class="form-control form-control-sm" mdbInput>
                    <label for="ultimaVerificaKeyData">Data ultima verifica</label>
                  </div>
                </div>
                <div class="col-2">
                    <div class="md-form md-outline form-sm">
                      <input type="text"  formControlName="statoChiavi" id="statoChiavi" class="form-control form-control-sm" mdbInput>
                      <label for="statoChiavi">Stato chiavi</label>
                    </div>
                  </div>
            </div>
            <!-- secondaRiga -->
            <div class="row col-12" id="secondaRiga">
                <div class="col-2">
                    <div class="md-form md-outline form-sm">
                      <input type="text"  formControlName="numeroChiavi" id="numeroChiavi" class="form-control form-control-sm" mdbInput>
                      <label for="numeroChiavi">Numero chiavi</label>
                    </div>
                </div>
                <div class="col-2">
                    <div class="md-form md-outline form-sm">
                      <input type="text"  formControlName="tipoCustodia"  id="tipoCustodia" class="form-control form-control-sm" mdbInput>
                      <label for="tipoCustodia">Tipo custodia</label>
                    </div>
                </div>
                <div class="col-2">
                    <!-- Material outline input -->
                  <div class="md-form md-outline form-sm">
                    <input type="text"   formControlName="dataConsegna" id="dataConsegna" class="form-control form-control-sm" mdbInput>
                    <label for="dataConsegna">Data di consegna</label>
                  </div>
                </div>
              <div class="col-2">
                    <div class="md-form md-outline form-sm">
                      <input type="text"  formControlName="telecomando"  id="telecomando" class="form-control form-control-sm" mdbInput>
                      <label for="telecomando">Telecomando</label>
                    </div>
                  </div>
                  <div class="col-4">
                      <div class="md-form md-outline form-sm">
                        <input type="text"  formControlName="tesseraKey"  id="tesseraKey" class="form-control form-control-sm" mdbInput>
                        <label for="tesseraKey">Codice tessera</label>
                      </div>
                  </div>
              </div>
              <div class="row col-12" id="terzaRiga">
                  <div class="col-12">
                      <div class="md-form md-outline form-sm">
                        <input type="text"  formControlName="altro"  id="altro" class="form-control form-control-sm" mdbInput>
                        <label for="altro">Altro</label>
                      </div>
                  </div>
              </div>
              <hr id="line_sep" class="col-10 mb-5">
            <div class="row col-12" id="quintaRiga">
                <div class="col-5 mr-2">
                    <div class="md-form md-outline form-sm">
                      <input type="text"  formControlName="noteConsegna" id="noteConsegna" class="form-control form-control-sm" mdbInput>
                      <label for="noteConsegna">Note consegna</label>
                    </div>
                  </div>

                <div class="col-5 ml-2">
                    <div class="md-form md-outline form-sm">
                      <input type="text"  formControlName="noteChiavi" id="noteChiavi" class="form-control form-control-sm" mdbInput>
                      <label for="noteChiavi">Note chiavi</label>
                    </div>
                  </div>
            </div>
            <div class="row col-12" id="quintaRiga">
                <div class="col-12">
                    <div class="md-form md-outline form-sm">
                        <textarea  type="text"   formControlName="note" id="note" class="form-control md-textarea-auto form-control-sm" mdbInput></textarea>
                        <label for="note">Note</label>
                    </div>
                  </div>
            </div>
        </div>
        </form>
      </div>
      </div>
      </mdb-card-body>
    </mdb-card>
  </div>
</section>
<div mdbModal #frame="mdbModal" class="modal fade left font_custom" id="frameModalTop" (open)="onOpened()" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h5 class="modal-title w-100 font-weight-bold">Aggiungi Chiave</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-3">
          <div class="row">
          <div class="col-6">
          <div class="md-form mb-1" id="ownerModal">
            <mdb-select [options]="ownerSelect" placeholder="Scegli l'owner" [(ngModel)]="ownerModal" id="ownerModal"></mdb-select>
          </div>

          <div class="md-form mb-1" id="consegnateAModal">
            <input type="text" [(ngModel)]="consegnateAModal" id="consegnateAModal" class="form-control" mdbInput>
            <label for="consegnateAModal">Consegnare a:</label>
          </div>

          <div class="md-form mb-1" id="altroCodiceModal">
            <input type="text" id="altroCodiceModal" [(ngModel)]="altroCodiceModal" class="form-control" mdbInput>
            <label for="altroCodiceModal">Altro codice:</label>
          </div>

          <div class="md-form mb-1" id="ultimaVerificaKeyDataModal">
            <input type="date" id="ultimaVerificaKeyDataModal" [(ngModel)]="ultimaVerificaKeyDataModal" class="form-control" mdbInput>
            <label for="ultimaVerificaKeyDataModal">Dataultima verifica:</label>
          </div>
          <div class="md-form mb-1" id="statoChiaviModal">
            <input type="text" id="statoChiaviModal" [(ngModel)]="statoChiaviModal" class="form-control" mdbInput>
            <label for="statoChiaviModal">Stato Key:</label>
          </div>
          <div class="md-form mb-1" id="numeroChiaviModal">
            <input type="text" id="numeroChiaviModal" [(ngModel)]="numeroChiaviModal" class="form-control" mdbInput>
            <label for="numeroChiaviModal">Numero Key:</label>
          </div>
          <div class="md-form mb-1" id="tipoCustodiaModal">
            <input type="text" id="tipoCustodiaModal" [(ngModel)]="tipoCustodiaModal" class="form-control" mdbInput>
            <label for="tipoCustodiaModal">Tipo custodia:</label>
          </div>
          <div class="md-form mb-1" id="dataConsegnaModal">
            <input type="date" id="dataConsegnaModal" [(ngModel)]="dataConsegnaModal" class="form-control" mdbInput>
            <label for="dataConsegnaModal">Data consegna:</label>
          </div>
          <div class="md-form mb-1" id="telecomandoModal">
            <input type="text" id="telecomandoModal" [(ngModel)]="telecomandoModal" class="form-control" mdbInput>
            <label for="telecomandoModal">Telecomando:</label>
          </div>
        </div>
        <div class="col-6">
          <div class="md-form mb-1" id="tesseraKeyModal">
            <input type="text" id="tesseraKeyModal" [(ngModel)]="tesseraKeyModal" class="form-control" mdbInput>
            <label for="tesseraKeyModal">Tessera Key:</label>
          </div>
          <div class="md-form mb-1" id="altroModal">
            <input type="text" id="altroModal" [(ngModel)]="altroModal" class="form-control" mdbInput>
            <label for="altroModal">Altro:</label>
          </div>

          <div class="md-form mb-1" id="noteConsegnaModal">
            <input type="text" id="noteConsegnaModal" [(ngModel)]="noteConsegnaModal" class="form-control" mdbInput>
            <label for="noteConsegnaModal">Nota consegna:</label>
          </div>

          <div class="md-form mb-1" id="noteChiaviModal">
            <input type="text" id="noteChiaviModal" [(ngModel)]="noteChiaviModal" class="form-control" mdbInput>
            <label for="noteChiaviModal">Nota Chiavi:</label>
          </div>
          <div class="md-form mb-1" id="noteModal">
            <input type="text" id="noteModal" [(ngModel)]="noteModal" class="form-control" mdbInput>
            <label for="noteModal">Nota:</label>
          </div>
        </div>
        </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button mdbBtn color="default" size="sm" class="waves-light" mdbWavesEffect (click)="salva(); frame.hide()">Salva</button>
          <button mdbBtn color="default" size="sm" class="waves-light" mdbWavesEffect (click)="ripristinaKey(); frame.hide()">Annulla</button>
        </div>
      </div>
    </div>
  </div>
