    <!--Header-->
    <div class="modal-header font_custom">
      <p class="heading lead">{{heading }}</p>

      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true" class="white-text">&times;</span>
      </button>
    </div>

    <!--Body-->
    <div class="modal-body font_custom">

      <img src="../../assets/img/sessioneInScadenza.png" alt=""
        class="img-fluid">

      <div class="text-center">
        <p>{{ content.description }}</p>
        <p>{{ content.description1 }}</p>
      </div>
    </div>

    <!--Footer-->
    <div class="modal-footer justify-content-center">
      <a type="button" mdbBtn color="primary" class="waves-effect" mdbWavesEffect (click)="refresh()">Rinnova
        <mdb-icon fas icon="sync-alt"></mdb-icon>
      </a>
      <a type="button" mdbBtn color="primary" outline="true" class="waves-effect" mdbWavesEffect (click)="closeModal()"
        data-dismiss="modal">No</a>
    </div>

