.font_custom{
	font-family: "Tahoma";
    font-weight: 400;
    font-style: normal;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}


@media (min-width: 1366px){
  mdb-card.card {
    height: 530px !important;
    overflow-y: auto;
  }
  .md-form.md-outline.form-sm .form-control.form-control-sm {
    padding: 0.25rem 0.625rem;
    font-size: 0.8rem;
  }

  div#h1, div#h2, div#h3, div#h4, div#h5, div#h6 {
    margin-top: 8%;
  }
}

@media (min-width: 1920px){
  mdb-card.card {
    height: 825px !important;
  }

  div#contenitore {
    padding-top: 8px;
  }

  div#h1, div#h2, div#h3, div#h4, div#h5, div#h6 {
    margin-top: 6%;
  }
}

.btn[class*=btn-outline-] {
  font-weight: 900;
}

#card_row{
  height: 100%!important;
}

.card .card-body h1, .card .card-body h2, .card .card-body h3, .card .card-body h4, .card .card-body h5, .card .card-body h6 {
  font-weight: 900;
  color: #3f729b;
}

div#icon_column {
  max-width: 8%;
  border-right-color: #3f729b;
  border-right-style: solid;
  border-right-width: thin;
  align-self: center;
}

div#primaRiga{
  margin-top: -15px!important;
}

div#secondaRiga, div#quintaRiga{
  margin-top: -43px!important;
}

div#ragazzi1,  div#quartaRiga {
  margin-top:-27px!important;
}

div#terzaRiga, div#sestaRiga {
  margin-top:-19px!important;
  margin-bottom: 8px;
}

div#ragazzi2, div#ragazzi3, div#ragazzi4, div#ragazzi5, div#ragazzi5 {
  margin-top:-43px!important;
}

div#smt, div#tls {
  margin-top: -50px;
}

div#riepilogo {
  border: solid 1px!important;
  border-color: red!important;
}

div#riepilogoEU {
  margin-top: 21px;
  margin-bottom: -42px;
}

div#stipCSGCICCOLINI {
  margin-top: -3px !important;
  margin-bottom: 17px!important;
}

mdb-icon.fas {
  background-color: #3f729b;
}

input.form-control {
  font-weight: 900;
}

.md-form.md-outline label {
  font-weight: 900;
}

.md-form textarea.md-textarea {
  font-weight: 900;
}

.md-form.md-outline.form-sm label.active {
  color: #3f729b;
}

form {
  width: 100%!important;
}


.col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-12{
  padding-left: 1px!important;
  padding-right: 1px!important;
}




