<section class="text-center mt-3">
    <div class="card-deck font_custom">
        <!-- Card -->
        <mdb-card>
          <!--Card content-->
          <mdb-card-body>
            <!--Title-->
            <div class="row" id="card_row">
              <div class="col-2" id="icon_column">
                <div class="row d-flex justify-content-center">
                    <!-- <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="BACK" placement="right" (click)= "goTo('clientiIntervento')" mdbWavesEffect><mdb-icon fas icon="arrow-left" ></mdb-icon></!-->
                </div>
              </div>
              <div class="col-11" id="component_column">
                <div class="row">
                  <div class="col-6 mt-2">
                         <h4> {{ titolo }} </h4>
                  </div>
                  <div class="col-6">
                     <button mdbBtn id="save" type="button" *ngIf="save" color="success" (click)="goTo('clientiIntervento')" outline="true" size="sm" mdbWavesEffect>Salva intervento</button>
                     <button mdbBtn id="edit" type="button" *ngIf="edit" color="warning" outline="true" size="sm" mdbWavesEffect>EDIT</button>
                     <button mdbBtn id="delete" *ngIf="delete" type="button" color="danger" (click)="deleteIntervento()" outline="true" size="sm" mdbWavesEffect>Elimina Intervento</button>
                  </div>
                </div>
              <!--Text-->
              <mdb-card-text>
          <!-- seconda parte GENERALE-->
          <div class="row text-center mt-1" id="contenitore">
              <form [formGroup]="clientiAddIntervento" id="clientiAddIntervento" class="form">
                  <div class="row" id="riepilogo">
                      <div class="col-3">
                        <div class="row col-12" id="ab">
                          <!-- Material outline input -->
                          <div class="md-form col-12 md-outline form-sm">
                            <input type="text" formControlName="riepilogoAB" id="riepilogoAB" class="form-control form-control-sm" mdbInput>
                            <label for="riepilogoAB">AB</label>
                          </div>
                        </div>
                        <div class="row col-12" id="smt">
                        <!-- Material outline input -->
                        <div class="md-form col-12 md-outline form-sm">
                          <input type="text" formControlName="riepilogoSMT" id="riepilogoSMT" class="form-control form-control-sm" mdbInput>
                          <label for="riepilogoSMT">SMT</label>
                        </div>
                      </div>
                      <div class="row col-12" id="tls">
                          <!-- Material outline input -->
                          <div class="md-form col-12 md-outline form-sm">
                            <input type="text" formControlName="riepilogoTLS" id="riepilogoTLS" class="form-control form-control-sm" mdbInput>
                            <label for="riepilogoTLS">TLS</label>
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                     <!--Material textarea-->
                          <div class="md-form md-outline">
                              <textarea type="text" formControlName="notaIntervento"  id="notaIntervento" class="form-control md-textarea" rows="4" mdbInput></textarea>
                              <label for="notaIntervento">Nota Intervento</label>
                          </div>
                      </div>
                      <div class="col-3">
                        <div class="row col-12" id="riepilogoEU">
                          <div class="col-6">
                            <!-- Material outline input -->
                            <div class="md-form md-outline form-sm">
                            <input type="text" formControlName="riepilogoE" id="riepilogoE" class="form-control form-control-sm" mdbInput>
                            <label for="riepilogoE">E</label>
                            </div>
                          </div>
                          <div class="col-6">
                            <!-- Material outline input -->
                            <div class="md-form md-outline form-sm">
                            <input type="text" formControlName="riepilogoU" id="riepilogoU" class="form-control form-control-sm" mdbInput>
                            <label for="riepilogoU">U</label>
                            </div>
                          </div>
                        </div>
                        <div class="row col-12" id="riepilogoALF">
                          <div class="col-6">
                            <!-- Material outline input -->
                            <div class="md-form md-outline form-sm">
                            <input type="text" formControlName="riepilogoAL" id="riepilogoAL" class="form-control form-control-sm" mdbInput>
                            <label for="riepilogoAL">AL</label>
                            </div>
                          </div>
                          <div class="col-6">
                            <!-- Material outline input -->
                            <div class="md-form md-outline form-sm">
                            <input type="text" formControlName="riepilogoF" id="riepilogoF" class="form-control form-control-sm" mdbInput>
                            <label for="riepilogoF">F</label>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="row">
                      <!-- primaRiga -->
                      <div class="row col-12" id="primaRiga">
                          <div class="col-2">
                              <!-- Material outline input -->
                              <div class="md-form md-outline form-sm">
                                  <input type="date" formControlName="dataIntervento" id="dataIntervento" class="form-control form-control-sm"mdbInput>
                                  <label for="dataNewIntervento">Data</label>
                                </div>
                          </div>
                          <div class="col-6"></div>
                          <div class="col-2">
                                <!-- Material outline input -->
                                <div class="md-form md-outline form-sm">
                                <input type="time" formControlName="oraInizioIntervento" id="oraInizioIntervento" class="form-control form-control-sm" mdbInput>
                                <label for="tipoCliente">Ora Inizio</label>
                              </div>
                          </div>
                          <div class="col-2">
                              <!-- Material outline input -->
                              <div class="md-form md-outline form-sm">
                                <input type="time" formControlName="oraFineIntervento" id="oraFineIntervento" class="form-control form-control-sm" mdbInput>
                                <label for="oraFineIntervento">Ora Fine</label>
                              </div>
                        </div>
                      </div>
                      <!-- secondaRiga -->
                      <div class="row col-12" id="secondaRiga">
                          <div class="col-4">
                              <!-- Material outline input -->
                              <div class="md-form md-outline form-sm">
                                  <input type="text" formControlName="codCliente" id="codCliente" class="form-control form-control-sm" mdbInput>
                                  <label for="codCliente">Codice</label>
                                </div>
                          </div>
                          <div class="col-8">
                              <!-- Material outline input -->
                              <div class="md-form md-outline form-sm">
                                  <input type="text" formControlName="nomeUtente" id="nomeUtente" class="form-control form-control-sm" mdbInput>
                                  <label for="nomeUtente">Utente</label>
                                </div>
                          </div>
                      </div>
                      <!-- terzaRiga -->
                     <div class="row col-12" id="terzaRiga">
                        <div class="col-6">
                            <ng-multiselect-dropdown
                              [placeholder]="'Seleziona tecnici CGS'"
                              [data]="dropdownListTecnici"
                              [settings]="dropdownSettings"
                              (onSelect)="onItemSelectCGS($event)"
                              (onSelectAll)="onSelectAllCGS($event)"
                              formControlName="selezioneTecnici"
                              (onDeSelect)="onItemDeselectedCGS($event)"
                              (onDeSelectAll)="onItemDeselectedAllCGS($event)"
                              [(ngModel)]="selectedItemsCGS"
                            >
                            </ng-multiselect-dropdown>
                        </div>
                        <div class="col-6">
                            <ng-multiselect-dropdown
                              [placeholder]="'Seleziona tecnici CISA'"
                              [data]="dropdownListCISA"
                              [settings]="dropdownSettings"
                              (onSelect)="onItemSelectCISA($event)"
                              (onSelectAll)="onSelectAllCISA($event)"
                              formControlName="selezioneCISA"
                              (onDeSelect)="onItemDeselectedCISA($event)"
                              (onDeSelectAll)="onItemDeselectedAllCISA($event)"
                              [(ngModel)]="selectedItemsCISA"
                            >
                            </ng-multiselect-dropdown>
                        </div>
                    </div>
                    <!-- quartaRiga -->
                    <div class="row col-12" id="quartaRiga">
                        <div class="col-12">
                            <!--Material textarea-->
                            <div class="md-form md-outline">
                              <textarea type="text" formControlName="notaIntervento1" id="notaIntervento1" class="form-control md-textarea" rows="4" mdbInput></textarea>
                              <label for="notaIntervento1">Nota Intervento</label>
                          </div>
                        </div>
                    </div>
                    <!-- quintaRiga -->
                    <div class="row col-12" id="quintaRiga">
                        <div class="col-4">
                            <!-- Material outline input -->
                            <div class="md-form md-outline form-sm">
                                <input type="text" formControlName="tipoIntervento" id="tipoIntervento" class="form-control form-control-sm" mdbInput>
                                <label for="tipoIntervento">Tipo Intervento</label>
                              </div>
                        </div>
                        <div class="col-2">
                            <!-- Material outline input -->
                            <div class="md-form md-outline form-sm">
                                <input type="text" formControlName="CisaFoglioIntervento" id="CisaFoglioIntervento" class="form-control form-control-sm" mdbInput>
                                <label for="CisaFoglioIntervento">CISA Foglio Int.</label>
                              </div>
                        </div>
                        <div class="col-2">
                          <!-- Material outline input -->
                          <div class="md-form md-outline form-sm">
                              <input type="text" formControlName="costoIntervento" id="costoIntervento" class="form-control form-control-sm" mdbInput>
                              <label for="costoIntervento">Costo Intervento</label>
                            </div>
                      </div>
                      <div class="col-2">
                        <!-- Material outline input -->
                        <div class="md-form md-outline form-sm">
                            <input type="text" formControlName="pagatoSospeso" id="pagatoSospeso" class="form-control form-control-sm" mdbInput>
                            <label for="pagatoSospeso">Pagato/Sospeso</label>
                          </div>
                      </div>
                      <div class="col-2">
                      <!-- Material outline input -->
                      <div class="md-form md-outline form-sm">
                          <input type="text" formControlName="costoKM" id="costoKM" class="form-control form-control-sm" mdbInput>
                          <label for="costoKM">Costo KM</label>
                        </div>
                      </div>
                    </div>
                    <!-- sestaRiga -->
                    <div class="row col-12" id="sestaRiga">
                      <div class="col-6">
                        <div class="row col-12">
                          <div class="col-4"></div>
                          <div class="col-4">
                            <h5>RAGAZZI</h5>
                          </div>
                          <div class="col-4"></div>
                      </div>
                      <!-- prima riga Ragazzi -->
                      <div class="row col-12" id="ragazzi1">
                          <div class="col-1" id="h1">
                            <h6>1</h6>
                          </div>
                          <div class="col-2">
                            <div class="md-form md-outline form-sm">
                                <input type="text" formControlName="siNo1" id="siNo1" class="form-control form-control-sm" mdbInput>
                                <label for="siNo">SI/NO</label>
                            </div>
                          </div>
                          <div class="col-5">
                            <div class="md-form md-outline form-sm">
                                <input type="text" formControlName="tipologia1" id="tipologia1" class="form-control form-control-sm" mdbInput>
                                <label for="tipologia">Tip.</label>
                            </div>
                          </div>
                          <div class="col-3">
                              <div class="md-form md-outline form-sm">
                                  <input type="text" formControlName="tipologia11" id="tipologia11" class="form-control form-control-sm" mdbInput>
                                  <label for="tipologia">Importo</label>
                              </div>
                          </div>
                      </div>
                      <!-- seconda riga Ragazzi -->
                      <div class="row col-12" id="ragazzi2">
                          <div class="col-1" id="h2">
                            <h6>2</h6>
                          </div>
                          <div class="col-2">
                            <div class="md-form md-outline form-sm">
                                <input type="text" formControlName="siNo2" id="siNo2" class="form-control form-control-sm" mdbInput>
                                <label for="siNo">SI/NO</label>
                            </div>
                          </div>
                          <div class="col-5">
                            <div class="md-form md-outline form-sm">
                                <input type="text" formControlName="tipologia2" id="tipologia2" class="form-control form-control-sm" mdbInput>
                                <label for="tipologia">Tip.</label>
                            </div>
                          </div>
                          <div class="col-3">
                              <div class="md-form md-outline form-sm">
                                  <input type="text" formControlName="tipologia22" id="tipologia22" class="form-control form-control-sm" mdbInput>
                                  <label for="tipologia">Importo</label>
                              </div>
                          </div>
                      </div>
                      <!-- terza riga Ragazzi -->
                      <div class="row col-12" id="ragazzi3">
                          <div class="col-1" id="h3">
                            <h6>3</h6>
                          </div>
                          <div class="col-2">
                            <div class="md-form md-outline form-sm">
                                <input type="text" formControlName="siNo3" id="siNo3" class="form-control form-control-sm" mdbInput>
                                <label for="siNo">SI/NO</label>
                            </div>
                          </div>
                          <div class="col-5">
                            <div class="md-form md-outline form-sm">
                                <input type="text" formControlName="tipologia3" id="tipologia3" class="form-control form-control-sm" mdbInput>
                                <label for="tipologia">Tip.</label>
                            </div>
                          </div>
                          <div class="col-3">
                              <div class="md-form md-outline form-sm">
                                  <input type="text" formControlName="tipologia33" id="tipologia33" class="form-control form-control-sm" mdbInput>
                                  <label for="tipologia">Importo</label>
                              </div>
                          </div>
                      </div>
                      <!-- quarta riga Ragazzi -->
                      <div class="row col-12" id="ragazzi4">
                          <div class="col-1" id="h4">
                            <h6>4</h6>
                          </div>
                          <div class="col-2">
                            <div class="md-form md-outline form-sm">
                                <input type="text" formControlName="siNo4" id="siNo4" class="form-control form-control-sm" mdbInput>
                                <label for="siNo">SI/NO</label>
                            </div>
                          </div>
                          <div class="col-5">
                            <div class="md-form md-outline form-sm">
                                <input type="text" formControlName="tipologia4" id="tipologia4" class="form-control form-control-sm" mdbInput>
                                <label for="tipologia">Tip.</label>
                            </div>
                          </div>
                          <div class="col-3">
                              <div class="md-form md-outline form-sm">
                                  <input type="text" formControlName="tipologia44" id="tipologia44" class="form-control form-control-sm" mdbInput>
                                  <label for="tipologia">Importo</label>
                              </div>
                          </div>
                      </div>
                      <!-- quinta riga Ragazzi -->
                      <div class="row col-12" id="ragazzi5">
                          <div class="col-1" id="h5">
                            <h6>5</h6>
                          </div>
                          <div class="col-2">
                            <div class="md-form md-outline form-sm">
                                <input type="text" formControlName="siNo5" id="siNo5" class="form-control form-control-sm" mdbInput>
                                <label for="siNo">SI/NO</label>
                            </div>
                          </div>
                          <div class="col-5">
                            <div class="md-form md-outline form-sm">
                                <input type="text" formControlName="tipologia5" id="tipologia5" class="form-control form-control-sm" mdbInput>
                                <label for="tipologia">Tip.</label>
                            </div>
                          </div>
                          <div class="col-3">
                              <div class="md-form md-outline form-sm">
                                  <input type="text" formControlName="tipologia55" id="tipologia55" class="form-control form-control-sm" mdbInput>
                                  <label for="tipologia">Importo</label>
                              </div>
                          </div>
                        </div>
                      </div>
                      <!-- seconda colonna -->
                      <div class="col-6">
                          <hr class="col-12 mt-2">
                          <div class="row col-12">
                            <div class="col-4"></div>
                            <div class="col-4">
                              <h5>ORE di lavoro</h5>
                            </div>
                            <div class="col-4"></div>
                        </div>
                        <!-- prima riga ore di lavoro -->
                        <div class="row col-12" id="ragazzi1">
                            <div class="col-3">
                              <div class="md-form md-outline form-sm">
                                  <input type="text" formControlName="oreAndy" id="oreAndy" class="form-control form-control-sm" mdbInput>
                                  <label for="oreAndy">Andy</label>
                              </div>
                            </div>
                            <div class="col-3">
                              <div class="md-form md-outline form-sm">
                                  <input type="text" formControlName="oreFabio" id="oreFabio" class="form-control form-control-sm" mdbInput>
                                  <label for="oreFabio">Fabio</label>
                              </div>
                            </div>
                            <div class="col-3">
                                <div class="md-form md-outline form-sm">
                                    <input type="text" formControlName="oreMosca" id="oreMosca" class="form-control form-control-sm" mdbInput>
                                    <label for="oreMosca">Mosca</label>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="md-form md-outline form-sm">
                                    <input type="text" formControlName="oreGualty" id="oreGualty" class="form-control form-control-sm" mdbInput>
                                    <label for="oreGualty">Gualty</label>
                                </div>
                            </div>
                        </div>

                        <hr class="col-12 mt-1">

                        <!-- seconda riga Ragazzi -->
                        <div class="row col-12" id="stipCSGCICCOLINI">
                            <div class="row col-12">
                                <div class="col-2"></div>
                                <div class="col-8">
                                  <h5>STIP CGS vs CICCOLINI</h5>
                                </div>
                                <div class="col-2"></div>
                            </div>
                        </div>
                        <!-- terza riga Ragazzi -->
                        <div class="row col-12" id="ragazzi3">
                            <div class="col-4" id="h3">
                              <h6>Fabrizio</h6>
                            </div>
                            <div class="col-2">
                              <div class="md-form md-outline form-sm">
                                  <input type="text" formControlName="calFabrizio" id="calFabrizio" class="form-control form-control-sm" mdbInput>
                                  <label for="calFabrizio">Cal</label>
                              </div>
                            </div>
                            <div class="col-2">
                              <div class="md-form md-outline form-sm">
                                  <input type="text" formControlName="oreFabrizio" id="oreFabrizio" class="form-control form-control-sm" mdbInput>
                                  <label for="oreFabrizio">Ore</label>
                              </div>
                            </div>
                            <div class="col-2">
                                <div class="md-form md-outline form-sm">
                                    <input type="text" formControlName="$fabrizio" id="$fabrizio" class="form-control form-control-sm" mdbInput>
                                    <label for="$fabrizio">$</label>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <!-- settimaRiga -->
                    <div class="row col-12" id="settimaRiga">
                        <div class="col-6">
                          <div class="row col-12">
                            <div class="col-2"></div>
                            <div class="col-8">
                              <h5>CICCOLINI Vs CGS</h5>
                            </div>
                            <div class="col-2"></div>
                        </div>
                        <!-- prima riga Ragazzi -->
                        <div class="row col-12" id="ragazzi1">
                            <div class="col-4" id="h1">
                              <h6>Andrea</h6>
                            </div>
                            <div class="col-3">
                              <div class="md-form md-outline form-sm">
                                  <input type="text" formControlName="calAndrea" id="calAndrea" class="form-control form-control-sm" mdbInput>
                                  <label for="calAndrea">Cal</label>
                              </div>
                            </div>
                            <div class="col-3">
                              <div class="md-form md-outline form-sm">
                                  <input type="text" formControlName="oreAndrea" id="oreAndrea" class="form-control form-control-sm" mdbInput>
                                  <label for="oreAndrea">Ore</label>
                              </div>
                            </div>
                            <div class="col-2"></div>
                        </div>
                        <!-- seconda riga Ragazzi -->
                        <div class="row col-12" id="ragazzi2">
                            <div class="col-4" id="h2">
                                <h6>Fabio</h6>
                              </div>
                              <div class="col-3">
                                <div class="md-form md-outline form-sm">
                                    <input type="text" formControlName="calFabio1" id="calFabio" class="form-control form-control-sm" mdbInput>
                                    <label for="calFabio">Cal</label>
                                </div>
                              </div>
                              <div class="col-3">
                                <div class="md-form md-outline form-sm">
                                    <input type="text" formControlName="oreFabio1" id="oreFabio" class="form-control form-control-sm" mdbInput>
                                    <label for="oreFabio">Ore</label>
                                </div>
                              </div>
                              <div class="col-2"></div>
                        </div>
                        <!-- terza riga Ragazzi -->
                        <div class="row col-12" id="ragazzi3">
                            <div class="col-4" id="h3">
                              <h6>Gualty</h6>
                            </div>
                            <div class="col-3">
                              <div class="md-form md-outline form-sm">
                                  <input type="text" formControlName="calGualty1" id="calGualty" class="form-control form-control-sm" mdbInput>
                                  <label for="calGualty">Cal</label>
                              </div>
                            </div>
                            <div class="col-3">
                              <div class="md-form md-outline form-sm">
                                  <input type="text" formControlName="oreGualty1" id="oreGualty" class="form-control form-control-sm" mdbInput>
                                  <label for="oreGualty">Ore</label>
                              </div>
                            </div>
                            <div class="col-2"></div>
                        </div>
                        <!-- quarta riga Ragazzi -->
                        <div class="row col-12" id="ragazzi4">
                            <div class="col-4" id="h4">
                              <h6>Mosca</h6>
                            </div>
                            <div class="col-3">
                              <div class="md-form md-outline form-sm">
                                  <input type="text" formControlName="calMosca1" id="calMosca" class="form-control form-control-sm" mdbInput>
                                  <label for="calMosca">Cal</label>
                              </div>
                            </div>
                            <div class="col-3">
                              <div class="md-form md-outline form-sm">
                                  <input type="text" formControlName="oreMosca1" id="oreMosca" class="form-control form-control-sm" mdbInput>
                                  <label for="oreMosca">Ore</label>
                              </div>
                            </div>
                            <div class="col-2"></div>
                        </div>
                        <!-- quinta riga Ragazzi -->
                        <div class="row col-12" id="ragazzi5">
                            <div class="col-4" id="h5">
                              <h6>****</h6>
                            </div>
                            <div class="col-3">
                              <div class="md-form md-outline form-sm">
                                  <input type="text" formControlName="cal" id="cal" class="form-control form-control-sm" mdbInput>
                                  <label for="cal*">Cal</label>
                              </div>
                            </div>
                            <div class="col-3">
                              <div class="md-form md-outline form-sm">
                                  <input type="text" formControlName="ore" id="ore" class="form-control form-control-sm" mdbInput>
                                  <label for="ore*">Ore</label>
                              </div>
                            </div>
                            <div class="col-2"></div>
                          </div>
                        </div>
                        <!-- seconda colonna -->
                        <div class="col-6">
                            <div class="row col-12">
                                <div class="col-2"></div>
                                <div class="col-8">
                                  <h5>CONTI</h5>
                                </div>
                                <div class="col-2"></div>
                            </div>
                            <!-- prima riga Ragazzi -->
                            <div class="row col-12" id="ragazzi1">
                                <div class="col-3" id="h1">
                                  <h6>1</h6>
                                </div>
                                <div class="col-4">
                                  <div class="md-form md-outline form-sm">
                                      <input type="text" formControlName="tipoConti1" id="tipoConti1" class="form-control form-control-sm" mdbInput>
                                      <label for="tipoConti1">Tipo</label>
                                  </div>
                                </div>
                                <div class="col-3">
                                  <div class="md-form md-outline form-sm">
                                      <input type="text" formControlName="euro1" id="euro1" class="form-control form-control-sm" mdbInput>
                                      <label for="euro1">€</label>
                                  </div>
                                </div>
                                <div class="col-2"></div>
                            </div>
                            <!-- seconda riga Ragazzi -->
                            <div class="row col-12" id="ragazzi2">
                                <div class="col-3" id="h2">
                                    <h6>2</h6>
                                  </div>
                                  <div class="col-4">
                                    <div class="md-form md-outline form-sm">
                                        <input type="text" formControlName="tipoConti2" id="tipoConti2" class="form-control form-control-sm" mdbInput>
                                        <label for="tipoConti2">Tipo</label>
                                    </div>
                                  </div>
                                  <div class="col-3">
                                    <div class="md-form md-outline form-sm">
                                        <input type="text" formControlName="euro2" id="euro2" class="form-control form-control-sm" mdbInput>
                                        <label for="euro2">€</label>
                                    </div>
                                  </div>
                                  <div class="col-2"></div>
                            </div>
                            <!-- terza riga Ragazzi -->
                            <div class="row col-12" id="ragazzi3">
                                <div class="col-3" id="h3">
                                    <h6>3</h6>
                                  </div>
                                  <div class="col-4">
                                    <div class="md-form md-outline form-sm">
                                        <input type="text" formControlName="tipoConti3" id="tipoConti3" class="form-control form-control-sm" mdbInput>
                                        <label for="tipoConti3">Tipo</label>
                                    </div>
                                  </div>
                                  <div class="col-3">
                                    <div class="md-form md-outline form-sm">
                                        <input type="text" formControlName="euro3" id="euro3" class="form-control form-control-sm" mdbInput>
                                        <label for="euro3">€</label>
                                    </div>
                                  </div>
                                  <div class="col-2"></div>
                            </div>
                            <!-- quarta riga Ragazzi -->
                            <div class="row col-12" id="ragazzi4">
                                <div class="col-3" id="h4">
                                    <h6>4</h6>
                                  </div>
                                  <div class="col-4">
                                    <div class="md-form md-outline form-sm">
                                        <input type="text" formControlName="tipoConti4" id="tipoConti4" class="form-control form-control-sm" mdbInput>
                                        <label for="tipoConti4">Tipo</label>
                                    </div>
                                  </div>
                                  <div class="col-3">
                                    <div class="md-form md-outline form-sm">
                                        <input type="text" formControlName="euro4" id="euro4" class="form-control form-control-sm" mdbInput>
                                        <label for="euro4">€</label>
                                    </div>
                                  </div>
                                  <div class="col-2"></div>
                            </div>
                            <!-- quinta riga Ragazzi -->
                            <div class="row col-12" id="ragazzi5">
                                <div class="col-3" id="h5">
                                    <h6>5</h6>
                                  </div>
                                  <div class="col-4">
                                    <div class="md-form md-outline form-sm">
                                        <input type="text" formControlName="tipoConti5" id="tipoConti5" class="form-control form-control-sm" mdbInput>
                                        <label for="tipoConti5">Tipo</label>
                                    </div>
                                  </div>
                                  <div class="col-3">
                                    <div class="md-form md-outline form-sm">
                                        <input type="text" formControlName="euro5" id="euro5" class="form-control form-control-sm" mdbInput>
                                        <label for="euro5">€</label>
                                    </div>
                                  </div>
                                  <div class="col-2"></div>
                              </div>
                        </div>
                      </div>
                  </div>
                </form>
          </div>
          </mdb-card-text>
          </div>
          </div>
          </mdb-card-body>
        </mdb-card>
      </div>
  </section>
