/* You can add global styles to this file, and also import other style files */
mdb-select.mdb-select-outline .form-control {
  padding: 1.5px 0px!important;
  border: 1px solid #dadce0!important;
  border-radius: 4px!important;
  // margin-top: 24px;
}

mdb-select div div.single div.value {
  flex: 1!important;
  line-height: 24px!important;
  overflow: hidden!important;
  white-space: nowrap!important;
  text-overflow: ellipsis!important;
  padding-right: 1.2rem!important;
  margin-left: 4px!important;
  color: #292b2c!important;
  padding: 0 0 71px 3px!important;
  font-family: "Tahoma"!important;
  font-weight: 900!important;
  font-size: 0.8rem!important;
}

mdb-select.mdb-select-outline label.active {
  transform: translateY(4px) !important;
  background: #fff !important;
  font-weight: 900 !important;
  padding-left: 3px!important;
  padding-right: 3px!important;
  margin-left: 11px !important;
  margin-top: -20px !important;
  color: #3f729b !important;
  font-size: 0.7rem !important;
  font-family: "Tahoma" !important;
  z-index: 1 !important;
}

mdb-select div div.single div.placeholder {
  flex: 1!important;
  line-height: 24px!important;
  width: 80%!important;
  font-weight: 600;
  text-overflow: ellipsis!important;
  overflow: hidden!important;
  white-space: nowrap!important;
  color: #898989 !important;
  padding: 3px 6px 6px!important;
  font-family: "Tahoma"!important;
  font-size: 0.8rem !important;
}

mdb-select.mdb-select-outline label {
  padding-left: 6px!important;
  font-size: small!important;
  font-family: "Tahoma"!important;
  font-weight: 900!important;
}

mdb-select>label {
  color: #757575!important;
  font-size: 1rem!important;
  position: absolute!important;
  top: 8px!important;
  left: 0!important;
  transition: .2s ease-out!important;
  cursor: text!important;
  overflow: hidden!important;
  text-overflow: ellipsis!important;
  white-space: nowrap!important;
  max-width: 95%!important;
}

.mdb-select-toggle {
  float: right!important;
  color: #989898!important;
  line-height: 2rem!important;
  text-align: center!important;
  width: 30px!important;
  position: absolute!important;
  right: 0!important;
  top: calc(50% + 9.4px)!important;
  margin-top: -0.5rem!important;
  margin-right: -0.5rem!important;
  -webkit-transform: translateY(-50%)!important;
  transform: translateY(-50%)!important;
  font-size: 11px!important;
}

mdb-icon#fasWhite {
  background-color: white!important;
}

mdb-icon#prev {
  background: white!important;
}
mdb-icon#post {
  background: white!important;
}

.table th, .table td {
  padding: 0.3rem !important;
  vertical-align: top !important;
  border-top: 1px solid #dee2e6 !important;
}

.multiple {
  transform: translateY(4px) !important;
  background: #fff !important;
  font-weight: 900 !important;
  padding-left: 3px !important;
  padding-right: 3px !important;
  margin-left: 11px !important;
  margin-top: -20px !important;
  color: #3f729b !important;
  font-size: 0.7rem !important;
  font-family: "Tahoma" !important;
  z-index: 1 !important;
  width: 33%!important;
}

.multiselect-dropdown .dropdown-btn {
  display: inline-block!important;
  border: 1px solid #dadce0!important;
  width: 100%!important;
  padding: 6px 12px!important;
  margin-bottom: 0!important;
  font-weight: 900!important;
  line-height: 1.15!important;
  text-align: left!important;
  vertical-align: middle!important;
  cursor: pointer!important;
  background-image: none!important;
  border-radius: 4px!important;
}

mdb-icon.active.fas {
  //background-color: #7096b4!important;
  background-color: #07bb43!important;
}

.md-form mdb-select label.active {
  width: 50%!important;
}

mdb-icon.noGreen.active.fas{
  background-color: transparent!important;
}

th {
  color: #3f729b!important;
  border: 1px solid #dee2e6!important;
  font-family: "Tahoma"!important;
    font-weight: 900!important;
    font-style: normal!important;
}
.card .card-body h1, .card .card-body h2, .card .card-body h3, .card .card-body h4, .card .card-body h5, .card .card-body h6 {
  font-weight: 900!important;
  color: #3f729b!important;
}


mdb-icon#plus {
  background: transparent;
}

label#dataLabel {
  margin-top: 20px;
  margin-left: 10px;
  background-color: white;
  padding-left: 2px;
  padding-right: 2px;
}
label#dataLabel.active {
  margin-top: 2px;
  margin-left: 0px;
}

.bg-default {
  background-color: #0066ff!important;
}

.bg-verde {
  background-color: #127c52!important;
}

.bg-rosso {
  background-color: #ff0000!important;
}

.bg-giallo {
  background-color: #ffff00!important;
}
