<!--Section: Features v.1-->
<section class="mt-5">

  <!-- Grid row -->
  <div class="row font_custom">
    <div class="col-3">
      <div class="row d-flex justify-content-center">
        <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect (click)="goTo('utility_centrale')">CENTRALE</button>
      </div>
      <div class="row d-flex justify-content-center">
          <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect (click)="goTo('utility_piano')">PIANO</button>
      </div>
      <div class="row d-flex justify-content-center">
          <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect (click)="goTo('utility_professione')">PROFESSIONE</button>
      </div>
      <div class="row d-flex justify-content-center">
          <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect (click)="goTo('utility_tipoCliente')">TIPO CLIENTE</button>
      </div>
      <div class="row d-flex justify-content-center">
          <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect (click)="goTo('utility_tipoIntervento')">TIPOLOGIA INTERVENTO</button>
      </div>
      <div class="row d-flex justify-content-center">
          <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect (click)="goTo('utility_disdetta')">DISDETTA CONTRATTO</button>
      </div>
    </div>
    <div class="col-6">

      <div>
        <!-- definisco il div che racchiude l'input per l'inserimento del CENTRALE-->
        <div class="card-deck">
            <!-- Card -->
            <mdb-card>
              <!--Card content-->
              <mdb-card-body>
                <!--Title-->
                <mdb-card-title>
                  <h4 class="text-center font_custom">CALENDAR COLORS</h4>
                </mdb-card-title>
                <!--Text-->
                <mdb-card-text>
                  <table mdbTableEditor class="table text-center table-striped z-depth-1" [itemsPerPage]="visibleItems" #table="mdbEditor" (rowHighlight)="highlightedRow = $event">
                    <thead>
                    <tr>
                      <th *ngFor="let head of headElements" scope="col-3">{{head}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of table.performSearch(this.searchText); let i = index" (click)="setRadio(item)">
                      <td>{{item.nome}}</td>
                      <td>{{item.colore}}</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                      <td colspan="7">
                        <div class="d-flex flex-center">
                          <span>Visualizzati da {{table.paginationInfo.firstItem}} a {{table.paginationInfo.lastItem}} di {{table.paginationInfo.allItems}} risultati</span>
                          <div class="flex-1"></div>
                          <mdb-icon fas icon="angle-left" id="fasWhite" size="lg" (click)="table.prevPage()" class="p-2"
                                    [ngClass]="{'disabled text-muted': table.disablePrevious()}" mdbWavesEffect></mdb-icon>
                          <mdb-icon fas icon="angle-right" id="fasWhite" size="lg" (click)="table.nextPage()" class="p-2"
                                    [ngClass]="{'disabled text-muted': table.disableNext()}" mdbWavesEffect></mdb-icon>
                        </div>
                      </td>
                    </tr>
                    </tfoot>
                  </table>
                </mdb-card-text>
              </mdb-card-body>
            </mdb-card>
          </div>
    </div>
    </div>
    <div class="col-3">
      <div class="row d-flex justify-content-center">
          <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect (click)="goTo('utility_tipoLocale')">TIPO LOCALE</button>
      </div>
      <div class="row d-flex justify-content-center">
          <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect (click)="goTo('utility_numeri')">NUMERI</button>
      </div>
      <div class="row d-flex justify-content-center">
          <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect (click)="goTo('utility_iva')">IVA</button>
      </div>
      <div class="row d-flex justify-content-center">
          <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect (click)="goTo('utility_statoCivile')">STATO CIVILE</button>
      </div>
      <div class="row d-flex justify-content-center">
          <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect (click)="goTo('utility_servizio')">SERVIZIO</button>
      </div>
      <div class="row d-flex justify-content-center">
        <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect><mdb-icon far icon="calendar-alt"></mdb-icon>  CALENDAR COLORS</button>
      </div>
    </div>
  </div>

<div mdbModal #frame="mdbModal" class="modal fade right" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}" (opened)="setValue()" (close)="resetValue()">
  <div class="modal-dialog modal-full-height modal-right modal-notify modal-info" role="document">
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">Calendar colors</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true" class="white-text">×</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <mdb-icon far icon="calendar-alt" size="4x" class="mb-3 animated rotateIn"></mdb-icon>>
          <p><strong>Scegli il colore per il tuo calendario</strong></p>
        </div>

        <hr>

        <!-- Radio -->
        <form>
        <div class="form-check mb-4">
          <input class="form-check-input" type="radio" id="default"  (change)="change($event.target.id)" [checked]= "default"
            mdbInput>
          <label class="form-check-label" for="default">Default</label>
        </div>

        <div class="form-check mb-4">
          <input class="form-check-input" type="radio" id="verde" (change)="change($event.target.id)" [checked]= "verde"
            mdbInput>
          <label class="form-check-label" for="verde">Verde</label>
        </div>

        <div class="form-check mb-4">
          <input class="form-check-input" type="radio" id="rosso" (change)="change($event.target.id)" [checked]= "rosso"
            mdbInput>
          <label class="form-check-label" for="rosso">Rosso</label>
        </div>
        <div class="form-check mb-4">
          <input class="form-check-input" type="radio" id="giallo" (change)="change($event.target.id)" [checked]= "giallo"
            mdbInput>
          <label class="form-check-label" for="giallo">Giallo</label>
        </div>
        <!-- Radio -->
      </form>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="salvaColorSuDB()">Salva
          <mdb-icon far icon="save" class="ml-1"></mdb-icon>
        </a>
        <a type="button" mdbBtn color="primary" outline="true" class="waves-effect" data-dismiss="modal"
          mdbWavesEffect (click)="frame.hide()">Cancel</a>
      </div>
    </div>
  </div>
</div>
</section>
<!--Section: Features v.1-->
