<!--Section: Features v.1-->
<section class="text-center mt-5">

    <!--Section heading-->
    <h1 class="h1 py-5 font-weight-bold font_custom" id="title">TELERAPP</h1>

    <!--Grid row-->
    <div class="text-center">
    <div class="row ml-5 mr-5 mt-5" id="riga_icone">

      <!--Grid column-->
      <div class="col-md-3">
        <mdb-icon fas icon="users" size="3x" class="red-text" (click)="goTo('clientiAnagrafica')"></mdb-icon>
        <h3 class="font-weight-bold mt-3 font_custom">Clienti</h3>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-3">
        <mdb-icon far icon="calendar-alt" size="3x" class="cyan-text"></mdb-icon>
        <h3 class="font-weight-bold mt-3 font_custom">Appuntamenti</h3>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-3">
        <mdb-icon fas icon="phone-volume" size="3x" class="orange-text"></mdb-icon>
        <h3 class="font-weight-bold mt-3 font_custom">CT/CTC</h3>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-3">
        <mdb-icon fas icon="tools" size="3x" class="blue-text"></mdb-icon>
        <h3 class="font-weight-bold mt-3 font_custom">Utility</h3>
      </div>
      <!--Grid column-->

    </div>
  </div>
    <!--Grid row-->

  </section>
  <!--Section: Features v.1-->
