.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}

.font_custom{
	font-family: "Tahoma";
    font-weight: 400;
    font-style: normal;
}

#title{
  font-size: 60px;
}

div#riga_icone {
  margin: auto!important;
  margin-top: 5% !important;
  max-width: 80%;
}
