<section class="text-center mt-3">
    <div class="card-deck font_custom">
        <!-- Card -->
        <mdb-card>
          <!--Card content-->
          <mdb-card-body>
            <!--Title-->
            <div class="row" id="card_row">
                    <div class="col-2" id="icon_column">
                      <div class="row d-flex justify-content-center">
                          <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="ANAGRAFICA" placement="right" mdbWavesEffect><mdb-icon fas icon="home"  (click)="goTo('clientiAnagrafica')"></mdb-icon></a>
                      </div>
                      <div class="row d-flex justify-content-center">
                          <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="ALTRE INFO" placement="right" mdbWavesEffect><mdb-icon fas icon="info" class="active" (click)="goTo('clienti')"></mdb-icon></a>
                      </div>
                      <!-- <div class="row d-flex justify-content-center">
                          <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="MANUTENZIONE" placement="right" mdbWavesEffect><mdb-icon fas icon="toolbox" (click)="goTo('clientiManutenzione')"></mdb-icon></a>
                      </div> -->
                      <div class="row d-flex justify-content-center">
                          <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="IMPIANTO" placement="right" mdbWavesEffect><mdb-icon fas icon="diagnoses" (click)="goTo('clientiImpianto')"></mdb-icon></a>
                      </div>
                      <div class="row d-flex justify-content-center">
                          <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="PORTA BLINDATA" placement="right" mdbWavesEffect><mdb-icon fas icon="door-open" (click)="goTo('clientiPB')"></mdb-icon></a>
                      </div>
                      <!-- <div class="row d-flex justify-content-center">
                          <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="INTERVENTO" placement="right" mdbWavesEffect><mdb-icon fas icon="wrench" (click)="goTo('clientiIntervento')"></mdb-icon></a>
                      </div>
                      <div class="row d-flex justify-content-center">
                          <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="FATTURA" placement="right" mdbWavesEffect><mdb-icon fas icon="file-invoice-dollar" (click)="goTo('clientiFatture')"></mdb-icon></a>
                      </div>
                      <div class="row d-flex justify-content-center">
                          <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="E" placement="right" mdbWavesEffect><mdb-icon fas icon="euro-sign" (click)="goTo('clientiE')"></mdb-icon></a>
                      </div>
                      <div class="row d-flex justify-content-center">
                          <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbTooltip="CISA" placement="right" mdbWavesEffect><mdb-icon fas icon="key" (click)="goTo('clientiCISA')"></mdb-icon></a>
                      </div> -->
                    </div>
              <div class="col-11" id="component_column">
                 <div class="row">
                   <div class="col-6 mt-2">
                          <h4> {{ titolo }} </h4>
                   </div>
                   <div class="col-6">
                      <button mdbBtn id="save" type="button" *ngIf="save" color="success" (click)="salva()" outline="true" size="sm" mdbWavesEffect>SALVA</button>
                      <button mdbBtn id="edit" type="button" *ngIf="edit" color="warning" outline="true" size="sm" mdbWavesEffect>EDIT</button>
                      <button mdbBtn id="delete"  type="button" *ngIf="delete" color="danger" outline="true" size="sm" mdbWavesEffect>ELIMINA</button>
                   </div>
                 </div>
              <!--Text-->
              <mdb-card-text>
          <!-- seconda parte GENERALE-->
          <div class="row text-center mt-1" id="contenitore">
            <form [formGroup]="clientiGenerale" id="clientiGenerale" class="form">
            <div class="row">
                <!-- primaRiga -->
                <div class="row col-12" id="primaRiga">
                    <div class="col-4">
                        <!-- Material outline input -->
                        <div class="md-form md-outline form-sm">
                            <input type="text" id="presentatoDa" class="form-control form-control-sm" [(ngModel)]="presentatoDa" formControlName="presentatoDa" mdbInput>
                            <label for="presentatoDa">Cliente presentato da</label>
                          </div>
                    </div>
                    <div class="col-4">
                          <!-- Material outline input -->
                          <div class="md-form md-outline form-sm">
                          <input type="text" id="tipoCliente" class="form-control form-control-sm" [(ngModel)]="tipoCliente" formControlName="tipoCliente" mdbInput>
                          <label for="tipoCliente">Tipo cliente</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <!-- Material outline input -->
                        <div class="md-form md-outline form-sm">
                          <input type="text" id="sitoInternet" class="form-control form-control-sm" formControlName="sitoInternet" mdbInput>
                          <label for="sitoInternet">Sito Internet</label>
                        </div>
                  </div>
                </div>
                <!-- secondaRiga -->
                <div class="row col-12" id="secondaRiga">
                    <div class="col-6">
                        <!--Material textarea-->
                        <div class="md-form md-outline">
                          <textarea type="text" id="notaCiccolini" class="form-control md-textarea" rows="4" formControlName="notaCiccolini" mdbInput></textarea>
                          <label for="notaCiccolini">Nota Ciccolini</label>
                      </div>
                    </div>
                    <div class="col-6">
                        <!--Material textarea-->
                        <div class="md-form md-outline">
                          <textarea type="text" id="notaCliente" class="form-control md-textarea" rows="4" formControlName="notaCliente" mdbInput></textarea>
                          <label for="notaCliente">Nota Cliente</label>
                      </div>
                    </div>
                </div>
            </div>
          </form>
          </div>
          </mdb-card-text>
          </div>
          </div>
          </mdb-card-body>
        </mdb-card>
      </div>
  </section>
